In [1]:
#Definindo finais de semana
mes = "07"
lista_fds = ['06','07','13','14','20','21','27','28']

# Biblioteca e Funções

In [2]:
####################################-BIBLIOTECAS-####################################

#manipulação de dados
import pandas as pd
import numpy as np

#string e data
import unidecode #limpeza
import re #regex

#tempo
import time
from time import sleep

#web scraping
import requests
from bs4 import BeautifulSoup

#automação
from selenium import webdriver #navegador
from selenium.webdriver.common.keys import Keys #comandos do teclado
from selenium.webdriver.common.by import By 
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait #esperar
from selenium.webdriver.support.expected_conditions import (visibility_of, 
                                                           staleness_of, 
                                                           invisibility_of_element)
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import pyautogui #

import warnings #Warning inuteis
from pandas.errors import SettingWithCopyWarning
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

#manipulação do diretorio
import os

In [3]:
# FUNÇÕES XPATH
def xpath_element(xpath):
    return browser.find_element("xpath", xpath)

def xpath_click(xpath):
    try:
        xpath_element(xpath).click()
    except:
        sleep(2)
        xpath_element(xpath).click()
    
def xpath_send_keys(xpath, texto):
    xpath_element(xpath).send_keys(texto)
    
def xpath_clear(xpath):
    xpath_element(xpath).clear()

def existencia(caminho):
    elementos = browser.find_elements(By.XPATH, caminho)
    return bool(elementos)

In [4]:
#FUNÇÕES
def count_freq(data_frame, coluna):
    freq = df[coluna].value_counts()
    perc = df[coluna].value_counts(normalize = True)*100
    tabela = pd.DataFrame({"Freq":freq, "Perc":perc})
    return display(tabela)

def salvando_nome_arquivo(nome_arquivo, dataframe):
    if os.path.exists(nome_arquivo): #O nome_arquivo existe
        df1 = pd.read_excel(nome_arquivo)
        len_antigo = len(dataframe)
        
        dataframe = pd.concat([df1, dataframe]).reset_index(drop=True)
        dataframe = dataframe.drop_duplicates(subset=['chat'])
        
        print(len(df1), " += ", len_antigo, "=>", len(dataframe))
        
        dataframe.to_excel(nome_arquivo, index=False)
    
    else: #O nome_arquivo não existe
        dataframe.to_excel(nome_arquivo, index=False)
        print(len(dataframe))

# ===============================================

# Ligando navegador

In [5]:
#browser.quit(); sleep(5)
browser = webdriver.Firefox()

#fazendo login
browser.get('https://www.pegaplantao.com.br/login')
sleep(1)
xpath_send_keys('//*[@id="MainContent_LoginUser_UserName"]', 'gabriel_s_anjos@yahoo.com') #e-mail
xpath_send_keys('//*[@id="MainContent_LoginUser_Password"]', 'Gabriel2022!') #senha
xpath_click('//*[@id="MainContent_LoginUser_btnLogin"]') #login

In [6]:
browser.get('https://www.pegaplantao.com.br/EscalaMensal/old')

In [8]:
#click setor/profissional
xpath_click('//*[@id="s2id_autogen1"]/a/span[1]')

#click [profissional
xpath_click('//*[@id="select2-drop"]/ul/li[2]/div')

# Capturando setores:

In [9]:
#click criar novo plantão
def criar_plantao():
    xpath_click('//*[@id="shift-monthly"]/div[2]/table/tbody/tr[1]/td[4]/button')
criar_plantao()

def esperar_elemento_aparecer(elemento, tempo):
    sleep(0.5)
    WebDriverWait(browser, tempo).until(visibility_of(xpath_element(elemento)))

sleep(2)
esperar_elemento_aparecer('//*[@id="service-ckb-list-all-owner"]', 10)
print('apareceu')

def esperar_elemento_desaparecer(elemento, tempo):
    sleep(0.5)
    WebDriverWait(browser, tempo).until_not(visibility_of(xpath_element(elemento)))

apareceu

In [10]:
#CAPTURANDO DADOS DO UNIDADE E SETOR
xpath_click('//*[@id="s2id_ddlServiceSector"]/a/span[1]')
setor_html = xpath_element('//*[@id="select2-drop"]/ul').get_attribute('outerHTML')
soup = BeautifulSoup(setor_html, 'html.parser')

lista_unidade = []
lista_unidade_count = []
lista_plt = []
lista_plt_count = []

count_unidade = 1

for i in soup.find_all(class_="select2-results-dept-0 select2-result select2-result-unselectable select2-result-with-children"):
    #print('\n', i.find(class_='select2-result-label').get_text(), '====== \n')
    count_plt = 1
    for t in i.find_all(class_='select2-results-dept-1 select2-result select2-result-selectable'): 
        #print(t.get_text())
        lista_plt.append(t.get_text())
        lista_plt_count.append(count_plt)
        count_plt += 1

        lista_unidade.append(i.find(class_='select2-result-label').get_text())
        lista_unidade_count.append(count_unidade)
    count_unidade += 1

scrap_unidades = pd.DataFrame({'unidade':lista_unidade, 'momento':lista_plt,
                               'unidade_count':lista_unidade_count, 'plt_count':lista_plt_count})

scrap_unidades['momento'] = scrap_unidades['momento'].apply(lambda x: x.replace('  ',' '))

scrap_unidades['momento'] = scrap_unidades['momento'].apply(lambda x: unidecode.unidecode(x.replace('  ',' ').upper().strip()))
scrap_unidades['unidade'] = scrap_unidades['unidade'].apply(lambda x: unidecode.unidecode(x.replace('  ',' ').upper().strip()))
print('OK')

OK

In [11]:
#CARREGANDO OS DADOS PARA SUBIR NO PEGA PLANTÃO
df = pd.read_excel('df_gabs.xlsx') # df_gabs # df_continuar
df = df.sort_values(['nome', 'data']).reset_index(drop=True)

df['setor'][(df['setor'] == 'FDS - C.CIRURGICO ROTINA') & (df['unidade'] == 'SANTA ISABEL')] = 'FDS - MANHA - C.CIRURGICO'

print(len(df))
df.sample(3)

493

,chat,dia,nome,mensagem,controle,data,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds,unidade2
241,[24/07/2024 09:02:32] Luiz Augusto Xavier Bran...,24/07/2024,LUIZ AUGUSTO XAVIER BRANDAO,24/07 OSASCO LUIZ AUGUSTO ENTRADA 07:00,NaN,24/07/2024,OSASCO,NaN,ENTRADA,07:00,13:00,06:00,manha,2,SEMANA - MANHA - C.CIRURGICO,semana,OSASCO
69,[24/07/2024 14:23:14] Darlan Junior Schneider:...,24/07/2024,DARLAN JUNIOR SCHNEIDER,24/07 OSASCO - DARLAN ENTRADA 09:00,NaN,24/07/2024,OSASCO,NaN,ENTRADA,09:00,13:00,04:00,manha,2,SEMANA - MANHA - C.CIRURGICO,semana,OSASCO
414,[25/07/2024 11:15:51] Rodrigo Miyashiro Nunes ...,25/07/2024,RODRIGO MIYASHIRO NUNES DOS SANTOS,25/07 MORUMBI - MIYASHIRO ENTRADA 11:00,NaN,25/07/2024,MORUMBI,NaN,ENTRADA,11:00,13:00,02:00,manha,2,SEMANA - MANHA - C.CIRURGICO,semana,MORUMBI

## Pareando Setores

In [12]:
setores = pd.read_excel("LocaiseSetores.xlsx")
print(setores.shape)

setores = setores.dropna() #
setores = setores.reset_index(drop=True)

for coluna in ['Local', 'Setor', 'Mudou para:']:
    setores[coluna] = setores[coluna].apply(lambda x: unidecode.unidecode(x).upper().strip())
    setores[coluna] = setores[coluna].apply(lambda x: x.replace('  ', ' '))
    setores[coluna] = setores[coluna].apply(lambda x: x.replace('  ', ' '))

print(setores.shape)
setores.sample(5)

(230, 5)
(217, 5)

,Código,Local,Setor,Situação,Mudou para:
60,9.0,OSASCO,SEMANA - MANHA - COBERTURA EXTRA,Habilitado,04.3 - SEMANA - COBERTURA EXTRA
156,1.0,ANALIA,FDS - D3 - SEGUNDO (B),Habilitado,15 - FDS - D3 (B)
183,10.0,ALPHA,FDS - D1,Habilitado,19 - FDS - D1
202,0.0,ADMINISTRACAO,PERIODO DE DESCANSO - 4,Habilitado,PERIODO DE DESCANSO - 4
66,6.0,MATERNIDADE,SEMANA - TARDE - COBERTURA EXTRA,Habilitado,04.4 - SEMANA - COBERTURA EXTRA

In [13]:
df['setor_antigo'] = df['setor']

for unidade_df in df['unidade'].unique():
    for setor_df in df['setor'][df['unidade'] == unidade_df].unique():
    
        setores_filter = setores[(setores['Local'] == unidade_df) & ((setores['Setor'] == setor_df) | (setores['Mudou para:'] == setor_df))]
        if len(setores_filter) >= 1:
            #print(unidade_df, '|', setor_df, '===========================')
            #print('encontrado')

            df['setor'][(df['unidade'] == unidade_df) & (df['setor'] == setor_df)] = setores['Mudou para:'][setores_filter.index.values[0]]

            pass
        else:
            print(unidade_df, '|', setor_df, '=!=!=!=!=!=!=!=!=!=!=!=!=!=!')
            print('não encontrado')

In [14]:
#TESTANDO COMPATIBILIDADE DOS DADOS CAPTURADOS E DADOS CARREGADOS
for X in range(0, len(df)):
    if len(scrap_unidades.loc[(scrap_unidades.unidade == df['unidade'][X]) & 
                                 (scrap_unidades.momento == df['setor'][X])]) < 1:
        print(X)
        print(df['unidade'][X], '-', df['setor'][X])
        #print('index', ind)
        #print(scrap_unidades['unidade'][ind], '-', scrap_unidades['momento'][ind])
        #print('codigos:', unidade, setorzin)
        

print("="*20, "TUDO OK", "="*20)

==================== TUDO OK ====================

In [15]:
print(df['setor'].unique())

['04 - SEMANA - CENTRO CIRURGICO' '07 - NOTURNA - SAIDA APOS 19HS'
 '01 - NOTURNA - ENTRADA ANTES DAS 07HS'
 '04.1 - SEMANA - CENTRO CIRURGICO']

In [16]:
print(df['setor'].unique())

df['setor_inicio'] = np.nan
for i in range(len(df)):
    corte = df['setor'][i].find('-')
    texto = df['setor'][i][:corte].strip()
    df['setor_inicio'][i] = texto

print(df['setor_inicio'].unique())

['04 - SEMANA - CENTRO CIRURGICO' '07 - NOTURNA - SAIDA APOS 19HS'
 '01 - NOTURNA - ENTRADA ANTES DAS 07HS'
 '04.1 - SEMANA - CENTRO CIRURGICO']
['04' '07' '01' '04.1']

# Funções Selenium

In [17]:
def subir_pg():
    browser.execute_script("window.scrollTo(0, 0);")

In [18]:
def reset_selecao():
    #xpath_click('/html')#; sleep(0.3)
    #xpath_click('/html')

    posicao_antiga = pyautogui.position() 
    pyautogui.click(x=200, y=158); sleep(0.3)
    pyautogui.click(x=200, y=158)
    pyautogui.moveTo(posicao_antiga) 


def fechar_caixa_de_selecao():
    # Localiza um elemento que é seguro para clicar (por exemplo, o corpo da página)
    elemento_seguro = browser.find_element(By.TAG_NAME, 'body')
    # Cria uma ação para clicar no elemento seguro
    ActionChains(browser).move_to_element(elemento_seguro).click().perform()


def reset_selecao1():
    reset_selecao2()
    #fechar_caixa_de_selecao(); sleep(0.3)
    #fechar_caixa_de_selecao()

    posicao_antiga = pyautogui.position() 
    pyautogui.click(x=200, y=158); sleep(0.3)
    pyautogui.click(x=200, y=158)
    pyautogui.moveTo(posicao_antiga)


def reset_selecao2():
    posicao_antiga = pyautogui.position() 
    pyautogui.click(x=200, y=158); sleep(0.3)
    pyautogui.click(x=200, y=158)
    pyautogui.moveTo(posicao_antiga) 
reset_selecao2()

In [19]:
#selecionando setor
def setor(unidade, setor):
    #print('base:', unidade, '-', setor)
    xpath_click('//*[@id="s2id_ddlServiceSector"]/a/span[1]')
    ind = scrap_unidades.loc[(scrap_unidades.unidade == unidade) & 
                             (scrap_unidades.momento == setor)].index.values[0]
    unidade_sel = scrap_unidades['unidade_count'][ind]
    setor_sel = scrap_unidades['plt_count'][ind]
    xpath_click('//*[@id="select2-drop"]/ul/li['+str(unidade_sel)+']/ul/li['+str(setor_sel)+']/div')   
setor("SANTA ISABEL", '04 - SEMANA - CENTRO CIRURGICO')

#inserir e selecionar profissional
def nome_func(nome_profissional):
    #listar todos
    xpath_click('//*[@id="service-ckb-list-all-owner"]')
    
    xpath_click('//*[@id="service-ckb-list-all-owner"]')
    xpath_click('//*[@id="service-ckb-list-all-owner"]')
    sleep(0.3)
    xpath_click('//*[@id="s2id_ddlProfessionalA"]/a/span[1]')
    xpath_send_keys('//*[@id="select2-drop"]/div/input', nome_profissional)
    #Dando enter
    xpath_send_keys('//*[@id="select2-drop"]/div/input', Keys.RETURN)
nome_func('OTTO MITTERMAYER')

#inserir horario e duração
def hora(inicio, duracao):
    #Inicio do plantão
    xpath_clear('//*[@id="txtServiceStartTime"]')
    xpath_send_keys('//*[@id="txtServiceStartTime"]', inicio)
    sleep(0.3)
    xpath_clear('//*[@id="txtServiceDuration"]')
    xpath_send_keys('//*[@id="txtServiceDuration"]', duracao)
hora('13:30', '05:00')

In [20]:
#inserir data
def data_func(data_selecionada):
    data_selecionada = str(data_selecionada)
    i_chato2 = str(5) #4 e 5
    i_chato = str(3) #2 e 3

    xpath_clear('/html/body/div['+i_chato2+']/div/div[2]/div[2]/div[5]/div[1]/div[2]/div/div[2]/div[1]/div['+i_chato+']/input[1]')
    #xpath_clear('/html/body/div[4]/div/div[2]/div[2]/div[5]/div[1]/div[2]/div/div[2]/div[1]/div[3]/input[2]')
    sleep(0.3)
    
    xpath_send_keys('/html/body/div['+i_chato2+']/div/div[2]/div[2]/div[5]/div[1]/div[2]/div/div[2]/div[1]/div['+i_chato+']/input[1]', data_selecionada)
    #xpath_send_keys('/html/body/div[4]/div/div[2]/div[2]/div[5]/div[1]/div[2]/div/div[2]/div[1]/div[3]/input[2]', data_selecionada)
    reset_selecao2()
data_func("15/07/2024")

In [21]:
def tipo_registro_func(i):
    xpath_click('//*[@id="s2id_add-service-service-types"]/a/span[1]')
    sleep(0.5)

    xpaths = [
        '/html/body/div[12]/div/input',
        '/html/body/div[11]/div/input',
        '/html/body/div[10]/div/input',
        '/html/body/div[9]/div/input',
        '/html/body/div[8]/div/input',
        '/html/body/div[7]/div/input',
        '/html/body/div[6]/div/input',
    ]

    for xpath in xpaths:
        try:
            xpath_send_keys(xpath, i)
            sleep(1)
            xpath_para_clicar = xpath[:xpath.find(']')+1] + '/ul/li/div'
            xpath_click(xpath_para_clicar)
            return  # Sai da função se encontrar um xpath que funcione
        except:
            continue  # Tenta o próximo xpath se ocorrer uma exceção
    
    print('erro')  # Imprime 'erro' se nenhum xpath funcionar

tipo_registro_func('VOLUNTÁRIO')

In [39]:
#inserindo pontuação
def pontuacao(pontos): # NÃO SE ALTERA MAIS
    #xpath_clear('//*[@id="txtServiceValue"]')
    #xpath_send_keys('//*[@id="txtServiceValue"]', pontos) #Pontos
    pass

pontuacao("666")

#selecionar tipo de plantão e ajustando tempo
def tipo_do_registro(duracao, sem_ou_fds, tipo_registro):
    if tipo_registro == 'extra':
        print('EXTRA')
        sleep(0.5)
        reset_selecao2()
        sleep(1)
        tipo_registro_func('VOLUNTÁRIO') #escrevendo
        if int(duracao[:2]) >= 5 and sem_ou_fds == "semana":
            pontuacao(200)
            pontuacao(200)
            print('duração >= 5 => 200 pontos')
        else:
            pass
    elif tipo_registro == 'DESLOCADO':
        pass
        #print('DESLOCADO')
        #sleep(1)
        #reset_selecao2()
        
        #xpath_click('//*[@id="s2id_add-service-service-types"]/a/span[1]')
        #xpath_send_keys('/html/body/div[11]/div/input', 'VOLUNTÁRIO') #escrevendo
        #xpath_click('/html/body/div[11]/ul/li/div') #clicando no primeiro
        #if int(duracao[:2]) >= 5 and sem_ou_fds == "semana":
        #    pontuacao(100)
        #    pontuacao(100)
        #    print('duração >5 -> 100 pontos')
        #else:
        #    pass
        #sleep(1)
    else:
        if int(duracao[:2]) >= 5 and sem_ou_fds == "semana":
            pontuacao(100)
            pontuacao(100)
            print('duração >5 -> 100 pontos')
        else:
            pass
        sleep(1)

#tipo_do_registro("05:00", "semana", "extra")
#tipo_do_registro(df['DURAÇÃO'][h], df['sem_ou_fds'][h], df['extra'][h])

In [40]:
def apagando_registro():
    chatao = str(5) #4 ou 5
    #Apagando
    browser.find_element("xpath", '/html/body/div['+chatao+']/div/div[1]/div[2]/button[1]').click()
    #Clicando em continuar
    sleep(0.5)
    browser.find_element("xpath", '/html/body/div['+chatao+']/div/div[1]/div[3]/button[2]').click()
#apagando_registro()

In [24]:
def insistindo_no_xpath(xpathzinho):
    xpath_click(xpathzinho)
    try:
        esperar_elemento_desaparecer(xpathzinho, 10)
    except:
        xpath_click(xpathzinho)

#########################################################

#salvando plantão
def salvar_plantao():
    xpathzinho = '//*[@id="modal-add-service"]/div/div[1]/div[2]/button[4]'
    xpath_click(xpathzinho)
#salvar_plantao()

#fechando plantão
def fechar():
    xpathzinho = '//*[@id="modal-add-service"]/div/div[1]/button'
    xpath_click(xpathzinho)
#fechar()

#atualizando plantão
xpath_atualizar = '/html/body/div[5]/div/div[1]/div[2]/button[5]'
#xpath_atualizar = '/html/body/div[4]/div/div[1]/div[2]/button[5]'
def atualizando_plantao():
    xpath_click(xpath_atualizar)
atualizando_plantao()

# Função Tabela

In [25]:
######### ######### FUNÇÃO DE CAPTURA ######### ######### 

#pacotes para manipular data
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

#capturando registros
unidades = [
            'ADMINISTRACAO','ALPHA','ANALIA',
            'CENTRAL DO TATUAPE',
            'HOSPITAIS EXTERNOS','HOSPITAL PARA TESTE',
            'ITAIM',
            'JABAQUARA',
            'MATERNIDADE','MORUMBI',
            'OSASCO',
            'SANTA ISABEL',
            'VILLA','VNS'
            ]

def funcao():
    lista_tabela = []
    for i in range(1, 6): #passando por cada semana[1 a 5]
    ##print('semana:', i, "=="*20)
        for t in range(1, 8): #passando por cada dia[1 a 7] dentro da semana
            reg = xpath_element('/html/body/form/main/div[2]/div[2]/table/tbody/tr['+str(i)+']/td['+str(t)+']').text
            content = reg.splitlines() #deixando as palavras em um item dentro de uma lista
            content = [unidecode.unidecode(i.strip().upper()) for i in content] #tratando cada palavra

            dia = content[0] #dia do registro
            del(content[0]) #deletando o dia, ja que foi coletado
            del(content[-1]) #deletando residuo do wepscraping

            if len(content) != 0: #ignorando dias em branco (sem registro) ¹
                #print('dia:', t)

                ##print('dia:', dia)
                #print(content)

                count_hora = 0 #count para capturar a hora de entrada e saida, count=1(entrada) | count=2(saida)
                lista_control = []
                for y in content: #passando um for sobre cada item da lista
                    if y in unidades: # capturando a unidade e dando inicio a novo registro novo
                        #print('================unidade:', y)
                        unidade = y
                    elif y[2] == ':': #reconhecendo se o item é hora (HH*:*mm)
                        count_hora += 1
                        if count_hora == 1: #capturando entrada
                            #print('hora entrada:', y)
                            lista_control.append(y)
                        elif count_hora == 2: #capturando saida
                            #print('hora saida:', y)
                            lista_control.append(y)
                            ##print('lista teste', lista_control)
                            lista_tabela.append(lista_control)
                            lista_control = []
                            count_hora = 0
                    else: #capturando dia, unidade, e periodo
                        #print('.')
                        #print('periodo:', y)
                        lista_control.append(dia)
                        lista_control.append(unidade)
                        lista_control.append(y)
                        lista_control.append(i)
                        lista_control.append(t) #dia semanal

                ##print('='*20)    

            else:
                continue #ignorando dias em branco (sem registro) ²
    
    tabela = pd.DataFrame(lista_tabela, columns = ['Dia','Unidade','Periodo','Semana','Dia Semana','Entrada','Saida'])
    
    #limpeza da tabela
    #########3
    tabela['Dia'] = tabela['Dia'].apply(lambda x: int(x))

    #recolhendo os dias do mes passado que ainda aparecem na primeira semana
    dias_mes_passado = list(tabela[(tabela['Dia'] > 20) & (tabela['Semana'] == 1)].index) 
    tabela.drop(dias_mes_passado, axis=0, inplace=True) #excluindo
    tabela.reset_index(drop=True, inplace=True) #resetando index

    #Inserindo a ordem dos registros
    tabela['ordem'] = ''

    for i in tabela['Dia'].unique():
        for t in range(0, len(tabela[tabela['Dia'] == i].index)):
            tabela['ordem'][tabela[tabela['Dia'] == i].index[t]] = t+1

    #Inserindo coluna de data        
    tabela['data'] = tabela['Dia'].apply(lambda x: str(x))

    for i in range(len(tabela)):
        if len(tabela['data'][i]) == 1:
            tabela['data'][i] = "0" + tabela['data'][i]

        tabela['data'][i] = tabela['data'][i] + "/" + mes + "/2024" 

    tabela = tabela.query("Unidade != 'ADMINISTRACAO'")
    tabela = tabela[~((tabela['Semana'] >= 5) & (tabela['Dia'] < 10))]
    tabela.reset_index(drop=True, inplace=True) #resetando index
    
    tabela['PERIODO'] = np.nan
    for i in range(0, len(tabela)):
        if int(tabela['Entrada'][i][:2]) <= 6:
            tabela['PERIODO'][i] = '6h'
        elif int(tabela['Entrada'][i][:2]) >= 7 and int(tabela['Entrada'][i][:2]) <= 12:
            tabela['PERIODO'][i] = 'manha'
        elif int(tabela['Entrada'][i][:2]) >= 13 and int(tabela['Entrada'][i][:2]) <= 18:
            tabela['PERIODO'][i] = 'tarde'
        else:
            tabela['PERIODO'][i] = 'noturno saida'

    tabela['periodo'] = np.nan
    tabela['periodo'][tabela['PERIODO'] == '6h'] = 1
    tabela['periodo'][tabela['PERIODO'] == 'manha'] = 2
    tabela['periodo'][tabela['PERIODO'] == 'tarde'] = 3
    tabela['periodo'][tabela['PERIODO'] == 'noturno saida'] = 4
    
    return tabela
    
tabela = funcao()
tabela.head()

,Dia,Unidade,Periodo,Semana,Dia Semana,Entrada,Saida,ordem,data,PERIODO,periodo
0,3,ANALIA,01 - NOTURNA - ENTRADA ANTES DAS 07HS,1,3,06:00,07:00,1,03/07/2024,6h,1.0
1,3,ANALIA,04 - SEMANA - CENTRO CIRURGICO,1,3,07:00,13:00,2,03/07/2024,manha,2.0
2,3,ANALIA,04.1 - SEMANA - CENTRO CIRURGICO,1,3,13:00,19:00,3,03/07/2024,tarde,3.0
3,3,ANALIA,07 - NOTURNA - SAIDA APOS 19HS,1,3,19:00,20:00,4,03/07/2024,noturno saida,4.0
4,4,ANALIA,01 - NOTURNA - ENTRADA ANTES DAS 07HS,1,4,06:00,07:00,1,04/07/2024,6h,1.0

# CAPTURANDO DADOS

## Nomes

In [26]:
def diferenca_horas(horario_inicial, horario_final):
    formato = "%H:%M"
    horario_inicial = datetime.strptime(horario_inicial, formato)
    horario_final = datetime.strptime(horario_final, formato)
    diferenca = horario_final - horario_inicial
    if diferenca.days < 0:
        diferenca = horario_inicial - horario_final
        return diferenca.total_seconds() / 60 * (-1)
    else:
        return diferenca.total_seconds() / 60

In [27]:
# Selecionar nome
def xpath_estranho(i):
    xpaths = [
        '/html/body/div[12]/div/input',
        '/html/body/div[11]/div/input',
        '/html/body/div[10]/div/input',
        '/html/body/div[9]/div/input',
        '/html/body/div[8]/div/input',
        '/html/body/div[7]/div/input',
        '/html/body/div[6]/div/input',
    ]
    
    for xpath in xpaths:
        try:
            xpath_send_keys(xpath, i)
            return  # Sai da função se encontrar um xpath que funcione
        except:
            continue  # Tenta o próximo xpath se ocorrer uma exceção
    
    print('erro')  # Imprime 'erro' se nenhum xpath funcionar
#xpath_estranho(i)

In [28]:
xpath_click('//*[@id="s2id_ddlProfessionals"]/a') #barra de nome
sleep(2)

html = browser.find_element("xpath", '//*[@id="select2-drop"]/ul').get_attribute('outerHTML') #
soup_nome = BeautifulSoup(html, 'html.parser')
#soup_nome
NOMES = []
for i in soup_nome.find_all(class_ ="select2-results-dept-0 select2-result select2-result-selectable"):
    #print(i.get_text())
    NOMES.append(i.get_text())
#del(NOMES[0])

reset_selecao()
display(NOMES)
print(len(NOMES))

['Nada Selecionado',
 'ALEXANDRE AMARAL LUCAS',
 'ALEXANDRE BERNARDINO',
 'ALEXSANDER TAKASHI HAMADA',
 'ALINE FRANCHINI GOULART LIMA',
 'AMANDA KIYOKO SOUZA KOSSAKA',
 'ANA CLARA MOURÃO BARRETO',
 'ANA GABRIELA GEWEHR VALE SALMEN',
 'ANA JUNG DOCKO',
 'ANDRÉ AUGUSTO BELLINI',
 'ANDRÉ DA COSTA AGUIAR VENTURA',
 'ANDRÉ LUIS XAVIER FRANCO',
 'ANDRÉ MORTARI PLÁ GIL',
 'ANDRÉIA LOUREIRO MORI',
 'ANNA BEATRIZ ARANHA TREVISAN',
 'ANTONIO ALVARO DIAS LIMA DA CUNHA NETO',
 'ARTHUR OLIVEIRA FACCHINI',
 'ARTHUR RODRIGUES TORRELIO',
 'AUGUSTO DE CASTRO SANTOS QUEIROZ',
 'BEATRIZ ANTIPOU DOS SANTOS',
 'BIANCA PRISCILA BUNIOTTI',
 'BRIAN SOSSAI PACHECO',
 'BRUCE YE MAN CHOW',
 'BRUNA DAIBERT DANESIN',
 'BRUNO FERRAZ DE CAMPOS BARONE',
 'BRUNO STORNIOLI TAGUCHI LEMOS',
 'CAIO TULIO DUARTE',
 'CAMILA CHIARANTANO HARRISON',
 'CAMILA RESENDE DE PAULA',
 'CARLOS AUGUSTO TREVISAN',
 'CARLOS EDUARDO CORRÊA GRILO',
 'CARLOS EDUARDO GONDIM OLIVEIRA',
 'CAROLINE FIRMINO LEMES DA SILVA',
 'CLAUDIO MUELLER KAKUDA',
 'DANIEL MASUZAKI WONG',
 'DANIEL RODRIGUES DE OLIVEIRA',
 'DANIELLEN LINS LOURENÇO',
 'DARLAN JUNIOR SCHNEIDER',
 'DÉBORA ALVES AUDE',
 'DÉBORA PHILIPPI BRESSANE',
 'DENIO LOPES DE ALMEIDA',
 'DIEGO DA CUNHA TOMAZ',
 'DIOGO CANDEO RODRIGUES CORDEIRO',
 'DIOGO HENRIQUE PEREIRA MATTOS',
 'EDUARDO ARBACHE BEZERRA',
 'EDUARDO DALA ROSA SOARES',
 'ELAINE IMAEDA DE MOURA',
 'ELISETE BEATRIZ VIANA',
 'EMERSON DOMINGOS DA COSTA',
 'ERICK OLIVEIRA LIMA GOMES',
 'ESTANRLEY BARCELOS PINTO',
 'ETTORI AUGUSTO ZACHARIAS DE ALMEIDA',
 'EVERTON SIDNEY DA CONCEIÇÃO CARVALHO',
 'FABIANA BARBOSA BASTOS',
 'FABIANA SOARES GAMA',
 'FÁBIO ANTÔNIO DE SOUZA OLIVEIRA',
 'FÁBIO YUJI SUGUITA',
 'FELIPE COELHO DE SOUZA',
 'FELIPE DE OLIVEIRA NUNES',
 'FERNANDA TELES RIBEIRO',
 'FERNANDO AKIRA KOGA',
 'FERNANDO NARDY BELLICIERI',
 'FERNANDO RIBEIRO SÁ',
 'FILIPE LUGON MOULIN LIMA',
 'FILIPE MAEDA HASHI ABDALLA MARTINS',
 'FLÁVIO HIDEKI OSHIKA',
 'FLÁVIO MAIA CASTILHO',
 'FLÁVIO ROSA FIGUEIREDO SOUZA',
 'FRANCISCO ANTONIO ALVES BONATTO',
 'FRANCISCO JOSÉ LUCENA BEZERRA',
 'GABRIEL DE AGUIAR SANTANA',
 'GABRIELA DE FARIA BIZARRIA',
 'GABRIELA MEIRELES LINHARES DE ARAUJO',
 'GABRIELA SANTOS MENEZES',
 'GABRIELA SOARES PIASSI',
 'GABRIELLA GADELHA SARMENTO',
 'GRETEL OLIVEIRA NICOLAU',
 'GUILHERME DE ALMEIDA COSTA',
 'GUILHERME PETRY MARTINS PEREIRA',
 'GUILHERME SILVEIRA LOPES',
 'GUSTAVO ALVARENGA BICALHO',
 'GUSTAVO MARQUES DA SILVA',
 'HEDICLEBER PESTANA SEVERINO',
 'HELENA ARAUJO DAMASCENO',
 'HENRI ROGER WATANABE OLIVEIRA',
 'ICARO DE MOURA SOUSA',
 'ISABELA MATTARELLI SOUZA CARLI',
 'ISAQUE CAMILO DA SILVA',
 'IVÃ BARBOSA SOARES',
 'IZABELA CAMILA SOUZA FERREIRA',
 'IZABELA CRISTINA ALMEIDA DUARTE',
 'JÉSSICA LÍDIA DE SOUZA',
 'JOÃO EVARISTO DE CASTRO BARRETO',
 'JOSÉ CARLOS TUNA SCARPA',
 'JOSÉ MARCOS VIEIRA DA SILVA',
 'JULIANA AKEMI FUNABASHI',
 'JULIANA HUSSEIN',
 'JULIANA SANTOS SABOIA',
 'JULIANO MOISÉS TOBAL',
 'KAIÊ FERNANDES',
 'KAREN CAVICHINI ROSSETO',
 'KAREN MANOELA ROSA',
 'KAREN PEIXOTO RICCI',
 'KAREN YUMI MIYASHIRO',
 'KAROLINE BECKER PARABONI',
 'KAWAN RAMIS RODRIGUES',
 'LAIS RIBEIRO TEIXEIRA',
 'LARISSA MAYUMI ONO',
 'LEANDRO EDUARDO FRANÇA',
 'LEANDRO KENDI KANADA',
 'LEANDRO MACHADO DEORCE',
 'LEANDRO OLIVEIRA MARTINS CÔRTES',
 'LEONARDO BARBOSA SANTOS',
 'LEONARDO DE PAULA SOUZA',
 'LEOPOLDO MUNIZ DA SILVA',
 'LETÍCIA FERNANDES BORGES',
 'LÍVIA SCHENKEL THURLER TRAIRI',
 'LIVIA VALVERDE FAJARDO',
 'LUCAS SILVA MARTINS',
 'LUCCAS VARELA GODOY',
 'LUCIANO ANGELO RICHETTI',
 'LUDMYLLA GOMES NEVES',
 'LUIZ AUGUSTO XAVIER BRANDÃO',
 'LUIZ GUILHERME THOMAZ ZACHARIAS',
 'MAIELY MARCOLIN',
 'MAÍRA LEITE BASILE',
 'MANOEL CÉLIO MOURA JUNIOR',
 'MANOEL DE SOUZA NETO',
 'MANUELA AFFONSO FERREIRA SANGED',
 'MARCELA APARECIDA CORREA MARTINS',
 'MARCELA LEITE ROSIGNOLI',
 'MARCELLA PELLICCIOTTI DE SOUZA',
 'MARCELO DE OLIVEIRA PERES',
 'MARCELO DOS ANJOS REIS',
 'MARCELO FELIPE DE SOUZA BUTO',
 'MARCELO MAIA DA SILVEIRA',
 'MARCELO SEIJI TAKAOKA',
 'MÁRCIO IGHOR AZEVEDO SILVA DE MENDONÇA MELÂNIA',
 'MARCOS BASTOS DOS SANTOS',
 'MARCOS ROGÉRIO PEREIRA MACHADO FILHO',
 'MARCOS VINÍCIUS COSTA CARVALHO',
 'MARIA CAROLINA CELIA SILVEIRA',
 'MARIA CECÍLIA DOMINGUES DA SILVA SOARES',
 'MARIA TERESA SOUZA GOMES',
 'MARIANA DARDENGO BORGES',
 'MARIANA GASPARELLI DE SOUZA',
 'MARINA BORGES CURRALO',
 'MARINA PONTES MOURA NASCIMENTO E SILVA',
 'MATHEUS ACQUESTA GAUBEUR',
 'MATHEUS CARDOZO JANIQUES',
 'MATHEUS DE ALENCAR ARRAES',
 'MATHEUS VIANA LEMO',
 'MAURÍCIO FARIA TETTI',
 'MAXVILANO LIMA DE MACEDO',
 'MAYANE GUEDES GONÇALVES',
 'MILTON OLAIO NETO',
 'MIRELA FARIAS FIGUEIRÔA',
 'MOABE GONÇALVES DE OLIVEIRA',
 'MÔNICA ROBLES GONÇALVES',
 'NÁDIA MUNHOZ PONCE',
 'NARA YAMANE DOS SANTOS',
 'NATALIA MAIA QUEIROZ',
 'NATALIA NUNES SANTOS',
 'NATALIA YUME HISSAYASU MENEZES',
 'NATAN SOARES SILVEIRA',
 'NATHÁLIA FANUCCI OLIVEIRA DI JORGE',
 'NATHALIA SOARES RODRIGUES GOMES',
 'NELIANE GUEDES PRETTI',
 'NORIVAL SCANDELAI JÚNIOR',
 'NUBIO CRALCEV LOPES',
 'ORLANDO DOMINGUES DE ARAÚJO PONTES',
 'Otto Mittermayer',
 'PALOMA KIYOMI TAGUCHI LEMOS',
 'PAOLA RODRIGUES OSHIRO',
 'PATRICK ALEXANDER SAUER SCHUES',
 'PAULA ANGÉLICA PINHA NEVES',
 'PAULA LOPES AGAPITO DE FREITAS',
 'PEDRO AUGUSTO TAVARES DALL AGLIO',
 'PEDRO BELINTANI DE MAIO',
 'PEDRO HENRIQUE DINIZ BOTELHO',
 'PEDRO HENRIQUE LUCAS DE MORAES',
 'PEDRO HENRIQUE MILHOMENS DA MOTA',
 'PEDRO PAULO SILVA FARAH',
 'PEDRO TIAGO BONFITTO',
 'PEDRO VICTOR MASSAROTO E SILVA',
 'RAFAEL QUEIROZ ARAUJO',
 'RAFAEL SOUZA FAVA NERSESSIAN',
 'RAFAEL TADEU MARQUES',
 'RAFHAEL SILVA LEAL',
 'RAIZA LUNA PEIXOTO',
 'RAPHAEL AULICINIO DOMINGUES',
 'RAPHAEL MOURA BRITTO',
 'RAUL FELIPE MALDONADO HERBAS',
 'RENATA PINHEIRO MODOLO',
 'RENATA TOGEIRO BASTOS GODOY DE FARIA',
 'RENATA TORRES BUENO',
 'RENATO DOS SANTOS BOREGA',
 'RICARDO BARBOSA VIANA FILHO',
 'RICARDO GIRALDELLI CARVALHO LIMA',
 'RICARDO IVO DE LIMA',
 'RICARDO KAWAURA',
 'RODRIGO ACHUI HAGA',
 'RODRIGO ANDRADE CARMELLO',
 'RODRIGO ANTONIO REY GONZALEZ',
 'RODRIGO GIOVANELLI CONSTANTINO',
 'RODRIGO GOMES MINAS NOVAS',
 'RODRIGO MARTINS PEREIRA',
 'RODRIGO MIYASHIRO NUNES DOS SANTOS',
 'ROGÉRIO SIDNEY THON',
 'RÔMULO SPOLIDORIO',
 'RONALD FIGUEIREDO GOMES',
 'SABRINA DE SOUZA RAMOS',
 'SAULLO QUEIROZ SILVEIRA',
 'SÉRGIO ZAMITH',
 'SHEILA ITIROCO MONTE',
 'SIDNEY ORLANDO DE SOUZA',
 'SILVIA ALINE DOS SANTOS ANDRADE',
 'STEFANY HÉLLEN SOUSA MARTINS',
 'THAIS BOSI NONATO',
 'THAIS CHAVES PINHEIRO',
 'THAIS MIRANDA RAMOS',
 'THALES LUVISOTTO NEDER',
 'THALITA LIMA EZARCHI',
 'THASSIO CUNHA DE SANTANA',
 'THAYSE FACHIN CORMANIQUE KAYSER',
 'THIAGO BARRETO MARQUES DA SILVA',
 'THIAGO DE OLIVEIRA HERINGER',
 'THIAGO FRANCISCO MARTINS',
 'THIAGO SILVA PINTO',
 'TURÍBIO RODRIGUES FREIRE NETO',
 'VANESSA PACIULLO MAROSSI',
 'VICTOR AUGUSTO DE SOUZA MORAES',
 'VITOR LUIZ ASSUNÇÃO MARTINS',
 'VITOR MACIEL DE SOUSA PINTO',
 'VITOR OLIVEIRA ANDRÉ',
 'VIVIAN CRISTINE DOS ANJOS E SILVA',
 'VIVIANNA BOVÉRIO GALZERANI',
 'WANGLES PIGNATON DE PAULA',
 'YOKO HAYASHI',
 'YURI ANDERSON PACHECO DE LIMA']

240

In [29]:
len(df['nome'].unique())

178

In [30]:
count_control = 0

tabelona = pd.DataFrame(columns=['Nome'] + list(funcao().columns))
tabelona

Empty DataFrame
Columns: [Nome, Dia, Unidade, Periodo, Semana, Dia Semana, Entrada, Saida, ordem, data, PERIODO, periodo]
Index: []

In [31]:
count_nome = 0 

#for NOME in NOMES[count_control:]:
for NOME in df['nome'].unique():

    if count_control > 0:
        if NOMES[count_control] != NOMES[count_control-1] or count_nome == 0:
            print(NOMES[count_control]) 
            #print('\n', '='*20, NOMES[count_control], '='*20, '\n')
            print(count_control, '|', len(NOMES)-count_control)

    xpath_click('//*[@id="s2id_ddlProfessionals"]/a/span[1]'); sleep(1)
    xpath_estranho(NOME)
    xpath_click('//*[@id="select2-drop"]/ul/li/div')

    WebDriverWait(browser, 30).until_not(visibility_of(xpath_element('//*[@id="loader"]')))
    
    tabela = funcao()
    tabela['Nome'] = NOME
    tabelona = pd.concat([tabelona, tabela])
    count_control += 1

ALEXANDRE AMARAL LUCAS
1 | 239
ALEXANDRE BERNARDINO
2 | 238
ALEXSANDER TAKASHI HAMADA
3 | 237
ALINE FRANCHINI GOULART LIMA
4 | 236
AMANDA KIYOKO SOUZA KOSSAKA
5 | 235
ANA CLARA MOURÃO BARRETO
6 | 234
ANA GABRIELA GEWEHR VALE SALMEN
7 | 233
ANA JUNG DOCKO
8 | 232
ANDRÉ AUGUSTO BELLINI
9 | 231
ANDRÉ DA COSTA AGUIAR VENTURA
10 | 230
ANDRÉ LUIS XAVIER FRANCO
11 | 229
ANDRÉ MORTARI PLÁ GIL
12 | 228
ANDRÉIA LOUREIRO MORI
13 | 227
ANNA BEATRIZ ARANHA TREVISAN
14 | 226
ANTONIO ALVARO DIAS LIMA DA CUNHA NETO
15 | 225
ARTHUR OLIVEIRA FACCHINI
16 | 224
ARTHUR RODRIGUES TORRELIO
17 | 223
AUGUSTO DE CASTRO SANTOS QUEIROZ
18 | 222
BEATRIZ ANTIPOU DOS SANTOS
19 | 221
BIANCA PRISCILA BUNIOTTI
20 | 220
BRIAN SOSSAI PACHECO
21 | 219
BRUCE YE MAN CHOW
22 | 218
BRUNA DAIBERT DANESIN
23 | 217
BRUNO FERRAZ DE CAMPOS BARONE
24 | 216
BRUNO STORNIOLI TAGUCHI LEMOS
25 | 215
CAIO TULIO DUARTE
26 | 214
CAMILA CHIARANTANO HARRISON
27 | 213
CAMILA RESENDE DE PAULA
28 | 212
CARLOS AUGUSTO TREVISAN
29 | 211
CARLOS EDUARDO CORRÊA GRILO
30 | 210
CARLOS EDUARDO GONDIM OLIVEIRA
31 | 209
CAROLINE FIRMINO LEMES DA SILVA
32 | 208
CLAUDIO MUELLER KAKUDA
33 | 207
DANIEL MASUZAKI WONG
34 | 206
DANIEL RODRIGUES DE OLIVEIRA
35 | 205
DANIELLEN LINS LOURENÇO
36 | 204
DARLAN JUNIOR SCHNEIDER
37 | 203
DÉBORA ALVES AUDE
38 | 202
DÉBORA PHILIPPI BRESSANE
39 | 201
DENIO LOPES DE ALMEIDA
40 | 200
DIEGO DA CUNHA TOMAZ
41 | 199
DIOGO CANDEO RODRIGUES CORDEIRO
42 | 198
DIOGO HENRIQUE PEREIRA MATTOS
43 | 197
EDUARDO ARBACHE BEZERRA
44 | 196
EDUARDO DALA ROSA SOARES
45 | 195
ELAINE IMAEDA DE MOURA
46 | 194
ELISETE BEATRIZ VIANA
47 | 193
EMERSON DOMINGOS DA COSTA
48 | 192
ERICK OLIVEIRA LIMA GOMES
49 | 191
ESTANRLEY BARCELOS PINTO
50 | 190
ETTORI AUGUSTO ZACHARIAS DE ALMEIDA
51 | 189
EVERTON SIDNEY DA CONCEIÇÃO CARVALHO
52 | 188
FABIANA BARBOSA BASTOS
53 | 187
FABIANA SOARES GAMA
54 | 186
FÁBIO ANTÔNIO DE SOUZA OLIVEIRA
55 | 185
FÁBIO YUJI SUGUITA
56 | 184
FELIPE COELHO DE SOUZA
57 | 183
FELIPE DE OLIVEIRA NUNES
58 | 182
FERNANDA TELES RIBEIRO
59 | 181
FERNANDO AKIRA KOGA
60 | 180
FERNANDO NARDY BELLICIERI
61 | 179
FERNANDO RIBEIRO SÁ
62 | 178
FILIPE LUGON MOULIN LIMA
63 | 177
FILIPE MAEDA HASHI ABDALLA MARTINS
64 | 176
FLÁVIO HIDEKI OSHIKA
65 | 175
FLÁVIO MAIA CASTILHO
66 | 174
FLÁVIO ROSA FIGUEIREDO SOUZA
67 | 173
FRANCISCO ANTONIO ALVES BONATTO
68 | 172
FRANCISCO JOSÉ LUCENA BEZERRA
69 | 171
GABRIEL DE AGUIAR SANTANA
70 | 170
GABRIELA DE FARIA BIZARRIA
71 | 169
GABRIELA MEIRELES LINHARES DE ARAUJO
72 | 168
GABRIELA SANTOS MENEZES
73 | 167
GABRIELA SOARES PIASSI
74 | 166
GABRIELLA GADELHA SARMENTO
75 | 165
GRETEL OLIVEIRA NICOLAU
76 | 164
GUILHERME DE ALMEIDA COSTA
77 | 163
GUILHERME PETRY MARTINS PEREIRA
78 | 162
GUILHERME SILVEIRA LOPES
79 | 161
GUSTAVO ALVARENGA BICALHO
80 | 160
GUSTAVO MARQUES DA SILVA
81 | 159
HEDICLEBER PESTANA SEVERINO
82 | 158
HELENA ARAUJO DAMASCENO
83 | 157
HENRI ROGER WATANABE OLIVEIRA
84 | 156
ICARO DE MOURA SOUSA
85 | 155
ISABELA MATTARELLI SOUZA CARLI
86 | 154
ISAQUE CAMILO DA SILVA
87 | 153
IVÃ BARBOSA SOARES
88 | 152
IZABELA CAMILA SOUZA FERREIRA
89 | 151
IZABELA CRISTINA ALMEIDA DUARTE
90 | 150
JÉSSICA LÍDIA DE SOUZA
91 | 149
JOÃO EVARISTO DE CASTRO BARRETO
92 | 148
JOSÉ CARLOS TUNA SCARPA
93 | 147
JOSÉ MARCOS VIEIRA DA SILVA
94 | 146
JULIANA AKEMI FUNABASHI
95 | 145
JULIANA HUSSEIN
96 | 144
JULIANA SANTOS SABOIA
97 | 143
JULIANO MOISÉS TOBAL
98 | 142
KAIÊ FERNANDES
99 | 141
KAREN CAVICHINI ROSSETO
100 | 140
KAREN MANOELA ROSA
101 | 139
KAREN PEIXOTO RICCI
102 | 138
KAREN YUMI MIYASHIRO
103 | 137
KAROLINE BECKER PARABONI
104 | 136
KAWAN RAMIS RODRIGUES
105 | 135
LAIS RIBEIRO TEIXEIRA
106 | 134
LARISSA MAYUMI ONO
107 | 133
LEANDRO EDUARDO FRANÇA
108 | 132
LEANDRO KENDI KANADA
109 | 131
LEANDRO MACHADO DEORCE
110 | 130
LEANDRO OLIVEIRA MARTINS CÔRTES
111 | 129
LEONARDO BARBOSA SANTOS
112 | 128
LEONARDO DE PAULA SOUZA
113 | 127
LEOPOLDO MUNIZ DA SILVA
114 | 126
LETÍCIA FERNANDES BORGES
115 | 125
LÍVIA SCHENKEL THURLER TRAIRI
116 | 124
LIVIA VALVERDE FAJARDO
117 | 123
LUCAS SILVA MARTINS
118 | 122
LUCCAS VARELA GODOY
119 | 121
LUCIANO ANGELO RICHETTI
120 | 120
LUDMYLLA GOMES NEVES
121 | 119
LUIZ AUGUSTO XAVIER BRANDÃO
122 | 118
LUIZ GUILHERME THOMAZ ZACHARIAS
123 | 117
MAIELY MARCOLIN
124 | 116
MAÍRA LEITE BASILE
125 | 115
MANOEL CÉLIO MOURA JUNIOR
126 | 114
MANOEL DE SOUZA NETO
127 | 113
MANUELA AFFONSO FERREIRA SANGED
128 | 112
MARCELA APARECIDA CORREA MARTINS
129 | 111
MARCELA LEITE ROSIGNOLI
130 | 110
MARCELLA PELLICCIOTTI DE SOUZA
131 | 109
MARCELO DE OLIVEIRA PERES
132 | 108
MARCELO DOS ANJOS REIS
133 | 107
MARCELO FELIPE DE SOUZA BUTO
134 | 106
MARCELO MAIA DA SILVEIRA
135 | 105
MARCELO SEIJI TAKAOKA
136 | 104
MÁRCIO IGHOR AZEVEDO SILVA DE MENDONÇA MELÂNIA
137 | 103
MARCOS BASTOS DOS SANTOS
138 | 102
MARCOS ROGÉRIO PEREIRA MACHADO FILHO
139 | 101
MARCOS VINÍCIUS COSTA CARVALHO
140 | 100
MARIA CAROLINA CELIA SILVEIRA
141 | 99
MARIA CECÍLIA DOMINGUES DA SILVA SOARES
142 | 98
MARIA TERESA SOUZA GOMES
143 | 97
MARIANA DARDENGO BORGES
144 | 96
MARIANA GASPARELLI DE SOUZA
145 | 95
MARINA BORGES CURRALO
146 | 94
MARINA PONTES MOURA NASCIMENTO E SILVA
147 | 93
MATHEUS ACQUESTA GAUBEUR
148 | 92
MATHEUS CARDOZO JANIQUES
149 | 91
MATHEUS DE ALENCAR ARRAES
150 | 90
MATHEUS VIANA LEMO
151 | 89
MAURÍCIO FARIA TETTI
152 | 88
MAXVILANO LIMA DE MACEDO
153 | 87
MAYANE GUEDES GONÇALVES
154 | 86
MILTON OLAIO NETO
155 | 85
MIRELA FARIAS FIGUEIRÔA
156 | 84
MOABE GONÇALVES DE OLIVEIRA
157 | 83
MÔNICA ROBLES GONÇALVES
158 | 82
NÁDIA MUNHOZ PONCE
159 | 81
NARA YAMANE DOS SANTOS
160 | 80
NATALIA MAIA QUEIROZ
161 | 79
NATALIA NUNES SANTOS
162 | 78
NATALIA YUME HISSAYASU MENEZES
163 | 77
NATAN SOARES SILVEIRA
164 | 76
NATHÁLIA FANUCCI OLIVEIRA DI JORGE
165 | 75
NATHALIA SOARES RODRIGUES GOMES
166 | 74
NELIANE GUEDES PRETTI
167 | 73
NORIVAL SCANDELAI JÚNIOR
168 | 72
NUBIO CRALCEV LOPES
169 | 71
ORLANDO DOMINGUES DE ARAÚJO PONTES
170 | 70
Otto Mittermayer
171 | 69
PALOMA KIYOMI TAGUCHI LEMOS
172 | 68
PAOLA RODRIGUES OSHIRO
173 | 67
PATRICK ALEXANDER SAUER SCHUES
174 | 66
PAULA ANGÉLICA PINHA NEVES
175 | 65
PAULA LOPES AGAPITO DE FREITAS
176 | 64
PEDRO AUGUSTO TAVARES DALL AGLIO
177 | 63

In [32]:
tabelona.reset_index(drop=True, inplace=True)

print(tabelona['Periodo'].unique())

tabelona['setor_inicio'] = np.nan
for i in range(len(tabelona)):
    corte = tabelona['Periodo'][i].find('-')
    texto = tabelona['Periodo'][i][:corte].strip()
    tabelona['setor_inicio'][i] = str(texto)

print(tabelona['setor_inicio'].unique())

['01 - NOTURNA - ENTRADA ANTES DAS 07HS' '04 - SEMANA - CENTRO CIRURGICO'
 '04.1 - SEMANA - CENTRO CIRURGICO' '07 - NOTURNA - SAIDA APOS 19HS'
 '08 - NOTURNA - DISTANCIA' '13 - FDS - CENTRO CIRURGICO'
 '14 - FDS - SAIDA' '19 - FDS - D1' '11 - FDS - 06 HS' '16 - FDS - D3 (R)'
 '09 - NOTURNA - PLANTAO' '20 - FDS - PLANTAO'
 '02 - SEMANA - AV.PRE ANESTESICA' '04.3 - SEMANA - COBERTURA EXTRA'
 '04.4 - SEMANA - COBERTURA EXTRA' '18 - FDS - D2 (R)'
 '02.1 - SEMANA - AV.PRE ANESTESICA' '15 - FDS - D3 (B)'
 '06 - SEMANA - ENDOSCOPIA' 'EINSTEIN' '12 - FDS - AV.PRE ANESTESICA'
 '03 - SEMANA - AMBULATORIO' '17 - FDS - D2 (B)' 'BLANC']
['01' '04' '04.1' '07' '08' '13' '14' '19' '11' '16' '09' '20' '02' '04.3'
 '04.4' '18' '02.1' '15' '06' 'EINSTEI' '12' '03' '17' 'BLAN']

In [33]:
tabelona['Nome'] = tabelona['Nome'].apply(lambda nome: unidecode.unidecode(nome).upper().strip().replace("  ", " "))
tabelona_backup = tabelona.copy

print(tabelona.shape)
tabelona.sample(5)

(7355, 13)

,Nome,Dia,Unidade,Periodo,Semana,Dia Semana,Entrada,Saida,ordem,data,PERIODO,periodo,setor_inicio
3980,MARCELA APARECIDA CORREA MARTINS,22,ANALIA,04.1 - SEMANA - CENTRO CIRURGICO,4,1,13:00,19:00,2,22/07/2024,tarde,3.0,04.1
135,ALEXANDRE BERNARDINO,24,VILLA,04 - SEMANA - CENTRO CIRURGICO,4,3,11:00,13:00,1,24/07/2024,manha,2.0,04
4653,MILTON OLAIO NETO,19,ITAIM,01 - NOTURNA - ENTRADA ANTES DAS 07HS,3,5,05:00,07:00,1,19/07/2024,6h,1.0,01
1800,FELIPE DE OLIVEIRA NUNES,30,SANTA ISABEL,04 - SEMANA - CENTRO CIRURGICO,5,2,07:00,19:00,1,30/07/2024,manha,2.0,04
2949,JULIANA SANTOS SABOIA,25,JABAQUARA,08 - NOTURNA - DISTANCIA,4,4,19:00,07:00,3,25/07/2024,noturno saida,4.0,08

# =======================================================================

# Diminuindo Tempos & Deslocado

In [34]:
from selenium.webdriver.common.action_chains import ActionChains
action_chains = ActionChains(browser)

## Pareamento

In [35]:
df['oque_fazer_com_o_registro'] = np.nan

for i in range(len(df)):

    nome = df['nome'][i]
    data = df['data'][i]
    periodo = df['PERIODO'][i]

    tabela = tabelona[(tabelona['Nome'] == nome) & 
                    (tabelona['data'] == data) &
                    (tabelona['PERIODO'] == periodo)]
    if len(tabela) == 0:
        df['oque_fazer_com_o_registro'][i] = 'criar plantao'

    elif len(tabela) == 1: # Verificando se os horarios batem
        if df['ENTRADA'][i] != tabela['Entrada'][tabela.index[0]] or df['SAIDA'][i] != tabela['Saida'][tabela.index[0]]:
            df['oque_fazer_com_o_registro'][i] = 'alterar horario'
        else:
            df['oque_fazer_com_o_registro'][i] = 'nada' # OK

    elif len(tabela) >= 2:
        df['oque_fazer_com_o_registro'][i] = 'apagar duplicata'
    else:

        print("WTF ?")
        break

count_freq(df, 'oque_fazer_com_o_registro')

                           Freq       Perc
oque_fazer_com_o_registro
criar plantao               210  42.596349
nada                        167  33.874239
alterar horario             114  23.123732
apagar duplicata              2   0.405680

In [36]:
df_filter = df[df['oque_fazer_com_o_registro'] == 'nada']
salvando_nome_arquivo('Feitos.xlsx', df_filter)

df_filter = df[df['oque_fazer_com_o_registro'] == 'alterar horario']
os.remove("df_gabs.xlsx")
salvando_nome_arquivo('df_gabs.xlsx', df_filter)

df_filter = df[df['oque_fazer_com_o_registro'] == 'criar plantao']
salvando_nome_arquivo('df_gabs2.xlsx', df_filter)

df_filter = df[df['oque_fazer_com_o_registro'] == 'apagar duplicata']
salvando_nome_arquivo('df_giov.xlsx', df_filter)

df = df[df['oque_fazer_com_o_registro'] == 'alterar horario'].reset_index(drop=True)
df_backup = df.copy()

4096  +=  167 => 4263
114
210
41  +=  2 => 43

In [37]:
count = 0
print(df_backup.shape)
df_backup.head()

(114, 20)

,chat,dia,nome,mensagem,controle,data,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds,unidade2,setor_antigo,setor_inicio,oque_fazer_com_o_registro
0,[24/07/2024 13:14:16] Alexandre Amaral Lucas: ...,24/07/2024,ALEXANDRE AMARAL LUCAS,24/07 OSASCO - ALEXANDRE AMARAL SAÍDA 13:11,NaN,24/07/2024,OSASCO,NaN,SAIDA,13:00,13:30,00:30,tarde,3,04.1 - SEMANA - CENTRO CIRURGICO,semana,OSASCO,SEMANA - TARDE - C.CIRURGICO,04.1,alterar horario
1,[24/07/2024 18:35:55] Alexandre Bernardino: 24...,24/07/2024,ALEXANDRE BERNARDINO,24/07 VILLA - ALEXANDRE - SAÍDA 18:30,NaN,24/07/2024,VILLA,NaN,SAIDA,13:00,18:30,05:30,tarde,3,04.1 - SEMANA - CENTRO CIRURGICO,semana,VILLA,SEMANA - TARDE - C.CIRURGICO,04.1,alterar horario
2,[23/07/2024 14:22:45] Aline Franchini Goulart ...,23/07/2024,ALINE FRANCHINI GOULART LIMA,23/07 VILLA ALINE SAÍDA 14:20,NaN,23/07/2024,VILLA,NaN,SAIDA,13:00,14:30,01:30,tarde,3,04.1 - SEMANA - CENTRO CIRURGICO,semana,VILLA,SEMANA - TARDE - C.CIRURGICO,04.1,alterar horario
3,[23/07/2024 14:48:47] Ana Clara Mourão Barreto...,23/07/2024,ANA CLARA MOURAO BARRETO,23/07 JABAQUARA CLARA - SAIDA 14:40,NaN,23/07/2024,JABAQUARA,NaN,SAIDA,13:00,15:00,02:00,tarde,3,04.1 - SEMANA - CENTRO CIRURGICO,semana,JABAQUARA,SEMANA - TARDE - C.CIRURGICO,04.1,alterar horario
4,[24/07/2024 14:02:43] Ana Jung Docko: 24/07 An...,24/07/2024,ANA JUNG DOCKO,24/07 ANALIA ANA SAÍDA 14:00,NaN,24/07/2024,ANALIA,NaN,SAIDA,13:00,14:00,01:00,tarde,3,04.1 - SEMANA - CENTRO CIRURGICO,semana,ANALIA,SEMANA - TARDE - C.CIRURGICO,04.1,alterar horario

# Execução

In [41]:
############################-CODIGO-############################
#Para cada profissional na lista
df = df_backup[count:]

for i in df['nome'].unique():
    print('='*20, i, '='*20)
    df_nome = df[df['nome'] == i]
    df_nome = df_nome.reset_index(drop=True)

    ###########################################
    # MUDANDO O PROFISSIONAL ESCOLHIDO
    subir_pg(); sleep(0.5)
    xpath_click('//*[@id="s2id_ddlProfessionals"]/a/span[1]'); sleep(1)
    xpath_estranho(i)
    xpath_click('//*[@id="select2-drop"]/ul/li/div')
    ###########################################
    
    # esperando carregamento do site
    WebDriverWait(browser, 30).until_not(visibility_of(xpath_element('//*[@id="loader"]')))
    sleep(2)
    # Capturando calendario de registros do individuo
    tabela = funcao(); sleep(0.3)
    
    # Para cada registro
    for t in range(len(df_nome)):
        ##########################################################################################################
        print(df_nome['mensagem'][t])

        '''
        # Analisandos os registros no **dia**
        dia_sel = tabela[tabela['data'] == df_nome['data'][t]] # & (tabela['Periodo'] == df_nome["setor"][t])]
        # Encurtando entrada - quando entrou atrasado
        if df_nome['PERIODO'][t] == 'manha' and df_nome['sem_ou_fds'][t] == 'fds':
            dia_sel = dia_sel[dia_sel['Entrada'] == '07:00']
        else:
            dia_sel = dia_sel[dia_sel['PERIODO'] == df_nome["PERIODO"][t]]
        '''

        ####################################################
        dia_sel = tabela[(tabela['data'] == df_nome['data'][t]) & (tabela['PERIODO'] == df_nome['PERIODO'][t])]
        ####################################################

        dia_sel.reset_index(drop=True, inplace=True)        
        ##########################################################################################################

        if len(dia_sel) == 0:
            df_backup['controle'][count] = "PROB"; print(count, "-> PROB")
        elif len(dia_sel) == 2:
            # abrindo/selecionando periodo conforme localização
            try:
                xpath_localizacao = '//*[@id="shift-monthly"]/div[2]/table/tbody/tr['+str(dia_sel['Semana'][0])+']/td['+str(dia_sel['Dia Semana'][0])+']/ul['+str(dia_sel['ordem'][0])+']/li'
                esperar_elemento_aparecer(xpath_localizacao, 5)
                xpath_click(xpath_localizacao)
            except:
                xpath_localizacao = '//*[@id="shift-monthly"]/div[2]/table/tbody/tr['+str(dia_sel['Semana'][0])+']/td['+str(dia_sel['Dia Semana'][0])+']/ul/li['+str(dia_sel['ordem'][0])+']'
                esperar_elemento_aparecer(xpath_localizacao, 5)
                xpath_click(xpath_localizacao)
            # Esperar componentes carregarem
            WebDriverWait(browser, 10).until(visibility_of(xpath_element('//*[@id="service-ckb-list-all-owner"]')))
            sleep(0.3)
            
            #apagando_registro(); sleep(0.3)
            tipo_registro_func('DISPENSADO'); sleep(0.5); atualizando_plantao()
            
            df_backup['controle'][count] = "OK"; print(count, "-> OK")
            WebDriverWait(browser, 10).until(visibility_of(xpath_element('//*[@id="s2id_ddlProfessionals"]/a/span[1]')))
            sleep(1)
        else:
            #abrindo/selecionando periodo conforme localização
            try:
                xpath_localizacao = '//*[@id="shift-monthly"]/div[2]/table/tbody/tr['+str(dia_sel['Semana'][0])+']/td['+str(dia_sel['Dia Semana'][0])+']/ul['+str(dia_sel['ordem'][0])+']/li'
                esperar_elemento_aparecer(xpath_localizacao, 5)
                xpath_click(xpath_localizacao)
            except:
                xpath_localizacao = '//*[@id="shift-monthly"]/div[2]/table/tbody/tr['+str(dia_sel['Semana'][0])+']/td['+str(dia_sel['Dia Semana'][0])+']/ul/li['+str(dia_sel['ordem'][0])+']'
                esperar_elemento_aparecer(xpath_localizacao, 5)
                xpath_click(xpath_localizacao)
            #Esperar componentes carregarem
            WebDriverWait(browser, 10).until(visibility_of(xpath_element('//*[@id="service-ckb-list-all-owner"]')))
            sleep(1)
            hora(df_nome['ENTRADA'][t], df_nome['DURAÇÃO'][t])
            if dia_sel['Unidade'][0] != df_nome['unidade'][t]:
                setor(df_nome['unidade'][t], df_nome['setor'][t])
            else:
                pass
            
            tipo_do_registro(df_nome['DURAÇÃO'][t], df_nome['sem_ou_fds'][t], df_nome['extra'][t])
            sleep(0.3)
            reset_selecao2()
            #salvar plantão
            sleep(0.3)
            atualizando_plantao(); atualizando_plantao(); sleep(2)
            df_backup['controle'][count] = "OK"; print(count, "-> OK")

            xpath_atualizar = '/html/body/div[5]/div/div[1]/div[2]/button[5]'
            try:
                if WebDriverWait(browser, 10).until_not(EC.visibility_of_element_located((By.XPATH, xpath_atualizar))) == False:
                    pass
            except:
                atualizando_plantao()
                try: 
                    if WebDriverWait(browser, 10).until_not(EC.visibility_of_element_located((By.XPATH, xpath_atualizar))) == False:
                        pass
                except:
                    break

            sleep(1)
            
        count += 1 
        
        if count % 25 == 0:
            print('='*80, '\n', df_backup['controle'].value_counts(), '\n'); df_backup.to_excel("df_gabs.xlsx", index=False)
        else:
            if t != len(df_nome)-1:
                print('='*20)
            
print("="*50, 'TERMINOU', "="*50)
print('Total  ', len(df_backup))
print('='*80, df_backup['controle'].value_counts(), '='*80); df_backup.to_excel("df_gabs.xlsx", index=False)

==================== ALEXANDRE AMARAL LUCAS ====================
24/07 OSASCO  -  ALEXANDRE AMARAL SAÍDA 13:11
0 -> OK
==================== ALEXANDRE BERNARDINO ====================
24/07 VILLA  -  ALEXANDRE  -  SAÍDA 18:30
duração >5 -> 100 pontos
1 -> OK
==================== ALINE FRANCHINI GOULART LIMA ====================
23/07 VILLA ALINE SAÍDA 14:20
2 -> OK
==================== ANA CLARA MOURAO BARRETO ====================
23/07 JABAQUARA CLARA  -  SAIDA 14:40
3 -> OK
==================== ANA JUNG DOCKO ====================
24/07 ANALIA ANA SAÍDA 14:00
4 -> OK
==================== ANDRE DA COSTA AGUIAR VENTURA ====================
24/07 MORUMBI VENTURA SAIDA 17:10
5 -> OK
==================== ANDREIA LOUREIRO MORI ====================
24/07 JABAQUARA ANDRÉIA SAÍDA 17:36
duração >5 -> 100 pontos
6 -> OK
==================== ANTONIO ALVARO DIAS LIMA DA CUNHA NETO ====================
23/07 CENTRAL  -  ÁLVARO SAÍDA 18:00
duração >5 -> 100 pontos
7 -> OK
==================== ARTHUR RODRIGUES TORRELIO ====================
23/07 OSASCO  -  TORRELIO SAÍDA 14:20
8 -> OK
==================== BRUCE YE MAN CHOW ====================
24/07 MORUMBI  -  BRUCE SAIDA 17:10
9 -> OK
==================== CARLOS EDUARDO CORREA GRILO ====================
23/07 ANÁLIA  -  CADU SAÍDA 17:35
duração >5 -> 100 pontos
10 -> OK
====================
24/07 ANÁLIA  -  CADU SAÍDA 14:30
11 -> OK
==================== DANIELLEN LINS LOURENCO ====================
23/07 JABAQUARA  -  DANIELLEN SAÍDA 16:35
12 -> OK
==================== DARLAN JUNIOR SCHNEIDER ====================
24/07 OSASCO  -  DARLAN SAIDA 15:20
13 -> OK
==================== DEBORA ALVES AUDE ====================
23/07 ITAIM DÉBORA SAÍDA 17:50
duração >5 -> 100 pontos
14 -> OK
==================== DEBORA PHILIPPI BRESSANE ====================
23/07 JABAQUARA DÉBORA BRESSANE SAÍDA 17:40
duração >5 -> 100 pontos
15 -> OK
====================
24/07 VILLA DÉBORA BRESSANE SAÍDA 17:05  ( DESLOCADO JABAQUARA )
16 -> OK
==================== DIEGO DA CUNHA TOMAZ ====================
24/07 SANTA  -  DIEGO SAÍDA 17:40
duração >5 -> 100 pontos
17 -> OK
==================== DIOGO HENRIQUE PEREIRA MATTOS ====================
24/07 MORUMBI  -  DIOGO SAÍDA 10:30
18 -> OK
==================== ELAINE IMAEDA DE MOURA ====================
23/07 ANALIA ELAINE SAÍDA 17:30
19 -> OK
====================
24/07 MORUMBI ELAINE SAÍDA 12:00 ‎<MENSAGEM EDITADA>
duração >5 -> 100 pontos
20 -> OK
==================== EMERSON DOMINGOS DA COSTA ====================
23/07 JABAQUARA EMERSON SAÍDA 15:35
21 -> OK
==================== FABIANA SOARES GAMA ====================
23/07 VILLA FABIANA GAMA SAÍDA AS 16:50
22 -> OK
==================== FABIO ANTONIO DE SOUZA OLIVEIRA ====================
23/07 ITAIM FABIO SAÍDA 18:08
duração >5 -> 100 pontos
23 -> OK
==================== FELIPE COELHO DE SOUZA ====================
24/07 ITAIM  -  COELHO SAÍDA 7:20  ( PÓS PLANTÃO )
24 -> OK
================================================================================
 controle
OK           25
DESLOCADO     7
Name: count, dtype: int64

==================== FERNANDA TELES RIBEIRO ====================
25/07 ITAIM  -  FERNANDA SAÍDA 11:40
duração >5 -> 100 pontos
25 -> OK
==================== FERNANDO AKIRA KOGA ====================
24/07 MORUMBI  -  KOGA SAÍDA 09:36
26 -> OK
==================== FILIPE LUGON MOULIN LIMA ====================
23/07 ITAIM  -  FILIPE LUGON SAIDA 13:45
27 -> OK
==================== FILIPE MAEDA HASHI ABDALLA MARTINS ====================
23/07 JABAQUARA  -  MAEDA SAÍDA 17:10
28 -> OK
==================== FRANCISCO ANTONIO ALVES BONATTO ====================
24/07 VILLA  -  FRANCISCO SAÍDA 13:20
29 -> OK
==================== GABRIEL DE AGUIAR SANTANA ====================
23/07 ANÁLIA  -  GABRIEL SAÍDA 17:00
30 -> OK
====================
24/07 ITAIM  -  GABRIEL SAÍDA 15:10
31 -> OK
==================== GUILHERME SILVEIRA LOPES ====================
24/07 JABAQUARA  -  SILVEIRA SAÍDA 17:05
32 -> OK
====================
25/07 ITAIM  -  SILVEIRA ENTRADA 07:00
duração >5 -> 100 pontos
33 -> OK
==================== IVA BARBOSA SOARES ====================
24/07 OSASCO IVÃ SAÍDA 13:35
34 -> OK
==================== JESSICA LIDIA DE SOUZA ====================
25/07 VILLA  -  JESSICA ENTRADA 12:00
35 -> OK
==================== JOSE MARCOS VIEIRA DA SILVA ====================
23/07  -  JABAQUARA JOSÉ MARCOS SAÍDA 11:15
36 -> OK
====================
24/07  -  JABAQUARA JOSÉ MARCOS SAÍDA 17:10
37 -> OK
====================
25/07  -  JABAQUARA JOSÉ MARCOS SAÍDA 11:15 ‎<MENSAGEM EDITADA>
38 -> OK
==================== JULIANA HUSSEIN ====================
23/07 VILLA  -  J. HUSSEIN SAIDA 15:10
39 -> OK
==================== JULIANA SANTOS SABOIA ====================
23/07 OSASCO SABOIA SAÍDA 16:50
40 -> OK
==================== JULIANO MOISES TOBAL ====================
24/07 JABAQUARA JULIANO TOBAL SAÍDA 18:20
duração >5 -> 100 pontos
41 -> OK
==================== KAROLINE BECKER PARABONI ====================
25/07 ANÁLIA  -  KAROLINE SAÍDA 12:27  ( PÓS PLANTÃO )
duração >5 -> 100 pontos
42 -> OK
==================== LAIS RIBEIRO TEIXEIRA ====================
23/07 ITAIM LAIS SAÍDA 16:25
43 -> OK
====================
24/07 JABAQUARA LAIS SAÍDA 11:15
44 -> OK
==================== LEANDRO EDUARDO FRANCA ====================
25/07 JABAQUARA  -  FRANÇA SAÍDA 09:45
45 -> OK
==================== LETICIA FERNANDES BORGES ====================
23/07 ITAIM LETÍCIA SAÍDA 15:20
46 -> OK
====================
24/07 MATERNIDADE LETÍCIA ENTRADA 9:00
47 -> OK
==================== LUCCAS VARELA GODOY ====================
23/07 ALPHA LUCCAS SAÍDA 15:40
48 -> OK
====================
24/07 ALPHA LUCCAS SAÍDA 15:30
49 -> OK
================================================================================
 controle
OK           50
DESLOCADO     7
Name: count, dtype: int64

==================== MAIELY MARCOLIN ====================
24/07 ITAIM  -  MAIELY SAIDA 14:00  ( DESLOCADO VNS )
50 -> OK
==================== MANOEL DE SOUZA NETO ====================
24/07 VNS MANOEL SAÍDA 17:20
51 -> OK
==================== MANUELA AFFONSO FERREIRA SANGED ====================
24/07 OSASCO  -  MANUELA SAÍDA 14:45
52 -> OK
==================== MARCELA APARECIDA CORREA MARTINS ====================
23/07 ANÁLIA  -  MARTINS SAÍDA 15:00  ( DESLOCADO DO JABAQUARA )
53 -> OK
==================== MARCELA LEITE ROSIGNOLI ====================
24/07 ANÁLIA MARCELA LEITE SAÍDA 17:15
54 -> OK
==================== MARCELO FELIPE DE SOUZA BUTO ====================
23/07 JABAQUARA  -  BUTO SAÍDA 13:10
55 -> OK
==================== MARCIO IGHOR AZEVEDO SILVA DE MENDONCA MELANIA ====================
25/07 VILLA  -  IGHOR ENTRADA 11:00
56 -> OK
==================== MARCOS BASTOS DOS SANTOS ====================
24/07 OSASCO  -  BASTOS  -  SAÍDA 17:50
duração >5 -> 100 pontos
57 -> OK
==================== MARCOS ROGERIO PEREIRA MACHADO FILHO ====================
24/07 ALPHA MARCOS SAÍDA 17:10
58 -> OK
==================== MARIA CECILIA DOMINGUES DA SILVA SOARES ====================
24/07 VILLA  -  M. CECÍLIA SAÍDA 17:45
duração >5 -> 100 pontos
59 -> OK
==================== MARIA TERESA SOUZA GOMES ====================
24/07  -  CENTRAL  -  M TERESA SAÍDA 14:40
60 -> OK
==================== MARIANA DARDENGO BORGES ====================
24/07 MORUMBI  -  M. DARDENGO SAÍDA 14:30
61 -> OK
==================== MARINA BORGES CURRALO ====================
23/7 MATERNIDADE MARINA SAÍDA 17:40
duração >5 -> 100 pontos
62 -> OK
====================
24/7 MATERNIDADE MARINA SAÍDA 17:20
63 -> OK
==================== MATHEUS DE ALENCAR ARRAES ====================
23/07 JABAQUARA ARRAES SAIDA 15:37
64 -> OK
==================== MATHEUS VIANA LEMO ====================
24/07 ANALIA VIANA SAÍDA 16:40  ( DESLOCADO JABAQUARA )  ‎<MENSAGEM EDITADA>
65 -> OK
====================
25/07 OSASCO VIANA SAIDA 11:25  ( DESLOCADO JABAQUARA )
66 -> OK
==================== MAURICIO FARIA TETTI ====================
24/07 ANÁLIA  -  MAURÍCIO SAÍDA 10:30  ( PÓS PLANTÃO  -  DESLOCADO SLO )
67 -> OK
==================== MILTON OLAIO NETO ====================
22/07 - ITAIM OLAIO ENTRADA 12:00
68 -> OK
==================== MOABE GONCALVES DE OLIVEIRA ====================
23/07 ANALIA  -  MOABE SAÍDA 17:10
69 -> OK
==================== NATALIA YUME HISSAYASU MENEZES ====================
23/07 ITAIM  -  NAT YUME SAÍDA 13:55
70 -> OK
==================== NORIVAL SCANDELAI JUNIOR ====================
23/07 MORUMBI  -  NORIVAL SAÍDA 11:40
duração >5 -> 100 pontos
71 -> OK
====================
24/07 ALPHA  -  NORIVAL SAÍDA 13:50
72 -> OK
==================== ORLANDO DOMINGUES DE ARAUJO PONTES ====================
23/07 VILLA ORLANDO SAÍDA 18:10
duração >5 -> 100 pontos
73 -> OK
====================
24/07 VILLA ORLANDO SAÍDA 17:21
74 -> OK
================================================================================
 controle
OK           75
DESLOCADO     2
Name: count, dtype: int64

==================== PAULA ANGELICA PINHA NEVES ====================
24/07 ANÁLIA PAULA NEVES SAÍDA 17:40
duração >5 -> 100 pontos
75 -> OK
==================== PAULA LOPES AGAPITO DE FREITAS ====================
24/07  -  VILLA  -  PAULA A  -  SAIDA  -  10:00
76 -> OK
==================== PEDRO AUGUSTO TAVARES DALL AGLIO ====================
24/07 ANÁLIA   -  TAVARES  -  SAÍDA 17:55
duração >5 -> 100 pontos
77 -> OK
==================== PEDRO BELINTANI DE MAIO ====================
24/07  -  VILLA BELINTANI SAÍDA 13:18H
78 -> OK
==================== PEDRO HENRIQUE DINIZ BOTELHO ====================
25/07 OSASCO  -  DINIZ ENTRADA 9:00
79 -> OK
==================== PEDRO HENRIQUE LUCAS DE MORAES ====================
23/07 JABAQUARA MORAES SAIDA 16:00  ( DESLOCADO ITAIM )
80 -> OK
==================== PEDRO PAULO SILVA FARAH ====================
24/07 MORUMBI  -  PEDRO SAÍDA 15:00H
81 -> OK
==================== PEDRO VICTOR MASSAROTO E SILVA ====================
23/7 JABAQUARA MASSAROTO SAÍDA 16:00
82 -> OK
==================== RAFHAEL SILVA LEAL ====================
24/07  -  CENTRAL  -  LEAL SAÍDA 15:00
83 -> OK
==================== RAIZA LUNA PEIXOTO ====================
25/07 OSASCO RAIZA ENTRADA 11:00
84 -> OK
==================== RAUL FELIPE MALDONADO HERBAS ====================
23/07 ANÁLIA -  MALDONADO SAÍDA 18:25
duração >5 -> 100 pontos
85 -> OK
==================== RENATA TORRES BUENO ====================
23/07 ANALIA  -  RENATA BUENO SAÍDA 17:40
duração >5 -> 100 pontos
86 -> OK
==================== RICARDO BARBOSA VIANA FILHO ====================
23/07 JABAQUARA  -  BARBOSA SAÍDA 11:20  ( DESLOCADO VILLA  )
87 -> OK
====================
24/07 VILLA  -  BARBOSA SAÍDA 11:00
88 -> OK
==================== RICARDO GIRALDELLI CARVALHO LIMA ====================
23/07 ANÁLIA  -  GIRALDELLI SAÍDA 12:20
duração >5 -> 100 pontos
89 -> OK
==================== RODRIGO ACHUI HAGA ====================
23/07 ALPHA  -  HAGA SAIDA 14:30
90 -> OK
====================
24/07 VILLA  -  HAGA SAIDA 15:45
91 -> OK
==================== RODRIGO ANTONIO REY GONZALEZ ====================
23/07 OSASCO  -  REY SAIDA 14:25
92 -> OK
==================== RODRIGO MARTINS PEREIRA ====================
23/07 OSASCO  -  PEREIRA SAÍDA 18:15
duração >5 -> 100 pontos
93 -> OK
==================== RODRIGO MIYASHIRO NUNES DOS SANTOS ====================
23/07 JABAQUARA  -  MIYASHIRO SAIDA 18:10
duração >5 -> 100 pontos
94 -> OK
====================
24/07 MORUMBI  -  MIYASHIRO SAIDA 11:10
95 -> OK
==================== ROGERIO SIDNEY THON ====================
23/07 ITAIM ROGÉRIO SAÍDA 13:45H
96 -> OK
====================
24/07 ITAIM ROGÉRIO SAÍDA 9:00H
97 -> OK
====================
25/07 ITAIM ROGÉRIO SAÍDA 9:40H
98 -> OK
==================== ROMULO SPOLIDORIO ====================
23/07 JABAQUARA RÔMULO SAÍDA 15:37
99 -> OK
================================================================================
 controle
OK    100
Name: count, dtype: int64

24/07 JABAQUARA RÔMULO SAÍDA 11:10
100 -> OK
==================== SABRINA DE SOUZA RAMOS ====================
24/07 JABAQUARA SABRINA SAÍDA 18:20
duração >5 -> 100 pontos
101 -> OK
==================== STEFANY HELLEN SOUSA MARTINS ====================
24/07 JABAQUARA STEFANY SAIDA 16:40
102 -> OK
==================== THAIS CHAVES PINHEIRO ====================
25/07 MATERNIDADE  -  THAÍS ENTRADA 09:00  ( PLANTÃO )
103 -> OK
==================== THAIS MIRANDA RAMOS ====================
23/07 JABAQUARA  -  MIRANDA SAÍDA ÀS 13:15
104 -> OK
====================
24/07 VILLA  -  MIRANDA SAÍDA ÀS 17:25
105 -> OK
==================== THALES LUVISOTTO NEDER ====================
23/07 JABAQUARA  -  THALES SAÍDA 17:50
duração >5 -> 100 pontos
106 -> OK
==================== THIAGO BARRETO MARQUES DA SILVA ====================
24/07 JABAQUARA NALDO SAÍDA 18:00
duração >5 -> 100 pontos
107 -> OK
==================== THIAGO FRANCISCO MARTINS ====================
23/07 VNS THIAGO MARTINS SAIDA 17:40
duração >5 -> 100 pontos
108 -> OK
==================== VANESSA PACIULLO MAROSSI ====================
24/07 VILLA  -  VANESSA SAÍDA 18:07
duração >5 -> 100 pontos
109 -> OK
==================== VITOR OLIVEIRA ANDRE ====================
23/07 VNS VITOR SAÍDA 17:39
duração >5 -> 100 pontos
110 -> OK
==================== VIVIAN CRISTINE DOS ANJOS E SILVA ====================
23/07 VILLA VIVIAN SAIDA 16:15
111 -> OK
==================== WANGLES PIGNATON DE PAULA ====================
22/07 VILLA  -  WANGLES SAÍDA 17:45
duração >5 -> 100 pontos
112 -> OK
====================
24/07 ANÁLIA  -  WANGLES SAÍDA 18:25
duração >5 -> 100 pontos
113 -> OK
================================================== TERMINOU ==================================================
Total   114
================================================================================ controle
OK    114
Name: count, dtype: int64 ================================================================================

In [ ]:
WebDriverWait(browser, 10).until(visibility_of(xpath_element('//*[@id="service-ckb-list-all-owner"]')))

In [ ]:
df_backup.loc[int(count), 'controle'] = "PROB"
count += 1
print(df_backup['nome'][count])
print(count)

In [ ]:
count += 1

In [ ]:
count += 1

In [ ]:
df['nome'][df['nome'] == 'ICARO MOURA DE SOUSA'] = 'ICARO DE MOURA SOUSA'

## Salvando

In [42]:
df_corrigidos = df_backup[df_backup['controle'] == "OK"]
print("probs ok:", len(df_corrigidos))

df_prob = df_backup[df_backup['controle'] != "OK"]
print("probs:", len(df_prob))

###############################################################

os.remove("df_gabs.xlsx")
salvando_nome_arquivo('Feitos.xlsx', df_corrigidos)
print('.')
salvando_nome_arquivo('df_gabs2.xlsx', df_prob)

probs ok: 114
probs: 0
4263  +=  114 => 4377
.
210  +=  0 => 210

# ============================

# Plantões Normais

In [43]:
df = pd.read_excel('df_gabs2.xlsx')
df = df.sort_values(['nome', 'data']).reset_index(drop=True)
print(df.shape)
display(df.head())

(210, 20)

,chat,dia,nome,mensagem,controle,data,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds,unidade2,setor_antigo,setor_inicio,oque_fazer_com_o_registro
0,[24/07/2024 20:19:56] Alessandre Luiz Braga Ju...,24/07/2024,ALESSANDRE LUIZ BRAGA JUNIOR,24/07 ANALIA - ALESSANDRE SAIDA 20:18,NaN,24/07/2024,ANALIA,NaN,SAIDA,19:00,20:30,01:30,noturno saida,4,07 - NOTURNA - SAIDA APOS 19HS,semana,ANALIA,SEMANA - NOTURNO - SAIDA,7.0,criar plantao
1,[24/07/2024 13:14:03] Alexandre Amaral Lucas: ...,24/07/2024,ALEXANDRE AMARAL LUCAS,24/07 OSASCO - ALEXANDRE AMARAL ENTRADA 05:40,NaN,24/07/2024,OSASCO,NaN,ENTRADA,05:30,07:00,01:30,6h,1,01 - NOTURNA - ENTRADA ANTES DAS 07HS,semana,OSASCO,SEMANA - 6HS,1.0,criar plantao
2,[24/07/2024 06:15:37] Amanda Kiyoko Souza Koss...,24/07/2024,AMANDA KIYOKO SOUZA KOSSAKA,24/07 MORUMBI - AMANDA ENTRADA 06:00,NaN,24/07/2024,MORUMBI,NaN,ENTRADA,06:00,07:00,01:00,6h,1,01 - NOTURNA - ENTRADA ANTES DAS 07HS,semana,MORUMBI,SEMANA - 6HS,1.0,criar plantao
3,[24/07/2024 20:17:41] Amanda Kiyoko Souza Koss...,24/07/2024,AMANDA KIYOKO SOUZA KOSSAKA,24/07 MORUMBI - AMANDA SAÍDA 20:15,NaN,24/07/2024,MORUMBI,NaN,SAIDA,19:00,20:30,01:30,noturno saida,4,07 - NOTURNA - SAIDA APOS 19HS,semana,MORUMBI,SEMANA - NOTURNO - SAIDA,7.0,criar plantao
4,[25/07/2024 05:23:05] André da Costa Aguiar Ve...,25/07/2024,ANDRE DA COSTA AGUIAR VENTURA,25/07 MORUMBI VENTURA ENTRADA 5:20,NaN,25/07/2024,MORUMBI,NaN,ENTRADA,05:00,07:00,02:00,6h,1,01 - NOTURNA - ENTRADA ANTES DAS 07HS,semana,MORUMBI,SEMANA - 6HS,1.0,criar plantao

In [44]:
len(df)

210

In [45]:
H=0

# Execução

In [47]:
count = 0
for h in range(H, len(df)):
    #####################################################################################################################
    if h > 0:
        if df['nome'][h] != df['nome'][h-1] or count == 0:
            print('='*20, df['nome'][h], '='*20)
            count += 1
    #####################################################################################################################
    #try:
    print('[',h,'] |','dia:', df['data'][h],'| mensagem:', df['mensagem'][h])
    
    #click criar novo plantão
    criar_plantao()
    
    #SETOR - UNIDADE
    #esta disponivel o botão de setor ?
    esperar_elemento_aparecer('//*[@id="s2id_ddlServiceSector"]/a/span[1]', 10)
    #Selecionando Setor
    setor(df['unidade'][h], df['setor'][h])
    
    #PROFISSIONAL
    #esta disponivel o botão de profissional
    esperar_elemento_aparecer('//*[@id="service-ckb-list-all-owner"]', 10)
    nome_func(df['nome'][h])
    sleep(1)

    #DATA DO PLANTÃO
    data_func(df['data'][h])
    
    #INICIO DO PLANTÃO -- DURAÇÃO DO PLANTÃO
    hora(df['ENTRADA'][h], df['DURAÇÃO'][h])
    sleep(1)
        
    #TIPO
    tipo_do_registro(df['DURAÇÃO'][h], df['sem_ou_fds'][h], df['extra'][h])
    
    #SALVAR PLANTÃO
    sleep(1)
    salvar_plantao()
    salvar_plantao()
    salvar_plantao()
    sleep(4)

    #VERIFICANDO SE HOUVE ERRO - HÁ PLANTÃO NO MESMO HORARIO
    chatao = 5 #6 5 4
    if xpath_element('/html/body/div['+str(chatao)+']/div/div[2]/div[1]').text != "":
        fechar()
        df.loc[int(h), 'controle'] = "PROBS"; print("PROB")
    else:
        df.loc[int(h), 'controle'] = "NORM"; print("NORM")
    #####################################################################################################################
    '''except Exception as e:
        print(f"Erro ao processar o arquivo: {e}")
        if existencia('//*[@id="modal-add-service"]/div/div[1]/button'):
            fechar()
            print('*'*50)
            df.loc[int(h), 'controle'] = "ERRO_REPETIR"; print("ERRO_REPETIR")
            print('*'*50)
        else:
            print('-VERIFICAR-'*10)
            break'''
            
    #####################################################################################################################
    # praticamente um # finally
    WebDriverWait(browser, 10).until_not(visibility_of(xpath_element('//*[@id="modal-add-service"]/div/div[1]/button')))
    H += 1
    #####################################################################################################################
    if H % 25 == 0:
        print('='*80, '\n', df['controle'].value_counts(), '\n', '='*80); df.to_excel("df_gabs2.xlsx", index=False)
    if df['nome'][h] == df['nome'][h+1]:
        print('='*10)

print("="*20, 'TERMINOU', "="*20)
print('Total  ', len(df))
print('='*80, '\n', df['controle'].value_counts(), '\n', '='*80); df.to_excel("df_gabs2.xlsx", index=False)

==================== TERMINOU ====================
Total   210
================================================================================
 controle
NORM     198
PROBS     12
Name: count, dtype: int64
 ================================================================================

In [ ]:
criar_plantao()

In [ ]:
#df.loc[int(h), 'controle'] = "NORM"; print("NORM")
df.loc[int(h), 'controle'] = "PROBS"; print("PROB")
H += 1

In [ ]:
df['nome'][df['nome'] == '~ ICARO MOURA'] = 'icaro de MOURA SOUSA'.upper()

## Salvando

In [48]:
print(df['controle'].value_counts())
print(df['controle'].value_counts(normalize=True)*100)

count_freq(df, 'controle')

controle
NORM     198
PROBS     12
Name: count, dtype: int64
controle
NORM     94.285714
PROBS     5.714286
Name: proportion, dtype: float64

          Freq       Perc
controle
NORM       198  94.285714
PROBS       12   5.714286

In [49]:
df_corrigidos = df[df['controle'] == "NORM"]
print("probs ok:", len(df_corrigidos))

df_prob = df[df['controle'] != "NORM"]
print("probs:", len(df_prob))

os.remove("df_gabs2.xlsx")
###############################################################

salvando_nome_arquivo('Feitos.xlsx', df_corrigidos)
print('.')
salvando_nome_arquivo('df_giov2.xlsx', df_prob)

probs ok: 198
probs: 12
4377  +=  198 => 4575
.
12

# =======================

# Dispensados

In [50]:
df_backup = pd.read_excel('df_dispensados.xlsx')
df_backup = df_backup.drop_duplicates(subset=['chat'])
df_backup = df_backup.sort_values(['nome','data']).reset_index(drop=True)

print(df_backup.shape)
df_backup.head()

(7, 7)

,chat,dia,nome,mensagem,controle,data,hora
0,[24/07/2024 15:07:24] Antonio Alvaro Dias Lima...,24/07/2024,ANTONIO ALVARO DIAS LIMA DA CUNHA NETO,24/07 CENTRAL - ÁLVARO DISPENSADO,OK,24/07/2024,NaN
1,[23/07/2024 18:46:21] Diego da Cunha Tomaz: 23...,23/07/2024,DIEGO DA CUNHA TOMAZ,23/07 SANTA - DIEGO DISPENSADO,OK,23/07/2024,NaN
2,[23/07/2024 20:57:07] Gabriela Meireles Linhar...,23/07/2024,GABRIELA MEIRELES LINHARES DE ARAUJO,22/07 ANÁLIA G.LINHARES DISPENSADO,OK,22/07/2024,NaN
3,[23/07/2024 18:49:54] Juliana Akemi Funabashi:...,23/07/2024,JULIANA AKEMI FUNABASHI,24/07 VILLA - AKEMI DISPENSADO,OK,24/07/2024,NaN
4,[24/07/2024 08:40:43] Matheus de Alencar Arrae...,24/07/2024,MATHEUS DE ALENCAR ARRAES,24/07 ITAIM ARRAES DISPENSADO,OK,24/07/2024,NaN

In [51]:
count = 0
df_backup['controle'] = np.nan

# Execução

def apagando_registro():
    chatao = str(5) #4 ou 5
    #Apagando
    browser.find_element("xpath", '/html/body/div['+chatao+']/div/div[1]/div[2]/button[1]').click()
    #Clicando em continuar
    sleep(0.5)
    browser.find_element("xpath", '/html/body/div['+chatao+']/div/div[1]/div[3]/button[2]').click()
apagando_registro()

In [52]:
len(df_backup)

7

In [57]:
#Para cada profissional na lista
df = df_backup[count:]

for i in df['nome'].unique():
    print('='*20, i, '='*20)
    df_nome = df[df['nome'] == i]
    df_nome.reset_index(drop=True, inplace=True)
    
    xpath_click('//*[@id="s2id_ddlProfessionals"]/a/span[1]'); sleep(1)
    xpath_estranho(i)
    xpath_click('//*[@id="select2-drop"]/ul/li/div')

    #esperando carregamento do site
    WebDriverWait(browser, 30).until_not(visibility_of(xpath_element('//*[@id="loader"]')))

    tabela = funcao()    
    sleep(2)
    
    #Para cada registro na lista_nome
    for t in range(len(df_nome)):
        print(df_nome['mensagem'][t])
        dia_sel = tabela[tabela['data'] == df_nome['data'][t]]
        dia_sel.reset_index(drop=True, inplace=True)
        
        if len(dia_sel) == 0:
            print(count, "-> Ja apagado")
            print(df_nome['chat'][t] + " - " + df_nome['data'][t])
            df_backup['controle'][count] = "OK"
        else:
            for r in range(len(dia_sel)-1, -1, -1):
                print('PRINCIPAL')
                #abrindo/selecionando periodo conforme localização
                dia_ordem = r
                xpath_textao = '//*[@id="shift-monthly"]/div[2]/table/tbody/tr['+str(dia_sel['Semana'][0])+']/td['+str(dia_sel['Dia Semana'][0])+']/ul['+str(dia_sel['ordem'][dia_ordem])+']/li'
                xpath_click(xpath_textao)
                #Esperar componentes carregarem
                WebDriverWait(browser, 10).until(visibility_of(xpath_element('//*[@id="service-ckb-list-all-owner"]')))
                sleep(2)
                reset_selecao2()
                tipo_registro_func('DISPENSA')
                sleep(0.3)
                reset_selecao2()
                #salvar plantão
                sleep(0.3)
                atualizando_plantao(); atualizando_plantao(); sleep(2)
                try:
                    if WebDriverWait(browser, 10).until_not(EC.visibility_of_element_located((By.XPATH, xpath_atualizar))) == False:
                        pass
                except:
                    atualizando_plantao()
                    try: 
                        if WebDriverWait(browser, 10).until_not(EC.visibility_of_element_located((By.XPATH, xpath_atualizar))) == False:
                            pass
                    except:
                        break
            
            tabela = funcao() #atualizando tabela de registros
            sleep(2)
            print(count, '-> OK')
            print(df_nome['chat'][t] + " - " + df_nome['data'][t])
            df_backup['controle'][count] = "OK"  
            
        count += 1 
        if count % 25 == 0:
            print('='*80, '\n', df_backup['controle'].value_counts(), '\n', '='*80); df_backup.to_excel("df_dispensados.xlsx", index=False)
        else:
            if t != len(df_nome)-1:
                print('='*20)
    
print('='*25, 'TERMINOU', '='*25)
print('Total  ', len(df_backup))
print('='*80, df_backup['controle'].value_counts(), '='*80); df_backup.to_excel("df_dispensados.xlsx", index=False)

========================= TERMINOU =========================
Total   7
================================================================================ controle
OK    7
Name: count, dtype: int64 ================================================================================

In [ ]:
count += 1

In [ ]:
/html/body/form/main/div[2]/div[2]/div/div[1]/div[1]/div/a

In [56]:
df_backup['controle'][count] = "OK"
count += 1

In [ ]:
df_backup['nome'][df_backup['nome'] == "ICARO MOURA DE SOUSA"] = "ICARO DE MOURA SOUSA"

## Salvando

In [58]:
df_corrigidos = df_backup[df_backup['controle'] == "OK"]
print("probs ok:", len(df_corrigidos))

df_prob = df_backup[df_backup['controle'] != "OK"]
print("probs:", len(df_prob))

################################################################

os.remove("df_dispensados.xlsx")
salvando_nome_arquivo('Feitos.xlsx', df_corrigidos)
print('.')
salvando_nome_arquivo('df_giov.xlsx', df_prob)

probs ok: 7
probs: 0
4575  +=  7 => 4582
.
43  +=  0 => 43

# =============================

# Encerrando Automação

In [59]:
browser.quit()

# ==============================

# Residuos Finais

In [60]:
df_feito = pd.read_excel("Feitos.xlsx")
print(len(df_feito))

df_prob0 = pd.read_excel("df_giov.xlsx")
print(len(df_prob0))
os.remove("df_giov.xlsx")

df_prob01 = pd.read_excel("df_giov2.xlsx")
print(len(df_prob01))
os.remove("df_giov2.xlsx")

df_prob = pd.concat([df_prob0, df_prob01])
df_prob = df_prob.drop_duplicates(subset=['chat'])
salvando_nome_arquivo('df_prob.xlsx', df_prob)

print(len(df_prob))

4582
43
12
55
55

df_prob = pd.read_excel('df_prob.xlsx')
print(len(df_prob))

# Convertendo a coluna 'dia' para datetime
df_prob_backup = df_prob.copy()
print(len(df_prob_backup))

df_prob['dia'] = pd.to_datetime(df_prob['dia'], format='%d/%m/%Y')

# Filtrando as datas
data_filtro = pd.to_datetime('18/12/2023', format='%d/%m/%Y')
df_prob = df_prob[df_prob['dia'] >= data_filtro]

# Mostrando o resultado
print(len(df_prob))

In [61]:
total = len(df_feito) + len(df_prob)

percent = len(df_feito) / total
percent = round(percent*100, 2)
percent = str(percent) + "%"
percent = "("+percent+")"
print("Registros App:", len(df_feito), percent)

percent = len(df_prob) / total
percent = round(percent*100, 2)
percent = str(percent) + "%"
percent = "("+percent+")"
print("Registros Giovanelli", len(df_prob), percent)
print("#"*30, "\n")

for nome in sorted(list(df_prob['nome'].unique())):
    print(nome, "="*10)
    selecao = df_prob.loc[df_prob['nome']==nome]
    selecao.reset_index(drop=True, inplace=True)
    
    for i in range(len(selecao)):
        print(selecao["mensagem"][i])
    
    print("\n")

Registros App: 4582 (98.81%)
Registros Giovanelli 55 (1.19%)
##############################

ALEXANDRE BERNARDINO ==========
23/07 ANÁLIA  -  ALEXANDRE  -  SAÍDA 19:00


AMANDA KIYOKO SOUZA KOSSAKA ==========
23/07 MORUMBI  -  AMANDA SAÍDA 23:40


ANA CLARA MOURAO BARRETO ==========
24/07 OSASCO CLARA 19:30


ANNA BEATRIZ ARANHA TREVISAN ==========
23/07 VILLA  -  ANNA BEATRIZ SAÍDA 18:00
24/07 VILLA  -  ANNA BEATRIZ SAÍDA 17:40


BEATRIZ ANTIPOU DOS SANTOS ==========
24/07 -  MATERNIDADE -  SAÍDA 07:00  ( PLANTÃO )


BIANCA PRISCILA BUNIOTTI ==========
24/07 JABAQUARA  -  BIANCA ENTRADA 07:00  ( DISTÂNCIA )


BRIAN SOSSAI PACHECO ==========
24/07 ITAIM  -  BRIAN SAÍDA 07:00  ( PLANTÃO )


BRUNO FERRAZ DE CAMPOS BARONE ==========
24/07 VNS BARONE ENTRADA 07:00  ( DISTÂNCIA )


BRUNO STORNIOLI TAGUCHI LEMOS ==========
24/07 HIAE BRUNO LEMOS ENTRADA 12:00  ( EXTERNAS )  ‎<MENSAGEM EDITADA>
24/07 HIAE BRUNO LEMOS SAÍDA 17:45


CAMILA CHIARANTANO HARRISON ==========
24/07 VILLA CAMILA SAIDA 18:35


CARLOS EDUARDO GONDIM OLIVEIRA ==========
24/07 MATERNIDADE  -  OLIVEIRA SAÍDA 07:00


DIOGO HENRIQUE PEREIRA MATTOS ==========
23/07 ANÁLIA  -  DIOGO SAÍDA 18:37


EDUARDO ARBACHE BEZERRA ==========
24/07 SANTA  -  BEZERRA SAIDA AS 19:00


FABIANA BARBOSA BASTOS ==========
25/07 JABAQUARA  -  FABIANA SAÍDA 11:00  ( SAÚDE )


FABIO ANTONIO DE SOUZA OLIVEIRA ==========
23/07 ITAIM FABIO ENTRADA 7HS
24/07 ITAIM FABIO ENTRADA 19HS
25/07 ITAIM FABIO SAÍDA 7HS  (  PLANTAO )
25/07 ITAIM FABIO ENTRADA 7HS


FELIPE DE OLIVEIRA NUNES ==========
24/07 SANTA ISABEL  -  NUNES SAÍDA 7:00  ( PLANTÃO )


FERNANDO RIBEIRO SA ==========
24/07 JABAQUARA RIBEIRO SAÍDA 18:00


FLAVIO MAIA CASTILHO ==========
25/07 MATERNIDADE  -  CASTILHO SAIDA 10:15
25/07 ANALIA  -  ENTRADA 12:00  ( ASSUMO ROTINA L. SANTOS )


GABRIELLA GADELHA SARMENTO ==========
24/07 ITAIM  -  GABRIELLA ENTRADA 05:20


GUSTAVO MARQUES DA SILVA ==========
24/07 MORUMBI  -  MARQUES ENTRADA 07:00  ( DISTÂNCIA )


ISABELA MATTARELLI SOUZA CARLI ==========
23/07  -  OSASCO  -  MATTARELLI SAÍDA 18:00


JESSICA LIDIA DE SOUZA ==========
24/07 SANTA  -  JESSICA ENTRADA 19:00 ‎<MENSAGEM EDITADA>
25/07 SANTA  -  JESSICA SAIDA 07:00


LEANDRO EDUARDO FRANCA ==========
24/07 JABAQUARA  -   FRANÇA SAÍDA 18:45


LETICIA FERNANDES BORGES ==========
23/07 MATERNIDADE LETÍCIA ENTRADA 20:10  (  ANESTESIA A PEDIDO )
23/07 MATERNIDADE LETÍCIA SAÍDA 23:45


LUIZ GUILHERME THOMAZ ZACHARIAS ==========
23/07 ITAIM  -  GUILHERME SAÍDA 18:50


MARCELLA PELLICCIOTTI DE SOUZA ==========
24/07 MORUMBI PELLICCIOTTI SAÍDA 18:55


MARCELO SEIJI TAKAOKA ==========
24/07 ITAIM  -  TAKAOKA ENTRADA 04:50


MARINA BORGES CURRALO ==========
24/7 MATERNIDADE MARINA ENTRADA 6:30  ( DISTÂNCIA )


MAXVILANO LIMA DE MACEDO ==========
23/07 OSASCO MAXVILANO. SAÍDA 23:39  ( DISTÂNCIA )


MILTON OLAIO NETO ==========
23/07 - ITAIM OLAIO SAÍDA 18:00


NARA YAMANE DOS SANTOS ==========
23/07 MORUMBI NARA SAIDA 19:00


NATALIA MAIA QUEIROZ ==========
24/07 ITAIM QUEIROZ SAÍDA 18:45


NATAN SOARES SILVEIRA ==========
23/07 HCT  -  NATAN  -  ENTRADA 06:40
23/07 HCT  -  NATAN  -  SAÍDA 16:20


NATHALIA SOARES RODRIGUES GOMES ==========
24/07 SANTA  -  NAT RODRIGUES SAÍDA 18:57
24/07 SANTA  -  NAT RODRIGUES ENTRADA 05:25


NELIANE GUEDES PRETTI ==========
23/07 ITAIM NELIANE SAIDA 19:00


PALOMA KIYOMI TAGUCHI LEMOS ==========
23/07 JABAQUARA  -  PALOMA SAÍDA 17:10
24/07 ITAIM  -  PALOMA SAÍDA 18:30


PATRICK ALEXANDER SAUER SCHUES ==========
24/07 ANÁLIA  -  PATRICK SAÍDA 18:45


PEDRO HENRIQUE DINIZ BOTELHO ==========
24/07 OSASCO  -  DINIZ SAÍDA 18:00


PEDRO VICTOR MASSAROTO E SILVA ==========
25/07 SANTA MASSAROTO SAÍDA 01:40


RICARDO IVO DE LIMA ==========
23/07  -  ITAIM  -  RICARDO IVO SAÍDA  -  18:50H  ( 2 CIRURGIAS A PEDIDO / EM PDP )
23/07  -  ITAIM  -  RICARDO IVO ENTRADA  -  11:00H  ( 2 CIRURGIAS A PEDIDO / EM PDP )


SHEILA ITIROCO MONTE ==========
24/07 MORUMBI SHEILA SAÍDA 18:55


THIAGO BARRETO MARQUES DA SILVA ==========
23/07 JABAQUARA NALDO SAÍDA 07:00 (  PLANTÃO  )


WANGLES PIGNATON DE PAULA ==========
23/07 ANÁLIA  -  WANGLES SAÍDA 18:40

In [ ]:
os.remove("df_prob.xlsx")
df_prob.to_excel("df_prob_enviado_2407.xlsx", index=False)

# =================================

# Teste