In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('Feitos.xlsx')
print(len(df))
display(df.head(2))

df1 = pd.read_excel('df_prob.xlsx')
print(len(df1))
display(df1.head(2))

1727

,chat,dia,nome,mensagem,controle,data,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds,unidade2,setor_inicio,hora
0,[05/01/2024 20:23:27] Alessandre Luiz Braga Ju...,05/01/2024,ALESSANDRE LUIZ BRAGA JUNIOR,05/01 Analia - Alessandre saida 20:15,NORM,05/01/2023,ANALIA,NaN,SAIDA,19:00,20:30,01:30,noturno saida,4.0,SEMANA - NOTURNO - SAIDA,semana,ANALIA,NaN,NaN
1,[13/01/2024 06:03:52] Alessandre Luiz Braga Ju...,13/01/2024,ALESSANDRE LUIZ BRAGA JUNIOR,13/01 Morumbi - Alessandre entrada 05:45,NORM,13/01/2023,MORUMBI,NaN,ENTRADA,05:30,07:00,01:30,6h,1.0,FDS - 6HS,fds,MORUMBI,NaN,NaN

559

,chat,dia,nome,mensagem,controle,data,hora,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds,unidade2,setor_inicio
0,[06/01/2024 10:25:51] Alessandre Luiz Braga Ju...,06/01/2024,ALESSANDRE LUIZ BRAGA JUNIOR,06/01 ANALIA - ALESSANDRE SAIDA 10:25,PROB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[14/01/2024 06:19:26] Alessandre Luiz Braga Ju...,14/01/2024,ALESSANDRE LUIZ BRAGA JUNIOR,14/01 AVICCENA - ALESSANDRE ENTRADA 06:00 ...,PROB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print('depois:', len(df))
df = df.drop_duplicates(subset='chat')
print('antes:', len(df), '\n')
df = df.reset_index(drop=True)

#########################################

print('depois:', len(df1))
df1 = df1.drop_duplicates(subset='chat')
print('antes:', len(df1), '\n')
df1 = df1.reset_index(drop=True)

depois: 1727
antes: 1727

depois: 559
antes: 559

In [5]:
print('antes:', len(df1))
count = 0

for i in range(len(df)):
    iguais = df1[df1['chat'] == df['chat'][i]]
    
    if len(iguais) > 0:
        #print(df['chat'][i])
        #print(iguais)
        count += len(iguais)
        #print("\n")
        
        df1 = df1.drop(iguais.index)
df1 = df1.reset_index(drop=True)
    
print('depois:', len(df1))
print('retirados:', count)

antes: 559
depois: 559
retirados: 0

In [5]:
iguais.index

RangeIndex(start=261, stop=261, step=1)

In [9]:
df.to_excel('Feitos.xlsx')