In [1]:
#Definindo finais de semana
mes = "06"
lista_fds = ['01','02','08','09','15','16','22','23','29','30']

In [2]:
# Manipulação e Tratamento de dados
import openpyxl
import pandas as pd
import numpy as np
from numpy import NaN

#ignorando Warning inuteis
import warnings 
from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.filterwarnings(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

#definindo quantidade de linhas e colunas visiveis
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Manipulação de Strings
import unidecode # => unidecode(string)
import re # Regex

# Repositorio - Diretorio
import os
import shutil

In [3]:
#######################-FUNÇÕES
def count_freq(data_frame, coluna):
    freq = df[coluna].value_counts()
    perc = df[coluna].value_counts(normalize = True)*100
    tabela = pd.DataFrame({"Freq":freq, "Perc":perc})
    return display(tabela)
        
def tabela_cont(linha, coluna):
    a = df.groupby([linha, coluna]).size().unstack()
    for i in a.columns:
        a[i].fillna(0, inplace = True)
        a[i] = a[i].apply(lambda x: int(x))
    return a
    print('='*100)

def tabela_cont_percent(linha, coluna, opcao):
    result = tabela_cont(linha, coluna)
    if opcao == 'Linha':
        return round(result.div(result.sum(axis=1), axis=0) * 100, 2)
    elif opcao == 'Coluna':
        return round(result.div(result.sum(), axis=1) * 100, 2)
    else:
        return 'Opção invalida'

In [4]:
def salvando_nome_arquivo(nome_arquivo, dataframe):
    if os.path.exists(nome_arquivo): #O nome_arquivo existe
        df1 = pd.read_excel(nome_arquivo)
        len_antigo = len(dataframe)
        
        dataframe = pd.concat([df1, dataframe]).reset_index(drop=True)
        dataframe = dataframe.drop_duplicates(subset=['chat'])
        
        print(len(df1), " += ", len_antigo, "=>", len(dataframe))
        
        dataframe.to_excel(nome_arquivo, index=False)
    
    else: #O nome_arquivo não existe
        dataframe.to_excel(nome_arquivo, index=False)
        print(len(dataframe))

In [5]:
def read_file(file_path):
    # 1. Ler o arquivo txt
    with open(file_path, "r", encoding="utf-8") as file:
        lines = file.readlines()
    
    # 2. Remover todas as linhas que contêm "Mensagem apagada"
    lines = [line for line in lines if "Mensagem apagada" not in line]
    
    # 3. Corrigir as mensagens que estão em várias linhas para que fiquem em uma única linha
    corrected_lines = []
    current_message = ""
    
    for line in lines:
        # Se a linha começa com o padrão de data e hora, ela é uma nova mensagem
        if re.match(r"^\[\d{2}/\d{2}/\d{4} \d{2}:\d{2}:\d{2}\]", line):
            if current_message:  # Se há uma mensagem anterior, adicione-a à lista
                corrected_lines.append(current_message)
            current_message = line.strip()  # Comece uma nova mensagem
        else:
            current_message += " " + line.strip()  # Adicione o conteúdo da linha atual à mensagem em progresso
    
    # Adiciona a última mensagem, se houver
    if current_message:
        corrected_lines.append(current_message)
    
    # Salvando arquivo txt
    with open('processed.txt', "w", encoding="utf-8") as file:
        for line in corrected_lines:
            file.write(line + "\n")
    
    # Lendo arquivo txt e transformando em dataframe cada mensagem
    with open('processed.txt', 'r', encoding='utf-8') as file:
        content = file.read().splitlines()
    
    return content

In [6]:
df = pd.DataFrame({'chat': read_file('_chat.txt') })
#df['chat'] = df['chat'].apply(lambda x: x.replace('/05/2024, ','/05/2024 '))
df['controle'] = np.nan
df = df[['controle','chat']]
df_prob = pd.DataFrame(columns = ['controle','chat'])

print(len(df))
display(df.head())
display(df_prob)

2027

   controle                                               chat
0       NaN  [01/06/2024 05:13:13] Pedro Augusto Tavares Da...
1       NaN  [01/06/2024 05:17:43] Daniel  Masuzaki Wong: 0...
2       NaN  [01/06/2024 05:19:23] Nathalia Soares Rodrigue...
3       NaN  [01/06/2024 05:27:02] Vitor Oliveira André: 01...
4       NaN  [01/06/2024 05:39:37] Flavio Maia Castilho: 01...

Empty DataFrame
Columns: [controle, chat]
Index: []

In [7]:
def sample_prob(nivel):
    '''
    data = df_prob[df_prob['controle'] == nivel]
    tamanho = len(data)
    try:
        if tamanho == 0:
            data_exibir = str('0 itens do prob' + nivel)
        if tamanho == 1:
            data_exibir = data['mensagem'].sample(1)
        if tamanho == 2:
            data_exibir = data['mensagem'].sample(2)
        if tamanho > 5:
            data_exibir = data['mensagem'].sample(5)
    except:
        data_exibir = 'erro'
    '''
    return 'nada'

# DIA QUE FOI ENVIADA A MENSAGEM

In [8]:
dia = []
for i in range(0, len(df['chat'])):
    dia.append(df['chat'][i][1:11]) #pegando exatamente aonde parte da data esta
df['dia'] = dia
#print(sorted(df['dia'].unique()))
print("Quantidade de mensagens por dia:")
count_freq(df, 'dia')

Quantidade de mensagens por dia:

            Freq      Perc
dia
05/06/2024   149  7.350765
12/06/2024   147  7.252097
06/06/2024   135  6.660089
04/06/2024   128  6.314751
07/06/2024   127  6.265417
10/06/2024   125  6.166749
13/06/2024   125  6.166749
08/06/2024   124  6.117415
14/06/2024   122  6.018747
11/06/2024   121  5.969413
15/06/2024   120  5.920079
18/06/2024   119  5.870745
17/06/2024   119  5.870745
03/06/2024   116  5.722743
01/06/2024    96  4.736063
19/06/2024    80  3.946719
16/06/2024    33  1.628022
09/06/2024    23  1.134682
02/06/2024    18  0.888012

# NOME DO ANESTESISTA

In [9]:
df['nome'] = np.nan
count = 0
for i in range(0, len(df['chat'])):
    loc = df['chat'][i].find(']')+1 #digito data
    loc2 = df['chat'][i][loc+1:].find(':')+1 #digito nome
    nome = df['chat'][i][loc+1:loc+loc2]
    nome = nome.upper().strip().replace("  ", " ")
    nome = unidecode.unidecode(nome)
    df['nome'][i] = nome
    count += 1
    #print(count, "->", unidecode.unidecode(chat[i][loc+1:loc+loc2].upper()))

print("Profissionais que mandaram mensagem:")
sorted(df['nome'].unique())

Profissionais que mandaram mensagem:

['ALESSANDRE LUIZ BRAGA JUNIOR',
 'ALEXANDRE AMARAL LUCAS',
 'ALEXANDRE BERNARDINO',
 'ALEXSANDER TAKASHI HAMADA',
 'ALINE FRANCHINI GOULART LIMA',
 'AMANDA KIYOKO SOUZA KOSSAKA',
 'ANA CLARA MOURAO BARRETO',
 'ANA JUNG DOCKO',
 'ANDRE AUGUSTO BELLINI',
 'ANDRE DA COSTA AGUIAR VENTURA',
 'ANDRE LUIS XAVIER FRANCO',
 'ANDREIA LOUREIRO MORI',
 'ANNA BEATRIZ ARANHA TREVISAN',
 'ANTONIO ALVARO DIAS LIMA DA CUNHA NETO',
 'ARTHUR OLIVEIRA FACCHINI',
 'ARTHUR RODRIGUES TORRELIO',
 'AUGUSTO DE CASTRO SANTOS QUEIROZ',
 'BEATRIZ ANTIPOU DOS SANTOS',
 'BIANCA PRISCILA BUNIOTTI',
 'BRIAN SOSSAI PACHECO',
 'BRUCE YE MAN CHOW',
 'BRUNA DAIBERT DANESIN',
 'BRUNO FERRAZ DE CAMPOS BARONE',
 'BRUNO STORNIOLI TAGUCHI LEMOS',
 'CAIO TULIO DUARTE',
 'CAMILA CHIARANTANO HARRISON',
 'CAMILA RESENDE DE PAULA',
 'CARLOS AUGUSTO TREVISAN',
 'CARLOS EDUARDO CORREA GRILO',
 'CARLOS EDUARDO GONDIM OLIVEIRA',
 'CAROLINE FIRMINO LEMES DA SILVA',
 'CLAUDIO MUELLER KAKUDA',
 'DANIEL MASUZAKI WONG',
 'DANIEL RODRIGUES DE OLIVEIRA',
 'DANIELLEN LINS LOURENCO',
 'DARLAN JUNIOR SCHNEIDER',
 'DEBORA ALVES AUDE',
 'DEBORA PHILIPPI BRESSANE',
 'DENIO LOPES DE ALMEIDA',
 'DIEGO DA CUNHA TOMAZ',
 'DIOGO CANDEO RODRIGUES CORDEIRO',
 'DIOGO HENRIQUE PEREIRA MATTOS',
 'EDUARDO ARBACHE BEZERRA',
 'EDUARDO DALA ROSA SOARES',
 'ELAINE IMAEDA DE MOURA',
 'EMERSON DOMINGOS DA COSTA',
 'ERICK OLIVEIRA LIMA GOMES',
 'ESTANRLEY BARCELOS PINTO',
 'EVERTON SIDNEY DA CONCEICAO CARVALHO',
 'FABIANA BARBOSA BASTOS',
 'FABIANA SOARES GAMA',
 'FABIO ANTONIO DE SOUZA OLIVEIRA',
 'FABIO YUJI SUGUITA',
 'FELIPE COELHO DE SOUZA',
 'FELIPE DE OLIVEIRA NUNES',
 'FERNANDA TELES RIBEIRO',
 'FERNANDO AKIRA KOGA',
 'FERNANDO RIBEIRO SA',
 'FILIPE LUGON MOULIN LIMA',
 'FILIPE MAEDA HASHI ABDALLA MARTINS',
 'FLAVIO HIDEKI OSHIKA',
 'FLAVIO MAIA CASTILHO',
 'FLAVIO ROSA FIGUEIREDO SOUZA',
 'FRANCISCO ANTONIO ALVES BONATTO',
 'FRANCISCO JOSE LUCENA BEZERRA',
 'GABRIEL DE AGUIAR SANTANA',
 'GABRIELA DE FARIA BIZARRIA',
 'GABRIELA MEIRELES LINHARES DE ARAUJO',
 'GABRIELA SANTOS MENEZES',
 'GABRIELA SOARES PIASSI',
 'GABRIELLA GADELHA SARMENTO',
 'GRETEL OLIVEIRA NICOLAU',
 'GUILHERME DE ALMEIDA COSTA',
 'GUILHERME PETRY MARTINS PEREIRA',
 'GUILHERME SILVEIRA LOPES',
 'GUSTAVO ALVARENGA BICALHO',
 'GUSTAVO MARQUES DA SILVA',
 'HEDICLEBER PESTANA SEVERINO',
 'HELENA ARAUJO DAMASCENO',
 'HENRI ROGER WATANABE OLIVEIRA',
 'ICARO MOURA DE SOUSA',
 'ISABELA MATTARELLI SOUZA CARLI',
 'ISAQUE CAMILO DA SILVA',
 'IVA BARBOSA SOARES',
 'IZABELA CAMILA SOUZA FERREIRA',
 'IZABELA CRISTINA ALMEIDA DUARTE',
 'JESSICA LIDIA DE SOUZA',
 'JOAO EVARISTO DE CASTRO BARRETO',
 'JOSE CARLOS TUNA SCARPA',
 'JOSE MARCOS VIEIRA DA SILVA',
 'JULIANA AKEMI FUNABASHI',
 'JULIANA HUSSEIN',
 'JULIANA SANTOS SABOIA',
 'JULIANO MOISES TOBAL',
 'KAIE FERNANDES',
 'KAREN CAVICHINI ROSSETO',
 'KAREN MANOELA ROSA',
 'KAREN PEIXOTO RICCI',
 'KAREN YUMI MIYASHIRO',
 'KAROLINE BECKER PARABONI',
 'KAWAN RAMIS RODRIGUES',
 'LAIS RIBEIRO TEIXEIRA',
 'LARISSA MAYUMI ONO',
 'LEANDRO EDUARDO FRANCA',
 'LEANDRO KENDI KANADA',
 'LEANDRO MACHADO DEORCE',
 'LEANDRO OLIVEIRA MARTINS CORTES',
 'LEONARDO BARBOSA SANTOS',
 'LEONARDO DE PAULA SOUZA',
 'LETICIA FERNANDES BORGES',
 'LIVIA SCHENKEL THURLER TRAIRI',
 'LIVIA VALVERDE FAJARDO',
 'LUCAS SILVA MARTINS',
 'LUCCAS VARELA GODOY',
 'LUCIANO ANGELO RICHETTI',
 'LUIZ AUGUSTO XAVIER BRANDAO',
 'LUIZ GUILHERME THOMAZ ZACHARIAS',
 'MAIELY MARCOLIN',
 'MAIRA LEITE BASILE',
 'MANOEL CELIO MOURA JUNIOR',
 'MANOEL DE SOUZA NETO',
 'MANUELA AFFONSO FERREIRA SANGED',
 'MARCELA APARECIDA CORREA MARTINS',
 'MARCELA LEITE ROSIGNOLI',
 'MARCELLA PELLICCIOTTI DE SOUZA',
 'MARCELO DE OLIVEIRA PERES',
 'MARCELO FELIPE DE SOUZA BUTO',
 'MARCELO MAIA DA SILVEIRA',
 'MARCELO SEIJI TAKAOKA',
 'MARCIO IGHOR AZEVEDO SILVA DE MENDONCA MELANIA',
 'MARCOS BASTOS DOS SANTOS',
 'MARCOS ROGERIO PEREIRA MACHADO FILHO',
 'MARCOS VINICIUS COSTA CARVALHO',
 'MARIA CECILIA DOMINGUES DA SILVA SOARES',
 'MARIA TERESA SOUZA GOMES',
 'MARIANA DARDENGO BORGES',
 'MARIANA GASPARELLI DE SOUZA',
 'MARINA BORGES CURRALO',
 'MARINA PONTES MOURA NASCIMENTO E SILVA',
 'MATHEUS ACQUESTA GAUBEUR',
 'MATHEUS CARDOZO JANIQUES',
 'MATHEUS DE ALENCAR ARRAES',
 'MATHEUS VIANA LEMO',
 'MAURICIO FARIA TETTI',
 'MAXVILANO LIMA DE MACEDO',
 'MAYANE GUEDES GONCALVES',
 'MILTON OLAIO NETO',
 'MIRELA FARIAS FIGUEIROA',
 'MOABE GONCALVES DE OLIVEIRA',
 'NARA YAMANE DOS SANTOS',
 'NATALIA MAIA QUEIROZ',
 'NATALIA NUNES SANTOS',
 'NATALIA YUME HISSAYASU MENEZES',
 'NATAN SOARES SILVEIRA',
 'NATHALIA FANUCCI OLIVEIRA DI JORGE',
 'NATHALIA SOARES RODRIGUES GOMES',
 'NELIANE GUEDES PRETTI',
 'NORIVAL SCANDELAI JUNIOR',
 'ORLANDO DOMINGUES DE ARAUJO PONTES',
 'PALOMA KIYOMI TAGUCHI',
 'PAOLA RODRIGUES OSHIRO',
 'PATRICK ALEXANDER SAUER SCHUES',
 'PAULA ANGELICA PINHA NEVES',
 'PAULA LOPES AGAPITO DE FREITAS',
 'PEDRO AUGUSTO TAVARES DALL AGLIO',
 'PEDRO BELINTANI DE MAIO',
 'PEDRO HENRIQUE DINIZ BOTELHO',
 'PEDRO HENRIQUE LUCAS DE MORAES',
 'PEDRO HENRIQUE MILHOMENS DA MOTA',
 'PEDRO PAULO SILVA FARAH',
 'PEDRO VICTOR MASSAROTO E SILVA',
 'RAFAEL QUEIROZ ARAUJO',
 'RAFAEL TADEU MARQUES',
 'RAFHAEL SILVA LEAL',
 'RAIZA LUNA PEIXOTO',
 'RENATA PINHEIRO MODOLO',
 'RENATA TOGEIRO BASTOS GODOY DE FARIA',
 'RENATA TORRES BUENO',
 'RENATO DOS SANTOS BOREGA',
 'RICARDO BARBOSA VIANA FILHO',
 'RICARDO GIRALDELLI CARVALHO LIMA',
 'RICARDO IVO DE LIMA',
 'RICARDO KAWAURA',
 'RODRIGO ACHUI HAGA',
 'RODRIGO ANDRADE CARMELLO',
 'RODRIGO ANTONIO REY GONZALEZ',
 'RODRIGO GOMES MINAS NOVAS',
 'RODRIGO MARTINS PEREIRA',
 'RODRIGO MIYASHIRO NUNES DOS SANTOS',
 'ROGERIO SIDNEY THON',
 'ROMULO SPOLIDORIO',
 'RONALD FIGUEIREDO GOMES',
 'SABRINA DE SOUZA RAMOS',
 'SAULLO QUEIROZ SILVEIRA',
 'SERGIO ZAMITH',
 'SHEILA ITIROCO MONTE',
 'SIDNEY ORLANDO DE SOUZA',
 'SILVIA ALINE DOS SANTOS ANDRADE',
 'STEFANY HELLEN SOUSA MARTINS',
 'THAIS BOSI NONATO',
 'THAIS CHAVES PINHEIRO',
 'THAIS MIRANDA RAMOS',
 'THALES LUVISOTTO NEDER',
 'THASSIO CUNHA DE SANTANA',
 'THAYSE FACHIN CORMANIQUE KAYSER',
 'THIAGO BARRETO MARQUES DA SILVA',
 'THIAGO DE OLIVEIRA HERINGER',
 'THIAGO FRANCISCO MARTINS',
 'THIAGO SILVA PINTO',
 'TURIBIO RODRIGUES FREIRE NETO',
 'VANESSA PACIULLO MAROSSI',
 'VICTOR AUGUSTO DE SOUZA MORAES',
 'VITOR LUIZ ASSUNCAO MARTINS',
 'VITOR MACIEL DE SOUSA PINTO',
 'VITOR OLIVEIRA ANDRE',
 'VIVIAN CRISTINE DOS ANJOS E SILVA',
 'VIVIANNA BOVERIO GALZERANI',
 'WANGLES PIGNATON DE PAULA',
 'YOKO HAYASHI',
 'YURI ANDERSON PACHECO DE LIMA',
 '~ ICARO MOURA',
 '~ ISAQUE CAMILO']

# MENSAGENS ESCREVIDAS

In [10]:
mensagem = []
for i in range(0, len(df)):
    digito_data = df['chat'][i].find(']') #aonde acaba a data
    digito_nome = df['chat'][i][digito_data+1:].find(':')
    mensagem_escrevida = df['chat'][i][digito_data+digito_nome+3:]
    mensagem.append(mensagem_escrevida)
    
df['mensagem'] = mensagem
df['mensagem'] = df['mensagem'].apply(lambda x: x.upper() )
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace('-',' - '))
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace('(',' ( '))
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace(')',' ) '))

print('Mensagens Enviadas:')
df['mensagem'].sample(3)

Mensagens Enviadas:

663       07/06 SANTA  -  REY ENTRADA 05:50
287     04/06 ITAIM  -  BELLINI SAÍDA 11:00
346    04/06 ITAIM  -  FERNANDA SAÍDA 20:15
Name: mensagem, dtype: object

# DATA DO PLANTÃO

In [11]:
df['data'] = np.nan

for i in range(0, len(df)):
    lista_datas = re.findall(r'[0-9]{1,2}\/[0-9]{1,2}', df['mensagem'][i]) #regex dd/mm
    quantidade_itens = len(lista_datas)
    
    if quantidade_itens == 1: #capturar apenas registros com uma data apenas
        df['data'][i] = lista_datas[0]
    else: #restante com nenhuma ou mais de uma data
        df['controle'][i] = 'DATA_DO_PLANTÃO'

#salvando
df_prob = df[df['controle'] == 'DATA_DO_PLANTÃO']
print("data probs:", len(df_prob))
sample_prob('DATA_DO_PLANTÃO')

df = df[df['controle'] != 'DATA_DO_PLANTÃO']
print("datas ok:", len(df)) 

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

count_freq(df, 'data')
#print("Dias mensionados nas mensagens:")
#print(sorted(df['data'].unique()))

data probs: 4
datas ok: 2023

       Freq      Perc
data
12/06   142  7.019278
05/06   141  6.969847
06/06   135  6.673258
10/06   127  6.277805
04/06   126  6.228374
13/06   126  6.228374
07/06   123  6.080079
08/06   123  6.080079
11/06   122  6.030648
18/06   120  5.931784
03/06   117  5.783490
15/06   113  5.585764
14/06   113  5.585764
17/06   111  5.486901
01/06    95  4.695996
19/06    66  3.262481
16/06    36  1.779535
02/06    22  1.087494
09/06    22  1.087494
19/6      3  0.148295
07/6      3  0.148295
03/05     3  0.148295
05/05     3  0.148295
15/6      2  0.098863
14/6      2  0.098863
04/6      2  0.098863
11/6      2  0.098863
12/05     2  0.098863
18/6      2  0.098863
05/6      2  0.098863
30/05     1  0.049432
18/3      1  0.049432
18/03     1  0.049432
18/04     1  0.049432
06/05     1  0.049432
19/09     1  0.049432
17/07     1  0.049432
08/6      1  0.049432
16/05     1  0.049432
15/05     1  0.049432
13/04     1  0.049432
06/6      1  0.049432
12/6      1  0.049432
07/04     1  0.049432
31/05     1  0.049432
11/08     1  0.049432
11/05     1  0.049432

# CAPTURANDO UNIDADE

In [12]:
df['unidade'] = ''
df['Q_unidades'] = ''

for i in range(0, len(df)):
    mensagem = unidecode.unidecode(df['mensagem'][i].upper())
    
    #Unidades escrita com a bunda
    lista_avi = ["CENTRAL","AVICENA","AVICENNA","AVICCENNA"]
    for i_avi in lista_avi:
        mensagem = mensagem.replace(i_avi, 'AVICCENA')
        
    mensagem = mensagem.replace('Sta Isabel', 'SANTA')
    
    lista_unidades = re.findall(r'ALPHA|ANALIA|AVICCENA|ITAIM|JABA|MATERNIDADE|MORUMBI|OSASCO|VILLA|VILA|VNS|SANTA', mensagem)
    quantidade_unidades = len(lista_unidades)
    
    df['Q_unidades'][i] = quantidade_unidades
    
    if quantidade_unidades == 1: #capturando apenas com uma unidade
        df['unidade'][i] = lista_unidades[0].replace('  ',' ').upper().strip()
    elif quantidade_unidades > 1: #com mais de uma unidade
        df['unidade'][i] = lista_unidades
        df['controle'][i] = 'DESLOCADO'
    else: #sem nenhuma unidade
        df['controle'][i] = 'UNIDADES'
        
print("quantidades de unidades presentes nas mensagens:")
count_freq(df, 'Q_unidades')

#salvando
df_prob = pd.concat([df_prob, df[df['controle'] == 'UNIDADES']])
print("unidades probs:", len(df_prob))
sample_prob('UNIDADES')

df = df[df['controle'] != 'UNIDADES']

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)
#print("unidade ok:", len(df)) 
#print("unidade ok deslocado:", len(df[df['controle'] == 'DESLOCADO']))

quantidades de unidades presentes nas mensagens:

            Freq       Perc
Q_unidades
1           1911  94.463668
2             96   4.745428
0              8   0.395452
3              8   0.395452

unidades probs: 12

# RETIRANDO REGISTROS DE DESLOCADOS, DISTANCIA E SAIDAS POR QUESTÃO DE SAUDE

In [13]:
#preparando para reconhecer corretamente
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace('DESLOCADA','DESLOCADO'))
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace('DESLOCAMENTO','DESLOCADO'))

for i in range(0, len(df)):
    mensagem = unidecode.unidecode(df['mensagem'][i].upper())
    observacoes = re.findall(r'DESLOCADO', mensagem)
    quantidade_observacoes = len(observacoes)
    
    if quantidade_observacoes > 0:
        df['controle'][i] = 'DESLOCADO'
        
count_freq(df, 'controle')
# OBS: Plantões de deslocado não são mais excluido

           Freq   Perc
controle
DESLOCADO   111  100.0

In [14]:
#RETIRANDO REGISTROS DE DISTANCIA E SAIDAS POR QUESTÃO DE SAUDE OU DISPENSA
df['controle2'] = np.nan
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace('DISPENSADA','DISPENSADO'))
df['mensagem'] = df['mensagem'].apply(lambda x: x.replace('DISPENSA ','DISPENSADO'))

for i in range(0, len(df)):
    mensagem = unidecode.unidecode(df['mensagem'][i].upper())
    observacoes = re.findall(r'DISPENSADO|SAUDE|DISTANCIA|D[0-9]', mensagem)
    quantidade_observacoes = len(observacoes)

    if quantidade_observacoes >= 1:
        df['controle'][i] = 'DISP_SAUDE_DIST'
        if quantidade_observacoes == 1:
            df['controle2'][i] = observacoes[0]
        
count_freq(df, 'controle')

#salvando
df_prob = pd.concat([df_prob, df[df['controle'] == 'DISP_SAUDE_DIST']])
print("unidades probs:", len(df_prob))
sample_prob('DISP_SAUDE_DIST')

df = df[df['controle'] != 'DISP_SAUDE_DIST']
print("unidade ok:", len(df)) 

print(df_prob['mensagem'][df_prob['controle'] == 'DISP_SAUDE_DIST'].sample(2))

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

                 Freq       Perc
controle
DISP_SAUDE_DIST   155  61.507937
DESLOCADO          97  38.492063

unidades probs: 167
unidade ok: 1860
995    10/06 JABAQUARA  -  DANIELLEN DISPENSADO ‎<MEN...
900     09/06 VILLA DÉBORA BRESSANE SAÍDA 10:40  ( D3 )
Name: mensagem, dtype: object

# VERIFICANDO SE É EXTRA

In [15]:
df["extra"] = np.nan

for i in range(0, len(df)):
    if 'EXTRA' in df['mensagem'][i].upper(): #se conter a palavra "extra"
        df['extra'][i] = 'extra' #marque na coluna extra como extra
        
print("Quantidade de registros Extra - Voluntario:")
count_freq(df, 'extra')

Quantidade de registros Extra - Voluntario:

       Freq   Perc
extra
extra     8  100.0

# Tipo entrada e saida:

In [16]:
#Indentificando se é um registro de entrada ou saida
df['tipo'] = np.nan

for i in range(0, len(df)):
    mensagem = unidecode.unidecode(df['mensagem'][i].upper())
    entradas_saidas = re.findall(r'ENTRADA|SAIDA', mensagem)
    quantidade_entradas_saidas = len(entradas_saidas)
    
    if quantidade_entradas_saidas != 1: #capturando apenas com uma informação escrita
        df['controle'][i] = 'SEM_ENTRADA_OU_SAIDA'
    else: #restante com mais de uma informação
        df['tipo'][i] = entradas_saidas[0]
        
count_freq(df, 'tipo')
count_freq(df, 'controle')

#salvando
df_prob = pd.concat([df_prob, df[df['controle'] == 'SEM_ENTRADA_OU_SAIDA']])
print("unidades probs:", len(df_prob))
sample_prob('SEM_ENTRADA_OU_SAIDA')

df = df[df['controle'] != 'SEM_ENTRADA_OU_SAIDA']
print("unidade ok:", len(df)) 

#print(df_prob['mensagem'][df_prob['controle'] == 'SEM_ENTRADA_OU_SAIDA'].sample(1))

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)
print("ok:", len(df))

         Freq       Perc
tipo
SAIDA    1100  59.395248
ENTRADA   752  40.604752

                      Freq       Perc
controle
DESLOCADO               97  92.380952
SEM_ENTRADA_OU_SAIDA     8   7.619048

unidades probs: 175
unidade ok: 1852
ok: 1852

# Data:

In [17]:
#retirando a data da mensagem para não atrapalhar no reconhecimento de hora
df['hora'] = np.nan

for i in range(0, len(df)):
    df['hora'][i] = df['mensagem'][i].replace(df['data'][i], '').strip() #substituindo a data por vazio

In [18]:
#arrumando data d/mm (6/10, não 06/10)
for i in range(0, len(df)):
    if df['data'][i][1] == '/':
        df['data'][i] = '0'+df['data'][i]
df['data'].unique()

array(['01/06', '30/05', '02/06', '03/06', '03/05', '04/06', '04/6',
       '05/06', '05/05', '05/6', '06/06', '06/6', '07/06', '07/04',
       '07/6', '08/06', '08/6', '09/06', '10/06', '11/06', '11/08',
       '11/05', '11/6', '12/06', '12/05', '13/06', '13/04', '14/06',
       '14/6', '15/06', '15/6', '15/05', '16/06', '16/05', '17/06',
       '17/07', '18/06', '18/03', '18/3', '18/6', '18/04', '19/06',
       '19/09', '19/6'], dtype=object)

In [19]:
#somando informações restantes na data: dd/MM/yyyy
for i in range(0, len(df)):
    df['data'][i] = df['data'][i][0:2] + "/"+ mes +"/2024" 
    
count_freq(df, 'data')

            Freq      Perc
data
06/06/2024   132  7.127430
05/06/2024   131  7.073434
12/06/2024   130  7.019438
07/06/2024   124  6.695464
18/06/2024   123  6.641469
13/06/2024   123  6.641469
08/06/2024   120  6.479482
11/06/2024   118  6.371490
10/06/2024   117  6.317495
14/06/2024   111  5.993521
17/06/2024   111  5.993521
04/06/2024   110  5.939525
03/06/2024   109  5.885529
15/06/2024   105  5.669546
01/06/2024    88  4.751620
19/06/2024    59  3.185745
16/06/2024    20  1.079914
02/06/2024    16  0.863931
09/06/2024     4  0.215983
30/06/2024     1  0.053996

In [20]:
df['sem_ou_fds'] = 'semana'

for i in lista_fds:
    datinha = i+"/"+mes+"/2024"
    df['sem_ou_fds'][df['data'] == datinha] = 'fds'

count_freq(df, 'sem_ou_fds')

            Freq       Perc
sem_ou_fds
semana      1498  80.885529
fds          354  19.114471

In [21]:
print(df.groupby(['data', 'sem_ou_fds']).size().unstack())

sem_ou_fds    fds  semana
data
01/06/2024   88.0     NaN
02/06/2024   16.0     NaN
03/06/2024    NaN   109.0
04/06/2024    NaN   110.0
05/06/2024    NaN   131.0
06/06/2024    NaN   132.0
07/06/2024    NaN   124.0
08/06/2024  120.0     NaN
09/06/2024    4.0     NaN
10/06/2024    NaN   117.0
11/06/2024    NaN   118.0
12/06/2024    NaN   130.0
13/06/2024    NaN   123.0
14/06/2024    NaN   111.0
15/06/2024  105.0     NaN
16/06/2024   20.0     NaN
17/06/2024    NaN   111.0
18/06/2024    NaN   123.0
19/06/2024    NaN    59.0
30/06/2024    1.0     NaN

In [22]:
#df['data'].iloc[180] = '26/09/2022'

# Hora:

In [23]:
#substituindo "h" por ":" para capturar horarios 11h22
df['hora'] = df['hora'].apply(lambda x: x.upper().replace("H", ":"))

In [24]:
for i in range(0, len(df)):
    mensagem = df['hora'][i]
    horas = re.findall(r'[0-9]{1,2}:[0-9]{1,2}', mensagem) #capturando horas HH:mm
    quantidade_horas = len(horas)
    
    if quantidade_horas == 1: #capturando apenas com uma horas escrita
        df['hora'][i] = horas[0]
    else: #restante com nenhuma ou mais horas (geralmente pq digitou a hora de entrada e saida {informação inutil})
        df['hora'][i] = ''
        df['controle'][i] = 'HORA'
        
count_freq(df, 'controle')

#salvando
df_prob = pd.concat([df_prob, df[df['controle'] == 'HORA']])
print("probs:", len(df_prob))
sample_prob('HORA')

df = df[df['controle'] != 'HORA']
print("ok:", len(df)) 

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

           Freq  Perc
controle
DESLOCADO    96  96.0
HORA          4   4.0

probs: 179
ok: 1848

In [25]:
#adicionando 0 no primeiro algorismo dos valores h:mm
for i in range(0, len(df)):
    if df['hora'][i][1] == ":":
        df['hora'][i] = "0"+df['hora'][i]
        
df['hora'].unique()

array(['05:10', '05:15', '05:20', '05:40', '05:50', '05:00', '06:00',
       '06:40', '05:30', '07:40', '08:15', '08:24', '08:40', '08:50',
       '09:00', '09:05', '09:15', '09:25', '09:40', '07:00', '10:10',
       '10:20', '10:30', '10:15', '10:40', '10:50', '11:05', '06:10',
       '11:20', '11:45', '12:00', '12:15', '12:50', '13:00', '12:30',
       '13:15', '13:20', '13:25', '13:30', '13:40', '13:50', '14:10',
       '14:40', '14:55', '15:00', '14:05', '15:25', '15:40', '15:15',
       '15:45', '16:05', '16:25', '16:37', '16:22', '17:00', '14:15',
       '18:00', '18:10', '19:00', '19:15', '05:25', '06:30', '15:50',
       '15:30', '19:30', '04:45', '05:16', '06:20', '07:15', '04:50',
       '09:45', '10:35', '10:45', '11:40', '11:25', '11:00', '12:40',
       '13:55', '14:45', '16:20', '16:40', '16:10', '16:50', '16:15',
       '16:55', '17:10', '17:15', '17:12', '17:45', '18:15', '19:20',
       '19:45', '19:50', '20:00', '20:18', '20:10', '20:37', '20:15',
       '19:40', '16:00', '20:50', '20:55', '21:13', '21:15', '20:20',
       '21:30', '21:00', '21:40', '21:45', '22:07', '04:00', '04:15',
       '04:20', '04:40', '04:30', '05:19', '05:45', '06:05', '07:20',
       '18:30', '08:10', '09:50', '11:15', '11:30', '11:35', '14:07',
       '15:10', '15:55', '17:25', '17:20', '14:30', '18:05', '18:50',
       '17:55', '19:25', '19:35', '20:45', '21:05', '21:10', '22:15',
       '22:40', '22:10', '21:35', '05:35', '05:55', '20:40', '10:00',
       '12:10', '12:20', '12:25', '13:10', '13:35', '11:55', '15:35',
       '16:30', '16:43', '16:45', '17:05', '17:30', '17:40', '03:00',
       '21:20', '22:00', '22:35', '21:37', '07:45', '14:20', '14:50',
       '14:00', '16:35', '17:09', '18:25', '19:16', '19:10', '20:25',
       '20:05', '20:35', '20:30', '19:55', '21:50', '22:50', '03:30',
       '09:35', '15:20', '15:56', '16:12', '18:45', '22:20', '04:17',
       '06:15', '06:50', '09:30', '09:49', '09:10', '10:55', '11:10',
       '11:50', '13:05', '16:17', '18:07', '18:35', '18:40', '13:45',
       '12:05', '07:50', '08:20', '08:55', '09:20', '12:55', '18:22',
       '19:05', '21:25', '03:20', '04:35', '04:10', '12:35', '14:25',
       '16:26', '17:07', '05:18', '15:28', '15:43', '19:36', '10:05',
       '06:35', '17:50', '17:35', '21:38', '21:52', '23:10', '23:20',
       '14:38', '17:08', '12:38', '12:45', '14:28', '18:20', '08:30',
       '01:30', '07:55', '22:30', '14:35', '19:27', '20:36', '21:07',
       '21:55', '21:08', '10:06', '11:08', '17:06', '22:25', '23:40',
       '04:48', '05:46', '11:47', '14:37'], dtype=object)

# Hora final:

In [26]:
#pacotes para manipular data
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

In [27]:
df['hora'].unique()

array(['05:10', '05:15', '05:20', '05:40', '05:50', '05:00', '06:00',
       '06:40', '05:30', '07:40', '08:15', '08:24', '08:40', '08:50',
       '09:00', '09:05', '09:15', '09:25', '09:40', '07:00', '10:10',
       '10:20', '10:30', '10:15', '10:40', '10:50', '11:05', '06:10',
       '11:20', '11:45', '12:00', '12:15', '12:50', '13:00', '12:30',
       '13:15', '13:20', '13:25', '13:30', '13:40', '13:50', '14:10',
       '14:40', '14:55', '15:00', '14:05', '15:25', '15:40', '15:15',
       '15:45', '16:05', '16:25', '16:37', '16:22', '17:00', '14:15',
       '18:00', '18:10', '19:00', '19:15', '05:25', '06:30', '15:50',
       '15:30', '19:30', '04:45', '05:16', '06:20', '07:15', '04:50',
       '09:45', '10:35', '10:45', '11:40', '11:25', '11:00', '12:40',
       '13:55', '14:45', '16:20', '16:40', '16:10', '16:50', '16:15',
       '16:55', '17:10', '17:15', '17:12', '17:45', '18:15', '19:20',
       '19:45', '19:50', '20:00', '20:18', '20:10', '20:37', '20:15',
       '19:40', '16:00', '20:50', '20:55', '21:13', '21:15', '20:20',
       '21:30', '21:00', '21:40', '21:45', '22:07', '04:00', '04:15',
       '04:20', '04:40', '04:30', '05:19', '05:45', '06:05', '07:20',
       '18:30', '08:10', '09:50', '11:15', '11:30', '11:35', '14:07',
       '15:10', '15:55', '17:25', '17:20', '14:30', '18:05', '18:50',
       '17:55', '19:25', '19:35', '20:45', '21:05', '21:10', '22:15',
       '22:40', '22:10', '21:35', '05:35', '05:55', '20:40', '10:00',
       '12:10', '12:20', '12:25', '13:10', '13:35', '11:55', '15:35',
       '16:30', '16:43', '16:45', '17:05', '17:30', '17:40', '03:00',
       '21:20', '22:00', '22:35', '21:37', '07:45', '14:20', '14:50',
       '14:00', '16:35', '17:09', '18:25', '19:16', '19:10', '20:25',
       '20:05', '20:35', '20:30', '19:55', '21:50', '22:50', '03:30',
       '09:35', '15:20', '15:56', '16:12', '18:45', '22:20', '04:17',
       '06:15', '06:50', '09:30', '09:49', '09:10', '10:55', '11:10',
       '11:50', '13:05', '16:17', '18:07', '18:35', '18:40', '13:45',
       '12:05', '07:50', '08:20', '08:55', '09:20', '12:55', '18:22',
       '19:05', '21:25', '03:20', '04:35', '04:10', '12:35', '14:25',
       '16:26', '17:07', '05:18', '15:28', '15:43', '19:36', '10:05',
       '06:35', '17:50', '17:35', '21:38', '21:52', '23:10', '23:20',
       '14:38', '17:08', '12:38', '12:45', '14:28', '18:20', '08:30',
       '01:30', '07:55', '22:30', '14:35', '19:27', '20:36', '21:07',
       '21:55', '21:08', '10:06', '11:08', '17:06', '22:25', '23:40',
       '04:48', '05:46', '11:47', '14:37'], dtype=object)

In [28]:
#criando uma coluna datetime para fazer calculos de horas e minutos
df['hora2'] = df['hora'].apply(lambda x: datetime.strptime(x, '%H:%M'))

#verificando se esta tudo certo
print(df['hora2'].dt.year.unique())
print(df['hora2'].dt.month.unique())
print(df['hora2'].dt.day.unique())
print(df['hora2'].dt.hour.unique())

for i in range(0, len(df)):
    minuto = int(df['hora'][i][3:])
    
    if minuto != 0 and minuto != 30:
        if minuto < 30:
            if df['tipo'][i] == "ENTRADA": #arredondando para baixo (0) subtraindo quantos minutos tem entre o momento e HH:00
                df['hora'][i] = str(df['hora2'][i] + timedelta(minutes=-minuto))[11:-3]
            elif df['tipo'][i] == "SAIDA": #arredondando para cima (30) acrecentando quantos minutos faltam para HH:30
                df['hora'][i] = str(df['hora2'][i] + timedelta(minutes=+(30-minuto)))[11:-3]
            else:
                df['controle'][i] = 'Hora_final'
                
        elif minuto > 30:
            if df['tipo'][i] == "ENTRADA": #arredondando para baixo (30) subtraindo quando minutos tem entre o momento e HH:30
                df['hora'][i] = str(df['hora2'][i] + timedelta(minutes=-(minuto-30)))[11:-3]   
            elif df['tipo'][i] == "SAIDA": #arredondando para cima (60) acrecentando quantos minutos faltam para HH:60
                df['hora'][i] = str(df['hora2'][i] + timedelta(minutes=+(60-minuto)))[11:-3]            
            else:
                df['controle'][i] = 'Hora_final'
        else:
            df['controle'][i] = 'Hora_final'
            
    elif minuto == 0 or minuto == 30:
        df['hora'][i] = str(df['hora2'][i])[11:-3] 
        
    else:
        df['controle'][i] = 'Hora_final'

df['hora'].unique()

#salvando restante
df_prob = pd.concat([df_prob, df[df['controle'] == 'Hora_final']])
print("probs:", len(df_prob))
sample_prob('Hora_final')

df = df[df['controle'] != 'Hora_final']
print("ok:", len(df))

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

[1900]
[1]
[1]
[ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19  4 20 21 22  3 23  1]
probs: 179
ok: 1848

# Setor:

In [29]:
#reconhendo em qual periodo do dia aconteceu o plantão
df['ENTRADA'] = ''
df['SAIDA'] = ''

df['PERIODO'] = ''

for i in range(0, len(df)):
    minuto = int(df['hora'][i][:2])
    
    if df['tipo'][i] == 'ENTRADA':
        df['ENTRADA'][i] = df['hora'][i]
        if minuto < 7: #periodo 6h
            df['PERIODO'][i] = '6h'
            df['SAIDA'][i] = '07:00'
        elif minuto >= 7 and minuto < 13: #periodo manha
            df['PERIODO'][i] = 'manha'
            df['SAIDA'][i] = '13:00'
        elif minuto >= 13 and minuto < 19: #periodo tarde
            df['PERIODO'][i] = 'tarde'
            df['SAIDA'][i] = '19:00'
        else:
            df['controle'][i] = 'HORARIOS'
    elif df['tipo'][i] == 'SAIDA':
        df['SAIDA'][i] = df['hora'][i]
        if minuto >= 7 and minuto < 13: #periodo manha
            df['ENTRADA'][i] = '07:00'
            df['PERIODO'][i] = 'manha'
        elif minuto >= 13 and minuto < 19: #periodo tarde
            if df['hora'][i] == '13:00':
                df['SAIDA'][i] = '13:00'
                df['ENTRADA'][i] = '07:00'
                df['PERIODO'][i] = 'manha'
            else:
                df['ENTRADA'][i] = '13:00'
                df['PERIODO'][i] = 'tarde'
        elif minuto >= 19: #periodo noturno
            df['ENTRADA'][i] = '19:00'
            df['PERIODO'][i] = 'noturno saida'
        else:
            df['controle'][i] = 'HORARIOS'
    else:
        df['controle'][i] = 'HORARIOS'
        
count_freq(df, 'PERIODO')
count_freq(df, 'controle')

#salvando restante
df_prob = pd.concat([df_prob, df[df['controle'] == 'HORARIOS']])
print("probs:", len(df_prob))
sample_prob('HORARIOS')

df = df[df['controle'] != 'HORARIOS']
print("ok:", len(df))

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

               Freq       Perc
PERIODO
6h              648  35.064935
tarde           508  27.489177
noturno saida   345  18.668831
manha           340  18.398268
                  7   0.378788

           Freq       Perc
controle
DESLOCADO    96  93.203883
HORARIOS      7   6.796117

probs: 186
ok: 1841

# DURAÇÃO DO PLANTÃO

In [30]:
df['DURAÇÃO'] = ''

for i in range(0, len(df)):
    diferenca_tempo = datetime.strptime(df['SAIDA'][i], '%H:%M') - datetime.strptime(df['ENTRADA'][i], '%H:%M')
    
    #diferenca_tempo vem em formato estranho, tem-se que transformar em segundos antes
    diferenca_tempo_s = diferenca_tempo.seconds
    horas = '0' + str(int((diferenca_tempo_s/60)/60)) #capturando horas
    minutos = str(int((diferenca_tempo_s/60)%60))  #capturando minutos
    
    if len(minutos) == 1:
        minutos = '0' + minutos
    
    df['DURAÇÃO'][i] = horas + ':' + minutos
    
df['DURAÇÃO'][df['DURAÇÃO'] == '00:00'] = '06:00'    

df['DURAÇÃO'].unique()

array(['02:00', '01:30', '01:00', '00:30', '02:30', '03:00', '06:00',
       '03:30', '04:00', '04:30', '05:00', '05:30'], dtype=object)

In [31]:
df[['mensagem','hora','ENTRADA','SAIDA','DURAÇÃO']][df['DURAÇÃO'] == '06:00']

,mensagem,hora,ENTRADA,SAIDA,DURAÇÃO
35,01/06 OSASCO - DÊNIO ENTRADA 07:00 ( DESLOC...,07:00,07:00,13:00,06:00
54,01/06 ANALIA - J. HUSSEIN SAIDA 12:50,13:00,07:00,13:00,06:00
55,01/06 MATERNIDADE - PATRICK ENTRADA 13:00,13:00,13:00,19:00,06:00
85,01/06 ITAIM - AMANDA SAÍDA 19:00,19:00,19:00,19:00,06:00
95,02/06 ANALIA BRUNO LEMOS ENTRADA 07:00,07:00,07:00,13:00,06:00
98,02/06 ITAIM - TAVARES - SAÍDA 19:00,19:00,19:00,19:00,06:00
99,02/06 JABAQUARA - ALEXANDRE AMARAL - ENTRA...,07:00,07:00,13:00,06:00
139,03/06 - ITAIM - ANTIPOU - SAÍDA 12:40,13:00,07:00,13:00,06:00
140,03/06 OSASCO - BRIAN SAÍDA 13:00,13:00,07:00,13:00,06:00
141,03/06 OSASCO - BIZARRIA ENTRADA 13:00,13:00,13:00,19:00,06:00
144,03/06 MATERNIDADE FACCHINI ENTRADA 13:00,13:00,13:00,19:00,06:00
149,03/06 JABAQUARA - FILIPE LUGON ENTRADA 13:20...,13:00,13:00,19:00,06:00
232,04/06 VNS - GABRIELLA SAÍDA 07:00 ( EXTRA )...,07:00,07:00,07:00,06:00
250,04/06 VILLA - TORRELIO SAÍDA ÀS 13:00 ( DES...,13:00,07:00,13:00,06:00
254,04/06 MORUMBI - G.MENEZES ENTRADA 13:00,13:00,13:00,19:00,06:00
278,04/06 ITAIM - PETRY SAÍDA 18:50,19:00,19:00,19:00,06:00
284,04/06 ITAIM - BRIAN ENTRADA 13:00,13:00,13:00,19:00,06:00
368,05/06 MORUMBI - SILVA - SAÍDA 12:40,13:00,07:00,13:00,06:00
371,05/06 VILLA - T.SILVA - ENTRADA 13:00,13:00,13:00,19:00,06:00
378,05/06 MORUMBI - DIOGO ENTRADA 07:00,07:00,07:00,13:00,06:00
413,05/06 VILLA CAMILA SAIDA 19:00,19:00,19:00,19:00,06:00
414,05/06 ANÁLIA - MACIEL SAÍDA 19:00,19:00,19:00,19:00,06:00
444,05/06 MORUMBI - MARQUES ENTRADA 13:00,13:00,13:00,19:00,06:00
492,05/06 ITAIM - NATAN - ENTRADA 13:00,13:00,13:00,19:00,06:00
500,06/06 OSASCO - DINIZ ENTRADA 13:00,13:00,13:00,19:00,06:00
533,06/06 JABAQUARA - BRUCE ENTRADA 07:00,07:00,07:00,13:00,06:00
607,07/06 ITAIM - COELHO SAÍDA 07:00 ( EXTRA ) ...,07:00,07:00,07:00,06:00
633,07/06 CENTRAL YUJI SAÍDA 13:00,13:00,07:00,13:00,06:00
657,07/06 MORUMBI - MARCELO ENTRADA 13:00,13:00,13:00,19:00,06:00
680,07/06 ALPHA VENTURA SAIDA 18:45,19:00,19:00,19:00,06:00
681,07/06 VILLA JULIANO TOBAL SAÍDA 18:50,19:00,19:00,19:00,06:00
761,08/06 ITAIM - MAIELY ENTRADA 07:00,07:00,07:00,13:00,06:00
770,08/06 VILLA - M. CECÍLIA ENTRADA 13:00,13:00,13:00,19:00,06:00
788,08/06 ANÁLIA - BOSI SAÍDA 12:50,13:00,07:00,13:00,06:00
806,08/06 ITAIM - R. MODOLO SAÍDA 12:50,13:00,07:00,13:00,06:00
813,08/06 VILLA NARA SAIDA 18:35,19:00,19:00,19:00,06:00
814,08/06 ANÁLIA - NAT RODRIGUES SAÍDA 18:35,19:00,19:00,19:00,06:00
815,08/06 VILLA - M. CECÍLIA SAÍDA 18:40,19:00,19:00,19:00,06:00
820,08/06 ITAIM MOURA SAÍDA 12:40,13:00,07:00,13:00,06:00
857,10/06 VNS - GABRIELLA SAÍDA 07:00 ( EXTRA )...,07:00,07:00,07:00,06:00
884,10/06 ITAIM JOÃO SAÍDA 12:40,13:00,07:00,13:00,06:00
885,10/06 OSASCO MOTA SAÍDA 12:55 ( DESLOCADO VNS ),13:00,07:00,13:00,06:00
886,10/06 JABAQUARA - WONG SAÍDA 12:50,13:00,07:00,13:00,06:00
887,10/06 MORUMBI QUEIROZ ENTRADA 13:00 ( A PEDI...,13:00,13:00,19:00,06:00
889,10/06 ANÁLIA - DINIZ ENTRADA 13:00,13:00,13:00,19:00,06:00
916,10/06 ITAIM - BEZERRA SAIDA AS 18:40,19:00,19:00,19:00,06:00
953,10/06 OSASCO HELENA SAÍDA 19:00,19:00,19:00,19:00,06:00
975,10/06 MATERNIDADE FACCHINI ENTRADA 13:00,13:00,13:00,19:00,06:00
976,11/06 MORUMBI - SOARES SAÍDA 07:00 ( EXTRA...,07:00,07:00,07:00,06:00
977,11/06 OSASCO MAXVILANO ENTRADA 07:00,07:00,07:00,13:00,06:00
990,11/06 VILLA ALINE SAÍDA 12:35,13:00,07:00,13:00,06:00
991,11/06 JABAQUARA - MIRANDA SAÍDA ÀS 12:40,13:00,07:00,13:00,06:00
992,11/06 JABAQUARA - DANIELLEN SAÍDA 12:50,13:00,07:00,13:00,06:00
993,11/06 OSASCO - PIASSI SAÍDA 12:50,13:00,07:00,13:00,06:00
996,11/06 OSASCO - MANUELA ENTRADA 13:00,13:00,13:00,19:00,06:00
1034,11/06 JABAQUARA FACCHINI SAÍDA 19:00,19:00,19:00,19:00,06:00
1091,12/06 MORUMBI - DIOGO ENTRADA 07:00,07:00,07:00,13:00,06:00
1096,11/06 MATERNIDADE - OLIVEIRA ENTRADA 13:00,13:00,13:00,19:00,06:00
1118,12/06 VNS - FABIANA SAÍDA 13:00,13:00,07:00,13:00,06:00
1119,12/06 ANÁLIA - MARTINS SAÍDA 13:00,13:00,07:00,13:00,06:00
1120,12/06 ITAIM - NATAN - ENTRADA 13:00,13:00,13:00,19:00,06:00
1176,12/06 VNS RAFAEL TADEU SAÍDA 18:45,19:00,19:00,19:00,06:00
1178,12/06 ITAIM - OLIVEIRA ENTRADA 13:00,13:00,13:00,19:00,06:00
1236,13/06 ANALIA ANA SAÍDA 12:50,13:00,07:00,13:00,06:00
1265,13/06 JABAQUARA - BRUCE ENTRADA 07:00,07:00,07:00,13:00,06:00
1337,14/06 ANÁLIA RIBEIRO ENTRADA 07:00 ( DESLOCAD...,07:00,07:00,13:00,06:00
1444,14/6 MATERNIDADE MARINA SAÍDA 13:00,13:00,07:00,13:00,06:00
1476,15/06 VNS VITOR SAÍDA 12:38,13:00,07:00,13:00,06:00
1479,15/06 - ANÁLIA - ANTIPOU - SAÍDA 12:40 ( D...,13:00,07:00,13:00,06:00
1480,15/06 ANÁLIA - DIOGO SAÍDA 12:45,13:00,07:00,13:00,06:00
1482,15/06 ANALIA ANA SAÍDA 12:45 ( DESLOCADO VNS ),13:00,07:00,13:00,06:00
1483,15/06 OSASCO KAWAURA SAÍDA 13:00,13:00,07:00,13:00,06:00
1484,15/06 JABAQUARA - SILVEIRA SAÍDA 13:00,13:00,07:00,13:00,06:00
1492,15/06 CENTRAL - MAÍRA SAÍDA 12:40,13:00,07:00,13:00,06:00
1521,15/06 OSASCO - SABOIA SAIDA 18:40,19:00,19:00,19:00,06:00
1524,15/06 ITAIM ISAQUE SAÍDA 18:50,19:00,19:00,19:00,06:00
1540,16/06 ALPHA MAEDA SAÍDA 12:50,13:00,07:00,13:00,06:00
1541,16/06 ANALIA VENTURA SAIDA 13:00,13:00,07:00,13:00,06:00
1545,16/06 ITAIM - MAIELY SAIDA 13:00,13:00,07:00,13:00,06:00
1567,17/06 SANTA - JESSICA ENTRADA 7:00 ( ASSUMO...,07:00,07:00,13:00,06:00
1587,17/06 ALPHA - ERICK SAÍDA 12:40 ( DESLOCADO...,13:00,07:00,13:00,06:00
1589,17/06 MATERNIDADE FACCHINI ENTRADA 13:00,13:00,13:00,19:00,06:00
1590,17/06 SANTA - C RESENDE ENTRADA 13:00 ( DE...,13:00,13:00,19:00,06:00
1591,17/06 SANTA - JESSICA SAIDA 13:00 ( C.RESEN...,13:00,07:00,13:00,06:00
1592,17/06 MATERNIDADE - KAKUDA SAIDA 13:00,13:00,07:00,13:00,06:00
1593,17/06 MORUMBI - TURIBIO SAÍDA: 12:40,13:00,07:00,13:00,06:00
1708,18/03 MATERNIDADE - OLIVEIRA ENTRADA 13:00,13:00,13:00,19:00,06:00
1723,18/06 ITAIM - CANDEO ENTRADA ÀS 07:00 ( DES...,07:00,07:00,13:00,06:00
1828,19/06 MORUMBI - KOGA SAÍDA 12:45,13:00,07:00,13:00,06:00
1835,19/6 - ITAIM OLAIO SAÍDA 13:00,13:00,07:00,13:00,06:00

In [32]:
df['setor'] = ''

for i in range(0, len(df)):
    if df['sem_ou_fds'][i] == 'semana':
        if df['PERIODO'][i] == '6h':
            df['setor'][i] = 'SEMANA - 6HS'
        elif df['PERIODO'][i] == 'manha':
            df['setor'][i] = 'SEMANA - MANHA - C.CIRURGICO'
        elif df['PERIODO'][i] == 'tarde':
            df['setor'][i] = 'SEMANA - TARDE - C.CIRURGICO'
        elif df['PERIODO'][i] == 'noturno saida':
            df['setor'][i] = 'SEMANA - NOTURNO - SAIDA'
        else:
            df['setor'][i] = 'VERIFICAR'

    elif df['sem_ou_fds'][i] == 'fds': 
        if df['PERIODO'][i] == '6h':
            df['setor'][i] = 'FDS - 6HS'
        elif df['PERIODO'][i] == 'manha':
            df['setor'][i] = 'FDS - C.CIRURGICO ROTINA'
        elif df['PERIODO'][i] == 'tarde':
            df['setor'][i] = 'FDS - SAIDA'
        elif df['PERIODO'][i] == 'noturno saida':
            df['setor'][i] = 'FDS - PLANTAO'
        else:
            df['setor'][i] = 'VERIFICAR'  

    else:
        df['setor'][i] = 'VERIFICAR'
        
count_freq(df, 'setor')

                              Freq       Perc
setor
SEMANA - 6HS                   533  28.951657
SEMANA - TARDE - C.CIRURGICO   402  21.835959
SEMANA - NOTURNO - SAIDA       329  17.870722
SEMANA - MANHA - C.CIRURGICO   229  12.438892
FDS - 6HS                      115   6.246605
FDS - C.CIRURGICO ROTINA       111   6.029332
FDS - SAIDA                    106   5.757740
FDS - PLANTAO                   16   0.869093

In [33]:
print("probs:", len(df_prob))
print("ok:", len(df))

porcentagem = round((len(df)/(len(df)+len(df_prob)))*100, 2)
print('Porcentagem de registros corrigidas pelo o algoritmo:', porcentagem)

probs: 186
ok: 1841
Porcentagem de registros corrigidas pelo o algoritmo: 90.82

# Ultimos ajustes:

# Distancias

In [34]:
for i in range(0, len(df)):
    mensagem = df['mensagem'][i].upper()
    regex_D = re.findall('D[0-9]', mensagem)
    
    if len(regex_D) == 0:
        continue
    else:
        df['controle'][i] == 'DISTANCIAS'

In [35]:
for i in range(0, len(df)):
    if df['DURAÇÃO'][i] == "00:00":
        df['controle'][i] = "DISTANCIAS"
        
count_freq(df, 'controle')

#salvando restante
df_prob = pd.concat([df_prob, df[df['controle'] == 'DISTANCIAS']])
print("probs:", len(df_prob))
sample_prob('DISTANCIAS')

df = df[df['controle'] != 'DISTANCIAS']
print("ok:", len(df))

df_prob.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

           Freq   Perc
controle
DESLOCADO    96  100.0

probs: 186
ok: 1841

In [36]:
# Cria uma nova Série sem as listas
serie_sem_listas = pd.Series([x for x in df['unidade'] if not isinstance(x, list)])

# Imprime os valores únicos da nova Série
print(serie_sem_listas.unique())

['ANALIA' 'MORUMBI' 'JABA' 'SANTA' 'VILLA' 'OSASCO' 'ITAIM' 'VNS'
 'MATERNIDADE' 'AVICCENA' 'ALPHA']

In [37]:
# Cria uma lista com apenas os valores que são listas
listas = [x for x in df['unidade'] if isinstance(x, list)]

# Converte as listas em tuplas e adiciona elas a um conjunto para obter apenas as listas distintas
listas_distintas = set(tuple(lista) for lista in listas)

# Imprime as listas distintas
for lista in listas_distintas:
    print(list(lista))

['AVICCENA', 'ANALIA']
['ALPHA', 'OSASCO']
['OSASCO', 'SANTA']
['OSASCO', 'VNS']
['ALPHA', 'JABA']
['ANALIA', 'JABA']
['VILLA', 'OSASCO']
['JABA', 'VILA', 'ITAIM']
['VNS', 'ITAIM']
['VILLA', 'JABA']
['AVICCENA', 'MORUMBI']
['VNS', 'VNS']
['SANTA', 'JABA']
['ANALIA', 'ANALIA', 'ITAIM']
['ANALIA', 'ANALIA']
['VILLA', 'VILA']
['MATERNIDADE', 'MORUMBI']
['ITAIM', 'JABA']
['VILLA', 'ANALIA']
['SANTA', 'ITAIM']
['VNS', 'MATERNIDADE']
['ANALIA', 'MORUMBI']
['AVICCENA', 'VILLA']
['OSASCO', 'JABA']
['MORUMBI', 'VNS']
['OSASCO', 'ITAIM', 'OSASCO']
['ITAIM', 'VILA']
['ANALIA', 'ITAIM']
['OSASCO', 'VILLA', 'OSASCO']
['ALPHA', 'ITAIM']
['OSASCO', 'VILA']
['ITAIM', 'ANALIA']
['ANALIA', 'SANTA']
['ANALIA', 'VNS']
['VILLA', 'ITAIM']
['ANALIA', 'ANALIA', 'OSASCO']
['ITAIM', 'MORUMBI']
['MORUMBI', 'AVICCENA']
['OSASCO', 'MORUMBI']
['VNS', 'ANALIA', 'VNS']
['OSASCO', 'ALPHA']
['ITAIM', 'VNS']
['ANALIA', 'OSASCO']

In [38]:
df['setor'] = df['setor'].apply(lambda x: unidecode.unidecode(x.replace('  ',' ').upper().strip()))

#problemas com santa isabel 
#df['setor'][(df['unidade'] == "SANTA ISABEL") & (df['setor'] == "FDS - SAIDA")] = "FDS - NOTURNO - SAIDA"
df['setor'][(df['unidade'] == "SANTA ISABEL") & (df['setor'] == "FDS - C.CIRURGICO ROTINA")] = "FDS - MANHA - C.CIRURGICO"

In [39]:
df['nome'] = df['nome'].apply(lambda x: x.replace('  ',' '))

#df['UNIDADE'] = df['UNIDADE'].apply(lambda x: x.replace('JABAQUARAQUARA','JABAQUARA'))
#df['UNIDADE'].unique()

# Salvando:

In [40]:
df['periodo'] = np.nan
df['periodo'][df['PERIODO'] == '6h'] = 1
df['periodo'][df['PERIODO'] == 'manha'] = 2
df['periodo'][df['PERIODO'] == 'tarde'] = 3
df['periodo'][df['PERIODO'] == 'noturno saida'] = 4

In [41]:
df = df[['chat', 'dia', 'nome', 'mensagem', 'controle', 'data', 'unidade',
       'extra', 'tipo', 'ENTRADA', 'SAIDA', 'DURAÇÃO', 'PERIODO','periodo',
         'setor', 'sem_ou_fds']]

In [42]:
df.head()

,chat,dia,nome,mensagem,controle,data,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds
0,[01/06/2024 05:13:13] Pedro Augusto Tavares Da...,01/06/2024,PEDRO AUGUSTO TAVARES DALL AGLIO,01/06 ANÁLIA - TAVARES - ENTRADA 05:10 ‎<M...,NaN,01/06/2024,ANALIA,NaN,ENTRADA,05:00,07:00,02:00,6h,1.0,FDS - 6HS,fds
1,[01/06/2024 05:17:43] Daniel Masuzaki Wong: 0...,01/06/2024,DANIEL MASUZAKI WONG,01/06 MORUMBI - WONG ENTRADA 05:15,NaN,01/06/2024,MORUMBI,NaN,ENTRADA,05:00,07:00,02:00,6h,1.0,FDS - 6HS,fds
2,[01/06/2024 05:19:23] Nathalia Soares Rodrigue...,01/06/2024,NATHALIA SOARES RODRIGUES GOMES,01/06 MORUMBI - NAT RODRIGUES ENTRADA 05:15,NaN,01/06/2024,MORUMBI,NaN,ENTRADA,05:00,07:00,02:00,6h,1.0,FDS - 6HS,fds
3,[01/06/2024 05:27:02] Vitor Oliveira André: 01...,01/06/2024,VITOR OLIVEIRA ANDRE,01/06 JABAQUARA VITOR ENTRADA 05:20,NaN,01/06/2024,JABA,NaN,ENTRADA,05:00,07:00,02:00,6h,1.0,FDS - 6HS,fds
4,[01/06/2024 05:39:37] Flavio Maia Castilho: 01...,01/06/2024,FLAVIO MAIA CASTILHO,01/06 SANTA - CASTILHO ENTRADA 05:40,NaN,01/06/2024,SANTA,NaN,ENTRADA,05:30,07:00,01:30,6h,1.0,FDS - 6HS,fds

In [43]:
count_freq(df, 'controle')

           Freq   Perc
controle
DESLOCADO    96  100.0

# Ultimos ajustes nos deslocados:

In [44]:
df['controle'][(df['PERIODO'] == '6h') & (df['controle'] == 'DESLOCADO')] = 'DESLOCADO 6H'
count_freq(df, 'controle')

              Freq    Perc
controle
DESLOCADO       69  71.875
DESLOCADO 6H    27  28.125

In [45]:
df['unidade2'] = df['unidade']

for i in range(0, len(df)):
    if isinstance(df.loc[i, 'unidade'], list):
        df['unidade'][i] = df['unidade'][i][0]

df['unidade'][df['unidade'] == 'VILA'] = 'VILLA'
df['unidade'][df['unidade'] == 'JABA'] = 'JABAQUARA'
df['unidade'][df['unidade'] == 'SANTA'] = 'SANTA ISABEL'

sorted(df['unidade'].unique())
count_freq(df, 'unidade')

              Freq       Perc
unidade
ITAIM          323  17.544813
MORUMBI        275  14.937534
ANALIA         266  14.448669
JABAQUARA      254  13.796850
OSASCO         236  12.819120
VILLA          220  11.950027
SANTA ISABEL    92   4.997284
VNS             79   4.291146
ALPHA           40   2.172732
AVICCENA        34   1.846822
MATERNIDADE     22   1.195003

# Salvando tudo:

In [46]:
salvando_nome_arquivo('df_gabs.xlsx', df)
print('.')
salvando_nome_arquivo('df_giov.xlsx', df_prob)

1841
.
186

# DISPENSADOS:

In [47]:
df = pd.read_excel('df_giov.xlsx')[['chat','dia','nome','mensagem']]
df = df.drop_duplicates(subset=['chat'])
df = df.sort_values(['nome', 'dia'])
print(len(df))
df.sample(3)

186

,chat,dia,nome,mensagem
5,[04/06/2024 10:51:34] Natan Soares Silveira: 0...,04/06/2024,NATAN SOARES SILVEIRA,04/06 HCT - NATAN - SAÍDA 10:30
78,[09/06/2024 10:19:47] Erick Oliveira Lima Gome...,09/06/2024,ERICK OLIVEIRA LIMA GOMES,09/06 MORUMBI - ERICK ENTRADA 07:00 ( D2B )...
29,[03/06/2024 10:19:52] Daniellen Lins Lourenço:...,03/06/2024,DANIELLEN LINS LOURENCO,03/06 JABAQUARA - DANIELLEN DISPENSADO

In [48]:
#RETIRANDO REGISTROS DE DISTANCIA E SAIDAS POR QUESTÃO DE SAUDE OU DISPENSA

df['controle'] = np.nan

#preparando para reconhecer corretamente

for i in range(0, len(df)):
    mensagem = unidecode.unidecode(df['mensagem'][i].upper())
    observacoes = re.findall(r'DISPENSADO|SAUDE|DISPENSADA', mensagem)
    quantidade_observacoes = len(observacoes)
    
    if quantidade_observacoes == 0:
        df['controle'][i] = 'PROB'
        
df['controle'].value_counts() 

#salvando
df_prob = df[df['controle'] == 'PROB']
df_prob.reset_index(drop=True, inplace=True)
print("unidades probs:", len(df_prob))

df = df[df['controle'] != 'PROB']
df.reset_index(drop=True, inplace=True)
print("unidade ok:", len(df))

unidades probs: 72
unidade ok: 114

In [49]:
#DATA DO PLANTÃO
df['controle'] = ''
df['data'] = ''

for i in range(0, len(df)):
    lista_datas = re.findall(r'[0-9]{1,2}\/[0-9]{1,2}', df['mensagem'][i]) #regex dd/mm
    quantidade_itens = len(lista_datas)
    
    if quantidade_itens == 1: #capturar apenas registros com uma data apenas
        df['data'][i] = lista_datas[0]
        df['controle'][i] = 'NORM'
    else: #restante com nenhuma ou mais de uma data
        df['controle'][i] = 'PROB'

#salvando
df_prob = pd.concat([df_prob, df[df['controle'] != 'NORM']])
df_prob.reset_index(drop=True, inplace=True)
print("data probs:", len(df_prob))

df = df[df['controle'] != 'PROB']
df.reset_index(drop=True, inplace=True)
print("datas ok:", len(df)) 

df['data'] = df['data']+"/2024"
sorted(df['data'].unique())

data probs: 72
datas ok: 114

['01/06/2024',
 '03/06/2024',
 '04/06/2024',
 '05/06/2024',
 '06/05/2024',
 '06/06/2024',
 '08/06/2024',
 '10/06/2024',
 '11/06/2024',
 '11/6/2024',
 '12/06/2024',
 '13/06/2024',
 '14/06/2024',
 '15/06/2024',
 '17/06/2024',
 '19/06/2024',
 '31/05/2024']

In [50]:
#retirando a data da mensagem para não atrapalhar no reconhecimento de hora
df['hora'] = ''

for i in range(0, len(df)):
    df['hora'][i] = df['mensagem'][i].replace(df['data'][i], '').strip() #substituindo a data por vazio
    
#substituindo "h" por ":" para capturar horarios 11h22
df['hora'] = df['hora'].apply(lambda x: x.upper().replace("H", ":"))

#Retirando aqueles que contem horas no registro da mensagem
for i in range(0, len(df)):
    mensagem = df['hora'][i]
    horas = re.findall(r'[0-9]{1,2}:[0-9]{1,2}', mensagem) #capturando horas HH:mm
    quantidade_horas = len(horas)
    
    if quantidade_horas >= 1: #capturando apenas com uma horas escrita
        df['hora'][i] = horas[0]
        df['controle'][i] = 'PROB'
    else: #restante com nenhuma ou mais horas (geralmente pq digitou a hora de entrada e saida {informação inutil})
        df['hora'][i] = ''
        df['controle'][i] = 'OK'
        
print(df['controle'].value_counts())

#salvando
df_prob = pd.concat([df_prob, df[df['controle'] != 'OK']])
df_prob.reset_index(drop=True, inplace=True)
print("probs:", len(df_prob))

df = df[df['controle'] == 'OK']
df.reset_index(drop=True, inplace=True)
print("ok:", len(df))

controle
OK      111
PROB      3
Name: count, dtype: int64
probs: 75
ok: 111

In [51]:
print(len(df_prob))
print(len(df))

75
111

In [52]:
df = df.drop_duplicates(subset=['chat'])

os.remove("df_giov.xlsx")
salvando_nome_arquivo('df_giov.xlsx', df_prob)
salvando_nome_arquivo('df_dispensados.xlsx', df)

75
111

# ===========================================

In [53]:
print(len(pd.DataFrame({'chat': read_file('_chat.txt') })))
print(len(pd.read_excel('df_dispensados.xlsx')))
print(len(pd.read_excel('df_gabs.xlsx')))
print(len(pd.read_excel('df_giov.xlsx')))

2027
111
1841
75