In [1]:
mes = "10"

In [2]:
#manipulação de dados
import pandas as pd
import numpy as np

#automação
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

#web scraping
import requests
from bs4 import BeautifulSoup

#string e data
import unidecode

#tempo
import time
from time import sleep
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.expected_conditions import (visibility_of, 
                                                           staleness_of, 
                                                           invisibility_of_element)

import warnings #Warning inuteis
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

import unidecode #arrumar strings

import re #regex
import os


#pacotes para manipular data
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

In [3]:
browser = webdriver.Firefox()

In [4]:
browser.get('https://www.pegaplantao.com.br/login')
sleep(1)
browser.find_element("xpath", '//*[@id="MainContent_LoginUser_UserName"]').send_keys('gabriel_s_anjos@yahoo.com') #e-mail
browser.find_element("xpath", '//*[@id="MainContent_LoginUser_Password"]').send_keys('Gabriel2022!') #senha
browser.find_element("xpath", '//*[@id="MainContent_LoginUser_btnLogin"]').click() #login

In [5]:
browser.get('https://www.pegaplantao.com.br/EscalaMensal')

In [6]:
#click setor/profissional
browser.find_element("xpath", '//*[@id="s2id_autogen1"]/a/span[1]').click()
#click [profissional]
browser.find_element("xpath", '//*[@id="select2-drop"]/ul/li[2]/div').click()

In [7]:
df_backup = pd.read_excel('df_gabs2.xlsx')

print(len(df_backup))
df_backup['setor_inicio'] = df_backup['setor'].apply(lambda x: x.replace(' - C.CIRURGICO',''))

df_backup = df_backup.sort_values(['nome', 'data'])
df_backup.reset_index(drop=True, inplace=True)

df = df_backup.copy()

df.head()

139

,chat,dia,nome,mensagem,controle,data,unidade,extra,tipo,ENTRADA,SAIDA,DURAÇÃO,PERIODO,periodo,setor,sem_ou_fds,unidade2,setor_inicio
0,[03/10/2023 19:58:08] Alexandre Amaral Lucas: ...,03/10/2023,ALEXANDRE AMARAL LUCAS,03/10 Osasco - alexandre Amaral saída 17:25,PROBS,03/10/2023,OSASCO,NaN,SAIDA,13:00,17:30,04:30,tarde,3,SEMANA - TARDE - C.CIRURGICO,semana,OSASCO,SEMANA - TARDE
1,[02/10/2023 17:03:33] Alexsander Takashi Hamad...,02/10/2023,ALEXSANDER TAKASHI HAMADA,02/10 Analia - Alex saída 16:55,PROBS,02/10/2023,ANALIA,NaN,SAIDA,13:00,17:00,04:00,tarde,3,SEMANA - TARDE - C.CIRURGICO,semana,ANALIA,SEMANA - TARDE
2,[04/10/2023 13:55:02] Alexsander Takashi Hamad...,04/10/2023,ALEXSANDER TAKASHI HAMADA,04/10 Villa Alex saída 13:50,PROBS,04/10/2023,VILLA,NaN,SAIDA,13:00,14:00,01:00,tarde,3,SEMANA - TARDE - C.CIRURGICO,semana,VILLA,SEMANA - TARDE
3,[03/10/2023 16:20:31] Aline Franchini Goulart ...,03/10/2023,ALINE FRANCHINI GOULART LIMA,03/10 ANÁLIA Aline saída 16:20,PROBS,03/10/2023,ANALIA,NaN,SAIDA,13:00,16:30,03:30,tarde,3,SEMANA - TARDE - C.CIRURGICO,semana,ANALIA,SEMANA - TARDE
4,[04/10/2023 15:17:57] Amanda Kiyoko Souza Koss...,04/10/2023,AMANDA KIYOKO SOUZA KOSSAKA,04/10 MORUMBI - Amanda saída 14:40,PROBS,04/10/2023,MORUMBI,NaN,SAIDA,13:00,15:00,02:00,tarde,3,SEMANA - TARDE - C.CIRURGICO,semana,MORUMBI,SEMANA - TARDE

In [8]:
df_backup['setor'].unique()

array(['SEMANA - TARDE - C.CIRURGICO', 'SEMANA - MANHA - C.CIRURGICO',
       'FDS - C.CIRURGICO ROTINA', 'SEMANA - 6HS', 'FDS - SAIDA',
       'FDS - PLANTAO'], dtype=object)

In [9]:
len(df_backup)

139

# web scraping e limpeza

In [10]:
#########2
#capturando registros
unidades = ['ADMINISTRACAO','ALPHA','ANALIA','AVICCENA',
            'ITAIM','JABAQUARA','MATERNIDADE','MORUMBI',
            'OSASCO','VILLA','VNS','SANTA ISABEL']

def funcao():
    lista_tabela = []
    for i in range(1, 6): #passando por cada semana[1 a 5]
    ##print('semana:', i, "=="*20)
        for t in range(1, 8): #passando por cada dia[1 a 7] dentro da semana
            reg = browser.find_element("xpath", '/html/body/form/main/div[2]/div[2]/table/tbody/tr['+str(i)+']/td['+str(t)+']').text
            content = reg.splitlines() #deixando as palavras em um item dentro de uma lista
            content = [unidecode.unidecode(i.strip().upper()) for i in content] #tratando cada palavra
            
            dia = content[0] #dia do registro
            del(content[0]) #deletando o dia, ja que foi coletado
            del(content[-1]) #deletando resido do wepscraping

            if len(content) != 0: #ignorando dias em branco (sem registro) ¹
                #print('dia:', t)

                ##print('dia:', dia)
                #print(content)

                count_hora = 0 #count para capturar a hora de entrada e saida, count=1(entrada) | count=2(saida)
                lista_control = []
                for y in content: #passando um for sobre cada item da lista
                    if y in unidades: # capturando a unidade e dando inicio a novo registro novo
                        #print('================unidade:', y)
                        unidade = y
                    elif y[2] == ':': #reconhecendo se o item é hora (HH*:*mm)
                        count_hora += 1
                        if count_hora == 1: #capturando entrada
                            #print('hora entrada:', y)
                            lista_control.append(y)
                        elif count_hora == 2: #capturando saida
                            #print('hora saida:', y)
                            lista_control.append(y)
                            ##print('lista teste', lista_control)
                            lista_tabela.append(lista_control)
                            lista_control = []
                            count_hora = 0
                    else: #capturando dia, unidade, e periodo
                        #print('.')
                        #print('periodo:', y)
                        lista_control.append(dia)
                        lista_control.append(unidade)
                        lista_control.append(y)
                        lista_control.append(i)
                        lista_control.append(t) #dia semanal

                ##print('='*20)    

            else:
                continue #ignorando dias em branco (sem registro) ²

    tabela = pd.DataFrame(lista_tabela, columns = ['Dia','Unidade','Periodo','Semana','Dia Semana','Entrada','Saida'])
    
    #limpeza da tabela
    #########3
    tabela['Dia'] = tabela['Dia'].apply(lambda x: int(x))

    #recolhendo os dias do mes passado que ainda aparecem na primeira semana
    dias_mes_passado = list(tabela[(tabela['Dia'] > 20) & (tabela['Semana'] == 1)].index) 
    tabela.drop(dias_mes_passado, axis=0, inplace=True) #excluindo
    tabela.reset_index(drop=True, inplace=True) #resetando index

    #Inserindo a ordem dos registros
    tabela['ordem'] = ''

    for i in tabela['Dia'].unique():
        for t in range(0, len(tabela[tabela['Dia'] == i].index)):
            tabela['ordem'][tabela[tabela['Dia'] == i].index[t]] = t+1

    #Inserindo coluna de data        
    tabela['data'] = tabela['Dia'].apply(lambda x: str(x))

    for i in range(len(tabela)):
        if len(tabela['data'][i]) == 1:
            tabela['data'][i] = "0" + tabela['data'][i]

        tabela['data'][i] = tabela['data'][i] + "/" + mes + "/2023" 

    tabela = tabela.query("Unidade != 'ADMINISTRACAO'")
    tabela = tabela[~((tabela['Semana'] >= 5) & (tabela['Dia'] < 10))]
    tabela.reset_index(drop=True, inplace=True) #resetando index
    
    return tabela
    
tabela = funcao()
tabela

Empty DataFrame
Columns: [Dia, Unidade, Periodo, Semana, Dia Semana, Entrada, Saida, ordem, data]
Index: []

# =================================================

In [11]:
len(df_backup)

139

In [12]:
count = 0

In [13]:
from selenium.webdriver.common.action_chains import ActionChains

action_chains = ActionChains(browser)

# alterando horario

In [20]:
#Para cada profissional na lista
df = df_backup[count:]

for i in df['nome'].unique():
    print("nome:", i)
    df_nome = df[df['nome'] == i]
    df_nome.reset_index(drop=True, inplace=True)
    
    browser.find_element("xpath", '//*[@id="s2id_ddlProfessionals"]/a/span[1]').click()
    #browser.find_element("xpath", '/html/body/form/main/div[2]/div[2]/div/div[1]/div[3]/professionals/div/a/span[2]/b').click()
    sleep(2)
    
    browser.find_element("xpath", '/html/body/div[8]/div/input').send_keys(i)
    browser.find_element("xpath", '//*[@id="select2-drop"]/ul/li/div').click()

    #esperando carregamento do site
    WebDriverWait(browser, 30).until_not(visibility_of(browser.find_element("xpath", '//*[@id="loader"]')))

    
    tabela = funcao()    
    sleep(2)
    
    #Para cada registro na lista_nome
    for t in range(len(df_nome)):
        print(df_nome['mensagem'][t])
        
        dia_sel = tabela[(tabela['Unidade'] == df_nome['unidade'][t]) & (tabela['data'] == df_nome['data'][t])] # & (tabela['Periodo'] == df_nome["setor"][t])]
        
        if df_nome['PERIODO'][t] == 'manha' and df_nome['sem_ou_fds'][t] == 'fds':
            dia_sel = dia_sel[dia_sel['Entrada'] == '07:00']
        else:
            dia_sel = dia_sel[dia_sel['Periodo'].str.startswith(df_nome["setor_inicio"][t])]
        
        
        dia_sel.reset_index(drop=True, inplace=True)
        #dia_sel
        
        if len(dia_sel) == 0:
            print(count, "-> PROB")
            df_backup['controle'][count] = "PROB"
        else:
            #abrindo/selecionando periodo conforme localização
            elemento = browser.find_element("xpath", '//*[@id="shift-monthly"]/div[2]/table/tbody/tr['+str(dia_sel['Semana'][0])+']/td['+str(dia_sel['Dia Semana'][0])+']/ul['+str(dia_sel['ordem'][0])+']/li')
            elemento.click()
            
            #Esperar componentes carregarem
            WebDriverWait(browser, 10).until(visibility_of(browser.find_element("xpath", '//*[@id="service-ckb-list-all-owner"]')))
            
            #Inicio do plantão
            browser.find_element("xpath", '//*[@id="txtServiceStartTime"]').clear()
            browser.find_element("xpath", '//*[@id="txtServiceStartTime"]').send_keys(df_nome['ENTRADA'][t])
            sleep(1)
            #print('hora de entrada:', df_nome['ENTRADA'][t], '\nhora de saida:', df_nome['SAIDA'][t])
            #Duração do plantão
            browser.find_element("xpath", '//*[@id="txtServiceDuration"]').clear()
            browser.find_element("xpath", '//*[@id="txtServiceDuration"]').send_keys(df_nome['DURAÇÃO'][t])
            #print('duração do plantão', df_nome['DURAÇÃO'][t])
            
            #salvar plantão
            sleep(1)
            browser.find_element("xpath", '/html/body/div[5]/div/div[1]/div[2]/button[5]').click()
            browser.find_element("xpath", '/html/body/div[5]/div/div[1]/div[2]/button[5]').click()
            sleep(0.2)
            #browser.find_element("xpath", '/html/body/div[5]/div/div[1]/div[2]/button[5]').click()
            #browser.find_element("xpath", '/html/body/div[5]/div/div[1]/div[2]/button[5]').click()
            sleep(4)
            print(count, "-> OK")
            df_backup['controle'][count] = "OK"
            WebDriverWait(browser, 10).until(visibility_of(browser.find_element("xpath", '//*[@id="s2id_ddlProfessionals"]/a/span[1]')))
            sleep(0.5)
            
        count += 1 
        if count % 25 == 0:
            print('='*80)
            print(df_backup['controle'].value_counts())
            print('='*80)
    print("\n")
    
print("="*50, 'TERMINOU', "="*50)
print('Total  ', len(df_backup))
print(df_backup['controle'].value_counts())

nome: RODRIGO ANTONIO REY GONZALEZ
03/10 ANÁLIA  -  Rey saida 14:15
114 -> OK


nome: RODRIGO GOMES MINAS NOVAS
03/10  -  OSASCO  -  Gomes saída 16:55
115 -> OK


nome: RODRIGO MARTINS PEREIRA
04/10 MORUMBI  -  pereira saída 13:50   (  deslocado Analia  )
116 -> OK


nome: RODRIGO MIYASHIRO NUNES DOS SANTOS
03/10 MORUMBI  -  Miyashiro saida 12:45
117 -> OK


nome: ROMULO SPOLIDORIO
04/10 Jabaquara Rômulo saída 10:55
118 -> OK


nome: RONALD FIGUEIREDO GOMES
04/10 CENTRAL  -  Ronald saida 15:20
119 -> OK


nome: SIDNEY ORLANDO DE SOUZA
02/10 Itaim - Sidney - saida 10:15
120 -> OK
04/10 - Itaim -  Sidney - saida: 09:00
121 -> OK


nome: STEFANY HELLEN SOUSA MARTINS
04/10 Jabaquara stefany saida 13:10
122 -> OK


nome: THAIS BOSI NONATO
03/10 Jabaquara  -  Bosi saída 16:00
123 -> OK


nome: THAIS CHAVES PINHEIRO
02/10 Itaim  -  Thaís entrada 06:25
124 -> OK
================================================================================
OK       119
PROBS     14
PROB       6
Name: controle, dtype: int64
================================================================================


nome: THAIS MIRANDA RAMOS
03/10 JABAQUARA  -  Miranda saída às 16:20
125 -> OK


nome: THALES LUVISOTTO NEDER
03/10 Jabaquara  -  Thales saída 13:10
126 -> OK
04/10 Jabaquara  -  Thales saída 14:20
127 -> OK


nome: THASSIO CUNHA DE SANTANA
04/10 Jabaquara  -  Thassio saída 17:15
128 -> OK


nome: THIAGO BARRETO MARQUES DA SILVA
02/10 Anália  -  Naldo saída 17:00
129 -> OK
03/10 Villa Naldo saída 16:50
130 -> OK


nome: THIAGO FRANCISCO MARTINS
03/10 VNS Thiago Martins saida 09:20
131 -> OK


nome: THIAGO SILVA PINTO
02/10 JABAQUARA  -  T. Silva saida 17:10
132 -> OK


nome: VANESSA PACIULLO MAROSSI
02/10 Alpha  -  Vanessa saída 15:10
133 -> OK


nome: VITOR LUIZ ASSUNCAO MARTINS
03/10 Itaim  -  Assunção saída 13:35   (  pós - plantão MATE  -  deslocado Osasco  )
134 -> PROB


nome: VITOR OLIVEIRA ANDRE
03/10 VNS Vitor saída 15:29
135 -> OK


nome: VIVIAN CRISTINE DOS ANJOS E SILVA
02/10 Jabaquara Vivian saida 13:45   (  deslocada Anália  )
136 -> OK
03/10 VILLA Vivian saida 17:10
137 -> OK


nome: YURI ANDERSON PACHECO DE LIMA
04/10 Itaim  -  Yuri saída 14:00
138 -> OK


================================================== TERMINOU ==================================================
Total   139
OK      132
PROB      7
Name: controle, dtype: int64

In [47]:
count

342

In [55]:
df_backup['controle'][count] = 'OK'
count += 1

In [24]:
df_backup['controle'][10] = "OK"

In [ ]:
df_backup['nome'][count-2:count+2]

In [24]:
print('De:', count)
df_backup['controle'][count] = "PROB"
count += 1
print('Para:', count)

De: 38
Para: 39

# Salvando dataframe

In [21]:
df_backup['controle'].value_counts()

OK      132
PROB      7
Name: controle, dtype: int64

In [22]:
df_corrigidos = df_backup[df_backup['controle'] == "OK"]
print("probs ok:", len(df_corrigidos))

df_prob = df_backup[df_backup['controle'] != "OK"]
print("probs:", len(df_prob))

probs ok: 132
probs: 7

In [23]:
def salvando_nome_arquivo(nome_arquivo, dataframe):
    if os.path.exists(nome_arquivo): #O nome_arquivo existe
        df1 = pd.read_excel(nome_arquivo)
        dataframe = pd.concat([df1, dataframe]).reset_index(drop=True)
        dataframe.to_excel(nome_arquivo, index=False)
        print("+=", len(df1), '; len =', len(dataframe)) 

    else: #O nome_arquivo não existe
        dataframe.to_excel(nome_arquivo, index=False)
        print("len =", len(dataframe)) 
        
salvando_nome_arquivo('Feitos.xlsx', df_corrigidos)
os.remove("df_gabs2.xlsx")
print('.')
salvando_nome_arquivo('df_giov2.xlsx', df_prob)

+= 284 ; len = 416
.
len = 7

# Fim Periodo 1

In [ ]:
browser.quit()