In [1]:
mes = "06"

In [2]:
#manipulação de dados
import pandas as pd
import numpy as np

#automação
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

#web scraping
import requests
from bs4 import BeautifulSoup

#string e data
import unidecode

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

#tempo
import time
from time import sleep
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.expected_conditions import (visibility_of, 
                                                           staleness_of, 
                                                           invisibility_of_element)

import warnings #Warning inuteis
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [3]:
desloc = pd.read_excel('desloc.xlsx')
desloc

,chat,dia,nome,mensagem,controle,data,unidade,Q_unidades,sit,extra,tipo,hora,sem_ou_fds,hora2,ENTRADA,SAIDA,PERIODO,DURAÇÃO,setor
0,[29/06/2023 16:27:17] Marcelo Felipe de Souza ...,29/06/2023,MARCELO FELIPE DE SOUZA BUTO,29/06 OSASCO - BUTO SAIDA 16:20 ( DESLOCADO I...,PROB,29/06/2023,OSASCO,2,DESLOCADO,NaN,SAIDA,16:30,semana,16:20:00,13:00,16:30,tarde,03:30,SEMANA - TARDE - C.CIRURGICO
1,[29/06/2023 17:16:59] Bianca Priscila Buniotti...,29/06/2023,BIANCA PRISCILA BUNIOTTI,29/06 ITAIM - BIANCA SAIDA 15:30 ( PÓS PLANTÃ...,PROB,29/06/2023,ITAIM,2,DESLOCADO,NaN,SAIDA,15:30,semana,15:30:00,13:00,15:30,tarde,02:30,SEMANA - TARDE - C.CIRURGICO
2,[30/06/2023 05:17:59] Francisco Antonio Alves ...,30/06/2023,FRANCISCO ANTONIO ALVES BONATTO,30/06 ANÁLIA - FRANCISCO ENTRADA 05:10 ( DESL...,PROB,30/06/2023,ANALIA,2,DESLOCADO,NaN,ENTRADA,05:00,semana,05:10:00,05:00,07:00,6h,02:00,SEMANA - 6HS
3,[30/06/2023 10:39:21] Gabriela Santos Menezes:...,30/06/2023,GABRIELA SANTOS MENEZES,30/06 OSASCO - G.MENEZES ENTRADA 06:20 ( DESL...,PROB,30/06/2023,OSASCO,2,DESLOCADO,NaN,ENTRADA,06:00,semana,06:20:00,06:00,07:00,6h,01:00,SEMANA - 6HS

In [4]:
desloc['controle'] = None

In [5]:
#tempo
import time
from time import sleep
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.expected_conditions import (visibility_of, 
                                                           staleness_of, 
                                                           invisibility_of_element)


browser = webdriver.Firefox()

In [6]:
browser.get('https://www.pegaplantao.com.br/login')
sleep(1)
browser.find_element("xpath", '//*[@id="MainContent_LoginUser_UserName"]').send_keys('gabriel_s_anjos@yahoo.com') #e-mail
browser.find_element("xpath", '//*[@id="MainContent_LoginUser_Password"]').send_keys('Gabriel2022!') #senha
browser.find_element("xpath", '//*[@id="MainContent_LoginUser_btnLogin"]').click() #login

In [7]:
browser.get('https://www.pegaplantao.com.br/EscalaMensal')

In [8]:
#click setor/profissional
browser.find_element("xpath", '//*[@id="s2id_autogen1"]/a/span[1]').click()
#click [profissional]
browser.find_element("xpath", '//*[@id="select2-drop"]/ul/li[2]/div').click()

In [9]:
browser.find_element("xpath", '//*[@id="s2id_ddlProfessionals"]/a/span[1]').click()

In [10]:
browser.find_element("xpath", '/html/body/div[6]/div/input').send_keys(desloc['nome'][0])
browser.find_element("xpath", '//*[@id="select2-drop"]/ul/li/div').click()

#esperando carregamento do site
WebDriverWait(browser, 30).until_not(visibility_of(browser.find_element("xpath", '//*[@id="loader"]')))

False

In [11]:
html = browser.page_source
soup = BeautifulSoup(html, 'lxml')
tab = soup.find('table')
tbody = tab.tbody
td = tbody.find_all('td')

In [12]:
##unwanted = tbody.find_all('td', class_="another-month")

In [13]:
##for i in unwanted:
  #  i.extract()

In [12]:
# cria lista dos dias dos mes, com 00 no lugar de dias de outros meses
dias = []
for i in td:
    try:
        if i['class'] == ['another-month']:
            dias.append('00')
    except:
        spans = i.find('span', {'class':"day-number"}).text
        dias.append(spans)

In [13]:
#cria um df com a lista dias na posição certa 
tabela = pd.DataFrame(np.array(dias).reshape(5,7), columns=['1','2','3','4','5','6','7'], index=['1','2','3','4','5'])

In [14]:
tabela

    1   2   3   4   5   6   7
1  00  00  00  01  02  03  04
2  05  06  07  08  09  10  11
3  12  13  14  15  16  17  18
4  19  20  21  22  23  24  25
5  26  27  28  29  30  00  00

In [15]:
def existencia(caminho):
    try:
        browser.find_element("xpath", caminho)
        return True
    except NoSuchElementException:
        return False

In [16]:
apagar = desloc['data'][0][:2]

In [17]:
apagar

'29'

In [19]:
count = 0

##tr e td começam em 1 , índices e colunas em 0
tr_ind = str(np.where(tabela==apagar)[0]+1)
td_ind = str(np.where(tabela==apagar)[1]+1)
while(existencia('/html/body/form/main/div[2]/div[2]/table/tbody/tr'+tr_ind+'/td'+td_ind+'/ul[1]/li')):
    elemento = browser.find_element("xpath", '/html/body/form/main/div[2]/div[2]/table/tbody/tr'+tr_ind+'/td'+td_ind+'/ul[1]/li')
    elemento.click()
    sleep(4)
    botao = browser.find_element(By.CSS_SELECTOR, 'button.pp-c-btn:nth-child(3)')
    botao.click()
    sleep(4)
    botao2 = browser.find_element(By.CSS_SELECTOR, 'button.btnpp-info:nth-child(4)')
    botao2.click()
    sleep(4)
    print(str(count)+': apagado'+' deslocamento de '+desloc['nome'][0]+" em "+desloc['data'][0])

0: apagado deslocamento de MARCELO FELIPE DE SOUZA BUTO em 29/06/2023
0: apagado deslocamento de MARCELO FELIPE DE SOUZA BUTO em 29/06/2023
0: apagado deslocamento de MARCELO FELIPE DE SOUZA BUTO em 29/06/2023

In [20]:
if existencia('/html/body/form/main/div[2]/div[2]/table/tbody/tr'+tr_ind+'/td'+td_ind+'/ul[1]/li') is False:
    desloc['controle'][0] = 'CERTO'
    count += 1
else: 
    desloc['controle'][0] = 'PROB'
    count += 1
    print(str(count)+": deu erro de "+desloc['nome'][0]+" em "+desloc['data'][0])

In [21]:
count

1

In [22]:
for plt in range(count, len(desloc)):
    html = browser.find_element(By.TAG_NAME, 'html')
    html.send_keys(Keys.HOME) #subir a tela pois se não aparecer o campo não clica
    WebDriverWait(browser, 10).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="s2id_ddlProfessionals"]/a/span[1]')))
    sleep(0.5)
    browser.find_element("xpath", '//*[@id="s2id_ddlProfessionals"]/a/span[1]').click()
    browser.find_element("xpath", '/html/body/div[8]/div/input').send_keys(desloc['nome'][plt])
    browser.find_element("xpath", '//*[@id="select2-drop"]/ul/li/div').click()
    sleep(4)
    apagar = desloc['data'][plt][:2] #dia do mês correspondente, para localizar na tabela
    
    ### a parte abaixo, SE MANTIVER NO MESMO MES, já foi executada acima e não precisa rerodar
   # html = browser.page_source
    #soup = BeautifulSoup(html, 'lxml')
    #tab = soup.find('table')
   # tbody = tab.tbody
   # td = tbody.find_all('td')
    
    #dias = []
    #for i in td:
       # try:
         #   if i['class'] == ['another-month']:
         #       dias.append('00')
       # except:
       #     spans = i.find('span', {'class':"day-number"}).text
       #     dias.append(spans)
            
   # tabela = pd.DataFrame(np.array(dias).reshape(5,7), columns=['1','2','3','4','5','6','7'], index=['1','2','3','4','5'])
    
    ##tr e td começam em 1 , índices e colunas em 0
    tr_ind = str(np.where(tabela==apagar)[0]+1)
    td_ind = str(np.where(tabela==apagar)[1]+1)
    while(existencia('/html/body/form/main/div[2]/div[2]/table/tbody/tr'+tr_ind+'/td'+td_ind+'/ul[1]/li')):
        elemento = browser.find_element("xpath", '/html/body/form/main/div[2]/div[2]/table/tbody/tr'+tr_ind+'/td'+td_ind+'/ul[1]/li')
        elemento.click()
        sleep(4)
        botao = browser.find_element(By.CSS_SELECTOR, 'button.pp-c-btn:nth-child(3)')
        botao.click()
        sleep(4)
        botao2 = browser.find_element(By.CSS_SELECTOR, 'button.btnpp-info:nth-child(4)')
        botao2.click()
        sleep(4)
        print(str(count)+': apagado'+' deslocamento de '+desloc['nome'][plt]+" em "+desloc['data'][plt])
    
    if existencia('/html/body/form/main/div[2]/div[2]/table/tbody/tr'+tr_ind+'/td'+td_ind+'/ul[1]/li') is False:
        desloc['controle'][plt] = 'CERTO'
        count += 1
    else: 
        desloc['controle'][plt] = 'PROB'
        count += 1
        print(str(count)+": deu erro de "+desloc['nome'][plt]+" em "+desloc['data'][plt])

1: apagado deslocamento de BIANCA PRISCILA BUNIOTTI em 29/06/2023
1: apagado deslocamento de BIANCA PRISCILA BUNIOTTI em 29/06/2023
2: apagado deslocamento de FRANCISCO ANTONIO ALVES BONATTO em 30/06/2023
2: apagado deslocamento de FRANCISCO ANTONIO ALVES BONATTO em 30/06/2023
3: apagado deslocamento de GABRIELA SANTOS MENEZES em 30/06/2023
3: apagado deslocamento de GABRIELA SANTOS MENEZES em 30/06/2023

In [23]:
desloc

,chat,dia,nome,mensagem,controle,data,unidade,Q_unidades,sit,extra,tipo,hora,sem_ou_fds,hora2,ENTRADA,SAIDA,PERIODO,DURAÇÃO,setor
0,[29/06/2023 16:27:17] Marcelo Felipe de Souza ...,29/06/2023,MARCELO FELIPE DE SOUZA BUTO,29/06 OSASCO - BUTO SAIDA 16:20 ( DESLOCADO I...,CERTO,29/06/2023,OSASCO,2,DESLOCADO,NaN,SAIDA,16:30,semana,16:20:00,13:00,16:30,tarde,03:30,SEMANA - TARDE - C.CIRURGICO
1,[29/06/2023 17:16:59] Bianca Priscila Buniotti...,29/06/2023,BIANCA PRISCILA BUNIOTTI,29/06 ITAIM - BIANCA SAIDA 15:30 ( PÓS PLANTÃ...,CERTO,29/06/2023,ITAIM,2,DESLOCADO,NaN,SAIDA,15:30,semana,15:30:00,13:00,15:30,tarde,02:30,SEMANA - TARDE - C.CIRURGICO
2,[30/06/2023 05:17:59] Francisco Antonio Alves ...,30/06/2023,FRANCISCO ANTONIO ALVES BONATTO,30/06 ANÁLIA - FRANCISCO ENTRADA 05:10 ( DESL...,CERTO,30/06/2023,ANALIA,2,DESLOCADO,NaN,ENTRADA,05:00,semana,05:10:00,05:00,07:00,6h,02:00,SEMANA - 6HS
3,[30/06/2023 10:39:21] Gabriela Santos Menezes:...,30/06/2023,GABRIELA SANTOS MENEZES,30/06 OSASCO - G.MENEZES ENTRADA 06:20 ( DESL...,CERTO,30/06/2023,OSASCO,2,DESLOCADO,NaN,ENTRADA,06:00,semana,06:20:00,06:00,07:00,6h,01:00,SEMANA - 6HS

In [24]:
count

4

In [25]:
len(desloc)

4

In [26]:
desloc

,chat,dia,nome,mensagem,controle,data,unidade,Q_unidades,sit,extra,tipo,hora,sem_ou_fds,hora2,ENTRADA,SAIDA,PERIODO,DURAÇÃO,setor
0,[29/06/2023 16:27:17] Marcelo Felipe de Souza ...,29/06/2023,MARCELO FELIPE DE SOUZA BUTO,29/06 OSASCO - BUTO SAIDA 16:20 ( DESLOCADO I...,CERTO,29/06/2023,OSASCO,2,DESLOCADO,NaN,SAIDA,16:30,semana,16:20:00,13:00,16:30,tarde,03:30,SEMANA - TARDE - C.CIRURGICO
1,[29/06/2023 17:16:59] Bianca Priscila Buniotti...,29/06/2023,BIANCA PRISCILA BUNIOTTI,29/06 ITAIM - BIANCA SAIDA 15:30 ( PÓS PLANTÃ...,CERTO,29/06/2023,ITAIM,2,DESLOCADO,NaN,SAIDA,15:30,semana,15:30:00,13:00,15:30,tarde,02:30,SEMANA - TARDE - C.CIRURGICO
2,[30/06/2023 05:17:59] Francisco Antonio Alves ...,30/06/2023,FRANCISCO ANTONIO ALVES BONATTO,30/06 ANÁLIA - FRANCISCO ENTRADA 05:10 ( DESL...,CERTO,30/06/2023,ANALIA,2,DESLOCADO,NaN,ENTRADA,05:00,semana,05:10:00,05:00,07:00,6h,02:00,SEMANA - 6HS
3,[30/06/2023 10:39:21] Gabriela Santos Menezes:...,30/06/2023,GABRIELA SANTOS MENEZES,30/06 OSASCO - G.MENEZES ENTRADA 06:20 ( DESL...,CERTO,30/06/2023,OSASCO,2,DESLOCADO,NaN,ENTRADA,06:00,semana,06:20:00,06:00,07:00,6h,01:00,SEMANA - 6HS

# Salvando dataframe

In [27]:
desloc[desloc['controle'] == 'CERTO' ].to_excel("desloc_apagadook.xlsx", index=False)

In [28]:
desloc[desloc['controle'] == 'PROB' ].to_excel("desloc_apagadogiova.xlsx", index=False)

###Fim Periodo

In [29]:
browser.quit()